<template>
    <div id="contacts">
        Contacts
        <v-btn @click="testClick">test</v-btn>
    </div>
</template>

<script>
    export default {
        name: 'Contacts',
        methods: {
            testClick () {
                let myNotification = new Notification('Title', {
                    body: 'Lorem Ipsum Dolor Sit Amet',
                    badge: 'test badge',
                    data: {
                        someData: 'test data'
                    },
                    icon: './src/assets/logo.svg',
                    // image:'test image',,
                    tag: 'IronMax'
                })
                myNotification.onclick = () => {
                    console.log('Notification clicked')
                }
                myNotification.onclose = () => {
                    console.log('Notification onclose')
                }
                myNotification.onerror = () => {
                    console.log('Notification onerror')
                }
                myNotification.onshow = () => {
                    console.log('Notification onshow')
                }
            }
        }
    }
</script>
