<template>
    <v-container
        class="align-self-stretch align-content-start"
        fluid
        id="dashboard"
    >
        {{ $t('dashboard.description') }}
        <v-row>
            <v-col>
                <dashboard-block
                    :name="'missing_patrols'"
                    :counter="missing_patrols"
                    :link="{ name: 'sidebar.reports.exceptions' }"
                    :overlay="overlays.missing_patrols"
                    :subtitle="$t('dashboard.blocks.missing_patrols.name')"
                    icon="$app-icon-missing-patrols"
                    icon-color="#84A078"
                />
            </v-col>
            <v-col>
                <dashboard-block
                    :name="'missing_barcodes'"
                    :counter="missing_all_barcodes"
                    :link="{ name: 'sidebar.reports.patrol' }"
                    :overlay="overlays.missing_all_barcodes"
                    :subtitle="$t('dashboard.blocks.missing_barcodes.name')"
                    icon="$app-icon-miss-barcodes"
                    icon-color="#97adf8"
                />
            </v-col>
            <v-col>
                <dashboard-block
                    :name="'incident_reports'"
                    :counter="incident_reports"
                    :link="{ name: 'sidebar.reports.incident' }"
                    :overlay="overlays.incident_reports"
                    :subtitle="$t('dashboard.blocks.incident_reports.name')"
                    icon="$app-icon-incident"
                    icon-color="#f7d87f"
                />
            </v-col>
            <v-col>
                <dashboard-block
                    :name="'emergency_events'"
                    :counter="emergency_events"
                    :link="{ name: 'sidebar.reports.emergency' }"
                    :overlay="overlays.emergency_events"
                    :subtitle="$t('dashboard.blocks.emergency_events.name')"
                    icon="$app-icon-emergency"
                    icon-color="#ed1c24"
                />
            </v-col>
        </v-row>
        <v-row>
            <v-col class="fill-height align-stretch">
                <Map/>
            </v-col>
        </v-row>
    </v-container>
</template>
<script>
    import Map from '../components/dashboard/Map'
    import { mapGetters, mapState } from 'vuex'
    import DashboardBlock from './dashboard/DashboardBlock'

    export default {
        name: 'Dashboard',
        components: { DashboardBlock, Map },
        computed: {
            ...mapState('dashboardBlocks', [
                'missing_patrols',
                'emergency_events',
                'incident_reports',
                'overlays'
            ]),
            ...mapGetters('dashboardBlocks', ['missing_all_barcodes'])
        },
    }
</script>
