<template>
    <v-list id="event_board">
        <ScrollToComponent
            v-for="event in sortedEvents"
            :key="event.id"
            :ref="`alert_${event.id}`"
            :options="{ behavior: 'smooth' }"
        >
            <EventBlock
                v-slot="{ color }"
                :alter-interval="500"
                :enable="enableAlert"
                alert-color="#47536c"
                base-color="#2a3140"
            >
                <v-alert :color="color" class="event_block" dark prominent tile>
                    <template v-slot:prepend>
                        <v-icon
                            :color="iconByStatusCode(event.code).color"
                            size="35"
                        >
                            {{ iconByStatusCode(event.code).text }}
                        </v-icon>
                    </template>

                    <div class="mx-4 text-center">
                        <template v-if="event.type === 'facility'">
                            <template v-if="event.code === 's_tb_em'">
                                <div
                                    v-html="
                                        $tc('events.s_tb_em',
                                        event.event_data.expected_reports,
                                         {
                                            date: $options.filters.dateStr(
                                                event.event_data.timezone_time_point
                                            ),
                                            time: $options.filters.fromGroupTimes(
                                                event.time_group
                                            ),
                                            facility: event.event_data.facility.name,
                                            num: event.event_data.expected_reports
                                        })
                                    "
                                />
                            </template>
                            <template v-else>
                                <div
                                    v-html="
                                        $t('events.s_tb_ls', event.event_data.expected_reports, {
                                            date: $options.filters.dateStr(
                                                event.event_data.timezone_time_point
                                            ),
                                            time: $options.filters.fromGroupTimes(
                                                event.time_group
                                            ),
                                            facility: event.event_data.facility.name
                                        })
                                    "
                                />
                            </template>
                        </template>

                        <template v-else>
                            <template v-if="event.code === 's_em'">
                                <div
                                    v-html="
                                        $t('events.s_em', {
                                            date: $options.filters.dateTimeStr(
                                                event.event_data.report
                                                    .created_at
                                            ),
                                            facility: event.event_data.facility.name
                                        })
                                    "
                                />
                            </template>
                            <template v-if="event.code === 's_in'">
                                <div
                                    v-html="
                                        $t('events.s_in', {
                                            date: $options.filters.dateTimeStr(
                                                event.event_data.report
                                                    .created_at
                                            ),
                                            facility: event.event_data.facility.name
                                        })
                                    "
                                />
                            </template>

                            <template v-if="event.code === 's_bc_ls'">
                                <div
                                    v-html="
                                        $t('events.s_bc_ls', {
                                            date: $options.filters.dateTimeStr(
                                                event.event_data.timezone_time_point
                                            ),
                                            facility: event.event_data.facility.name
                                        })
                                    "
                                />
                            </template>
                            <template v-if="event.code === 's_ch'">
                                <div
                                    v-html="
                                        $t('events.s_ch', {
                                            date: $options.filters.dateTimeStr(
                                                event.event_data.start_date_time
                                            ),
                                            facility: event.event_data.facility.name
                                        })
                                    "
                                />
                            </template>
                            <template v-if="event.code === 's_mt_d'">
                                <div
                                    v-html="
                                        $t('events.s_mt_d', {
                                            date: $options.filters.dateTimeStr(
                                                event.created_at
                                            ),
                                            facility: event.event_data.facility.name
                                        })
                                    "
                                />
                            </template>
                            <template v-if="event.code === 's_mt_t'">
                                <div
                                    v-html="
                                        $t('events.s_mt_t', {
                                            date: $options.filters.dateTimeStr(
                                                event.created_at
                                            ),
                                            facility: event.event_data.facility.name
                                        })
                                    "
                                />
                            </template>
                        </template>
                        <!--                </v-btn>-->
                    </div>

                    <template v-slot:append>
                        <v-btn icon @click="read(event.id)">
                            <v-icon size="35">
                                mdi-close
                            </v-icon>
                        </v-btn>
                    </template>
                </v-alert>
            </EventBlock>
        </ScrollToComponent>
    </v-list>
</template>

<script>
import {mapActions, mapGetters} from 'vuex'
import moment from 'moment'
import ScrollToComponent from '../ui/ScrollToComponent'
import EventBlock from './events_board/EventBlock'
import {format_date, format_short_date_time} from '../helpers/datetimes'
import i18n from '../i18n'

export default {
    name: 'EventsBoard',
    components: {EventBlock, ScrollToComponent},
    filters: {
        dateTimeStr(val) {
            return format_short_date_time(val, i18n.locale)
        },
        dateStr(val) {
            return format_date(val, i18n.locale)
        },
        fromGroupTimes(val) {
            const times = val.split('-') // 12:30:00-12:40:00
            return `${moment(times[0], [moment.ISO_8601, 'HH:mm:ss'])
                .format(
                    'HH:mm'
                )}-${moment(times[1], [moment.ISO_8601, 'HH:mm:ss'])
                .format(
                    'HH:mm'
                )}`
        }
    },
    props: {
        useScroll: {
            type: Boolean,
            default: false,
            cache: false
        },
        useAlert: {
            type: Boolean,
            default: false,
            cache: false
        }
    },
    data: () => ({
        enableAlert: false
    }),
    computed: {
        ...mapGetters('notification', ['notifications']),
        sortedEvents() {
            /**
             * @see app/vov/config/patrol_events.php
             */
            const sorter = [
                {
                    keys: ['s_em', 's_in'],
                    weight: 1
                },
                {
                    keys: ['s_tb_ls', 's_tb_em', 's_ch'],
                    weight: 3
                },
                {
                    keys: ['s_bc_ls'],
                    weight: 5
                }
            ].reduce((list, item) => {
                item.keys.map(key => (list[key] = item.weight))
                return list
            }, [])
            return this.notifications.slice(0)
                .sort(
                    (a, b) =>
                        sorter[a.code] - sorter[b.code] ||
                        moment(b.created_at) - moment(a.created_at)
                )
        }
    },
    methods: {
        iconByStatusCode(code) {
            switch (code) {
                case 's_bc_ls':
                    return {
                        color: '#97adf8',
                        text: '$app-icon-miss-barcodes'
                    }
                case 's_in':
                    return {
                        color: '#f7d87f',
                        text: '$app-icon-incident'
                    }
                case 's_em':
                    return {
                        color: '#ed1c24',
                        text: '$app-icon-emergency'
                    }
                default:
                    return {
                        color: '#779270',
                        text: '$app-icon-missing-patrols'
                    }
            }
        },
        ...mapActions('notification', ['read'])
    }
}
</script>

<style lang="scss">
$alert-border-width: "2px";
#event_board {
    max-height: 100vh;
    padding: 0;

    .event_block {
        font-size: 14px !important;
        margin-bottom: 1px;
    }

    & > span:last-child {
        .event_block {
            margin-bottom: 0;
        }
    }
}
</style>
