<template>
    <v-navigation-drawer
        :right="!$vuetify.rtl"
        absolute
        id="events_side"
        style="z-index: 5; width: auto !important;"
        temporary
        touchless
        v-if="notifications_count > 0"
        v-model="event_drawer"
    >
        <template v-slot:prepend>
            <v-list color="#2A3140" style="border-radius: 0" tile>
                <v-list-item dark>
                    <v-list-item-icon class="mr-0">
                        <v-btn @click.stop="changeEventBoard(false)" icon>
                            <v-icon
                            >mdi-chevron-{{
                                $vuetify.rtl ? 'left' : 'right'
                                }}
                            </v-icon
                            >
                        </v-btn>
                    </v-list-item-icon>

                    <v-list-item-content
                        class="text-center text-uppercase justify-center"
                    >
                        {{ $t('events.ui.total_events_count') }}
                        {{ notifications_count }}
                    </v-list-item-content>
                </v-list-item>
            </v-list>
            <v-divider/>
        </template>

        <EventsBoard
            :use-alert="config.ui.events.auto_open"
            :use-scroll="config.ui.events.auto_open"
            class="px-0"
        />

        <template v-slot:append>
            <v-divider/>

            <v-list tile>
                <v-list-item>
                    <v-tooltip top>
                        <template v-slot:activator="{ on }">
                            <v-btn @click="readAll" text v-on="on">
                                {{ $t('events.ui.read_all') }}
                            </v-btn>
                        </template>
                        <span>{{ $t('events.ui.read_all_tooltip') }}</span>
                    </v-tooltip>
                    <v-spacer/>
                    <v-switch
                        :input-value="config.ui.events.auto_open"
                        :label="$t('events.ui.auto_open')"
                        @change="toggleAutoOpen"
                    />
                </v-list-item>
            </v-list>
        </template>

        <v-overlay :absolute="true" color="#fff" opacity=".7" v-model="overlay">
            <v-img :src="require('../assets/Ironmax_loading.gif')"/>
        </v-overlay>
    </v-navigation-drawer>
</template>

<script>
    import EventsBoard from './EventsBoard'
    import { mapActions, mapGetters, mapState } from 'vuex'

    export default {
        name: 'EventsBoardNavigationDrawer',
        components: { EventsBoard },
        data: () => ({
            overlay: false
        }),
        computed: {
            event_drawer: {
                get () {
                    return this.show_events_board
                },
                set (value) {
                    this.changeEventBoard(value)
                }
            },
            ...mapGetters('notification', ['notifications_count']),
            ...mapState('notification', ['notifications', 'show_events_board', 'changes_in_notifications']),
            ...mapState('config', ['config'])
        },
        watch: {
            notifications: {
                handler (data) {
                    if (this.config.ui.events.auto_open && this.changes_in_notifications) {
                        data.length > 0 ? this.changeEventBoard(true) : null
                    }
                },
                deep: true
            },
        },
        methods: {
            ...mapActions('config', ['update']),
            ...mapActions('notification', ['readAll', 'changeEventBoard']),
            toggleAutoOpen (value) {
                this.update({ 'ui.events.auto_open': value })
            }
        }
    }
</script>

<style lang="scss">
    #events_side {
        .v-navigation-drawer__content {
            transition: 0.3s all;

            &::-webkit-scrollbar {
                width: 10px;
            }

            & {
                scrollbar-width: thin;
                scrollbar-color: var(--thumbBGLeave) var(--scrollbarBG);
            }

            &::-webkit-scrollbar-track {
                background: var(--scrollbarBG);
            }

            &::-webkit-scrollbar-thumb {
                background-color: var(--thumbBGLeave);
                border-radius: 6px;
                border: 3px solid var(--scrollbarBG);
            }

            &:hover {
                & {
                    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
                }

                &::-webkit-scrollbar-thumb {
                    background-color: var(--thumbBG);
                }
            }
        }
    }
</style>
