<template>
    <v-list
    dense
    >
        <v-list-item
            v-for="(item, i) in list"
            :key="i"
            dense
        >
            <v-list-item-content>
                <v-list-item-title v-text="item"/>
            </v-list-item-content>
        </v-list-item>
    </v-list>
</template>

<script>
export default {
    name: "MissedPointsList",
    props: {
        list: {
            type: Array,
            require: true,
            default: () => ([])
        }
    }
}
</script>
