<template>
    <div>
        <v-tooltip
            v-if="showList"
            color="#2A3140"
            content-class="no_padding"
            dark
            left
        >
            <v-subheader
                dark
                light
            >
                {{
                    $tc('tables.reports_patrol.rows.points.subheader', count_missed_point, {count: count_missed_point})
                }}
            </v-subheader>
            <template v-slot:activator="{on, attrs}">
                <v-btn
                    v-bind="attrs"
                    v-on="on"
                    :class="$vuetify.rtl ?'rtl_sp_fs' : null"
                    color="#2A3140"
                    outlined
                    x-small
                >
                    {{
                        $t("tables.reports_patrol.rows.points.status.error", {
                            missing: count_missed_point,
                            all: item.barcodes_should_be_scanned
                        })
                    }}
                </v-btn>
            </template>
            <MissedPointsList :list="item.missed_points"/>
        </v-tooltip>
        <v-btn v-else
               :class="$vuetify.rtl ?'rtl_sp_fs' : null"
               color="success"
               disabled
               outlined
               x-small
        >
            {{
                $tc("tables.reports_patrol.rows.points.status.ok", item.barcodes_should_be_scanned, {
                    count: item.barcodes_should_be_scanned
                })
            }}
        </v-btn>
    </div>
</template>

<script>
import MissedPointsList from "@/components/MissedPointsList";

export default {
    components: {MissedPointsList},
    props: {
        item: {
            type: Object,
            require: true,
            default: () => ({})
        }
    },
    name: "MissedPointBtnBlock",
    computed: {
        count_missed_point() {
            return this.item.barcodes_should_be_scanned - this.item.barcodes_scanned
        },
        showList() {
            return (this.item.barcodes_should_be_scanned - this.item.barcodes_scanned) > 0
        }
    }
}
</script>

<style lang="scss">
.no_padding {
    padding: 1px;
    border-radius: 3px;

    .v-list {
        border: 0;
        padding: 0;
        border-radius: 2px;
    }
}

.rtl_sp_fs {
    font-size: 12px !important;
}
</style>
