<template>
    <v-container
        class="align-self-stretch align-content-start"
        fluid
        id="patrols_create"
    >
        <v-select
            :items="facilities"
            :label="
                facility
                    ? $t('patrols.facilities.label_selected')
                    : $t('patrols.facilities.label')
            "
            @change="reOpenFacility"
            item-text="name"
            item-value="code"
            v-model="facility"
        />
        <router-view/>
    </v-container>
</template>

<script>
    import { mapActions, mapGetters, mapState } from 'vuex'
    import { Settings } from 'luxon'
    import 'vue-datetime/dist/vue-datetime.css'

    export default {
        name: 'Patrols',
        data: () => ({
            facility: null
        }),
        computed: {
            ...mapState('patrols', ['list', 'facilities']),
            ...mapGetters('patrols/facility', ['isChange'])
        },
        beforeMount () {
            Settings.defaultLocale = this.$i18n.locale
            this.facility = this.$router.history.current.params.id
            this.init()
        },
        methods: {
            ...mapActions('patrols', ['init']),
            reOpenFacility (val) {
                if (this.isChange) {
                    const confirm = window.confirm(
                        this.$t('alerts.confirm.haveUnsavedChanges')
                    )
                    if (confirm) {
                        this.$router.push({
                            name: 'sidebar.patrols.facility',
                            params: { id: val }
                        })
                    } else {
                        this.facility = this.$router.history.current.params.id
                    }
                } else {
                    this.$router.push({
                        name: 'sidebar.patrols.facility',
                        params: { id: val }
                    })
                }
            }
        }
    }
</script>
