#main_nav {
    &.v-navigation-drawer {

    }

    .v-navigation-drawer {
        &__content {
            overflow-y: hidden;
        }
    }
}

#facility {
    .v-slider--horizontal {
        .v-slider__ticks-container, .v-slider__track-container {
            top: 50% !important;
            transform: none !important;
        }
    }
}
