<template>
    <v-app id="inspire">
        <v-navigation-drawer
            :mini-variant="mini"
            :right="$vuetify.rtl"
            app
            :temporary="temporary"
            color="#2A3140"
            dark
            id="main_nav"
            v-model="drawer"
        >
            <!--Header-->
            <v-list-item class="py-1" to="/">
                <v-list-item-avatar :size="mini ? 30 : 40" height="40">
                    <v-icon :size="mini ? 30 : 40">$app-icon-logo</v-icon>
                </v-list-item-avatar>
                <v-list-item-content>
                    <v-list-item-title
                        style="text-transform: uppercase; font-size: 25px;"
                    >
                        <Title/>
                    </v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <!--Header-->
            <v-list class="pt-0" dense>
                <v-divider/>
                <template v-for="(menuItem, index) in menuItems">
                    <slot>
                        <v-list-item :key="index" :to="menuItem.linkTo" exact>
                            <v-list-item-action>
                                <v-icon
                                    :size="iconSize()"
                                    v-text="menuItem.icon"
                                />
                            </v-list-item-action>
                            <v-list-item-content>
                                <v-list-item-title>
                                    {{ menuItem.title }}
                                </v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                        <v-divider v-if="menuItem.dividerAfter"/>
                    </slot>
                </template>
            </v-list>
            <template v-slot:append>
                <v-list dense>
                    <v-divider/>
                    <v-list-item :to="{ name: 'sidebar.patrols.index'}" link>
                        <v-list-item-action>
                            <v-icon :size="iconSize()">
                                $app-icon-patrols-pref
                            </v-icon>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title>
                                {{ $t('sidebar.patrols.index') }}
                            </v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                    <v-divider/>
                    <v-list-item :to="{ name: 'sidebar.barcodes'}" link>
                        <v-list-item-action>
                            <v-icon :size="barcodesIconSize()">
                                $app-icon-qr
                            </v-icon>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title>
                                {{$t('sidebar.barcodes')}}
                            </v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                    <v-divider/>
                    <v-list-item :to="{ name: 'sidebar.profile'}" link>
                        <v-list-item-action>
                            <v-icon :size="iconSize()">
                                mdi-account-edit
                            </v-icon>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title>
                                {{ $t('sidebar.profile') }}
                            </v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                    <v-divider/>
                </v-list>
                <div class="pa-2">
                    <v-btn
                        @click.stop="mini = !mini"
                        icon
                        v-if="$i18n.locale === 'he'"
                    >
                        <v-icon
                        >mdi-chevron-{{ mini ? 'left' : 'right' }}
                        </v-icon>
                    </v-btn>
                    <v-btn @click.stop="mini = !mini" icon v-else>
                        <v-icon
                        >mdi-chevron-{{ mini ? 'right' : 'left' }}
                        </v-icon>
                    </v-btn>
                </div>
            </template>
        </v-navigation-drawer>

        <v-app-bar app class="px-6" color="#2A3140" dark id="app_bar">
            <v-app-bar-nav-icon @click="drawer = !drawer"/>
            <v-toolbar-title style="-webkit-app-region: drag;"/>
            <v-spacer/>
            <Clock/>
            <v-spacer/>
            <Languages class="mr-2"/>
            <v-btn
                :disabled="!notifications_count"
                @click="toggleEventBoard"
                class="mr-2"
                icon
            >
                <v-badge
                    :left="$vuetify.rtl"
                    :value="notifications_count"
                    color="#d43e50"
                >
                    <template v-slot:badge v-if="notifications_count > 0">{{ notifications_count }}</template>
                    <v-icon>mdi-bell</v-icon>
                </v-badge>
            </v-btn>

            <v-btn @click="exit" icon>
                <v-icon size="30">mdi-power</v-icon>
            </v-btn>
        </v-app-bar>
        <v-main>
            <v-container
                class="fill-height align-self-stretch align-content-start"
                fluid
            >
                <v-row class="d-flex px-6" v-if="appHeader">
                    <v-col class="col-auto px-0">
                        <h1>{{ $t($route.name) }}</h1>
                        <hr>
                    </v-col>
                    <v-spacer/>
                    <v-col class="col-auto" :class="['pa-0','px-3']">
                        <v-img
                            :src="logo"
                            contain
                            :position="position"
                            height="100%"
                            max-width="6vw"
                            min-height="5vh"
                            max-height="7vh"
                            title=""
                        />
                    </v-col>
                </v-row>
                <router-view @change-temporary="changeTemporaty"/>
            </v-container>
            <v-overlay
                :absolute="true"
                :value="overlay"
                color="#fff"
                opacity="1"
            >
                <v-img :src="require('./assets/Ironmax_loading.gif')"/>
            </v-overlay>
            <v-snackbar
                :color="error.color"
                :key="index"
                :timeout="-1"
                :value="true"
                bottom
                right
                v-for="(error, index) in errors"
                vertical
            >
                <template v-slot:default>
                    <span v-html="error.text"/>
                    <v-btn @click="removeError(index)" text>
                        {{ $t('forms.buttons.close') }}
                    </v-btn>
                </template>
            </v-snackbar>
            <EventsBoardNavigationDrawer/>
        </v-main>
    </v-app>
</template>
<script>
    import Clock from './ui/Clock'
    import Languages from './ui/Languages'
    import { mapActions, mapGetters, mapState } from 'vuex'
    import Title from './ui/Title'
    import EventsBoardNavigationDrawer from './components/EventsBoardNavigationDrawer'

    export default {
        name: 'App',
        components: { EventsBoardNavigationDrawer, Title, Clock, Languages },
        data () {
            return {
                on: false,
                mini: false,
                drawer: true,
                showEventBoard: false,
                temporary: false,
                logo_link: null
            }
        },
        computed: {
            ...mapState(['overlay', 'errors', 'appHeader', 'logo', 'lang']),
            ...mapState('notification', ['notifications']),
            ...mapGetters('notification', ['notifications_count']),
            menuItems () {
                return [
                    {
                        name: 'dashboard',
                        linkTo: { name: 'sidebar.dashboard' },
                        title: this.$t('sidebar.dashboard'),
                        icon: '$app-icon-dashboard',
                        dividerAfter: true
                    },
                    {
                        name: 'app-icon-patrol-rep',
                        linkTo: { name: 'sidebar.reports.patrol' },
                        title: this.$t('sidebar.reports.patrol'),
                        icon: '$app-icon-patrol-rep'
                    },
                    {
                        name: 'app-icon-patrol-exc',
                        linkTo: { name: 'sidebar.reports.exceptions' },
                        title: this.$t('sidebar.reports.exceptions'),
                        icon: '$app-icon-patrol-exc'
                    },
                    {
                        name: 'app-icon-rep-incident',
                        linkTo: { name: 'sidebar.reports.incident' },
                        title: this.$t('sidebar.reports.incident'),
                        icon: '$app-icon-rep-incident'
                    },
                    {
                        name: 'app-icon-rep-emergency',
                        linkTo: { name: 'sidebar.reports.emergency' },
                        title: this.$t('sidebar.reports.emergency'),
                        icon: '$app-icon-rep-emergency'
                    },
                    {
                        name: 'app-icon-rep-inspector',
                        linkTo: { name: 'sidebar.reports.inspector' },
                        title: this.$t('sidebar.reports.inspector'),
                        icon: '$app-icon-rep-inspector'
                    }
                ]
            },
            logo(){
                return this.logo_link ? require(`./assets/companies_logo/${this.logo_link}`) : null
            },
            position(){
                return this.$vuetify.rtl === true ? 'left center' : 'right center'
            }
        },
        watch: {
            lang: {
                handler (lang) {
                    this.$i18n.locale = lang
                    localStorage.lang = lang
                    this.$vuetify.rtl = lang === 'he'
                    // todo[daglob] 11.05.2020 23:03: location.reload() - этот ужас нужен только для локализации карты; надо что-то поменять
                    location.reload()
                }
            },
        },
        methods: {
            ...mapActions(['removeError']),
            ...mapActions('notification', ['toggleEventBoard']),
            exit () {
                location.href = '/logout'
            },
            iconSize () {
                return this.mini ? 20 : 26
            },
            barcodesIconSize () {
                return this.mini ? 16 : 26
            },
            changeTemporaty(val) {
                this.temporary = val;
            }
        },
        mounted() {
            this.logo_link = document.querySelector("meta[name='logo']").getAttribute("content");
        }
    }
</script>
<style lang="scss">
    html {
        --scrollbarBG: #2a3140;
        --thumbBGLeave: rgba(111, 122, 144, 0.5);
        --thumbBG: rgba(111, 122, 144, 0.99);
        overflow-y: auto !important;
        font-size: 17px !important;
    }

    body::-webkit-scrollbar {
        width: 10px;
    }

    body {
        scrollbar-width: thin;
        scrollbar-color: var(--thumbBG) var(--scrollbarBG);
    }

    body::-webkit-scrollbar-track {
        background: var(--scrollbarBG);
    }

    body::-webkit-scrollbar-thumb {
        background-color: var(--thumbBG);
        border-radius: 6px;
        border: 3px solid var(--scrollbarBG);
    }

    #main_nav {
        &.v-navigation-drawer {
            .v-list-item {
                &,
                & * {
                    color: #8f8f94 !important;
                }

                &--active {
                    &,
                    & * {
                        color: #dcdcdc !important;
                    }
                }

                &__title {
                    font-size: 0.88rem;
                }
            }
        }
    }

    #app_bar {
        .v-toolbar {
            &__content {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    /** Только для IE11 */
    _:-ms-fullscreen, :root {
        @import "styles/ie";
    }
</style>
