
.accordion__toggle {
    font-size: inherit
}

.accordion {
    margin: 2.14286em 0 3em
}

.accordion .accordion--nested {
    margin: 0
}

.accordion-controller-wrapper {
    width: 100%
}

.accordion-controller-wrapper .button {
    font-size: 0.8em;
    line-height: 1.60714em;
    border: none;
    border-radius: 0;
    margin: 0.42857em 1.71429em 0.42857em 0;
    padding: 0.42857em 0;
    text-transform: uppercase
}

.accordion-controller-wrapper .button:focus,
.accordion-controller-wrapper .button:hover {
    background-image: linear-gradient(0deg, #444 0%, #444 2px, transparent 2px, transparent 100%);
    outline: none
}

.accordion--single {
    margin-bottom: 0.85714em;
    margin-top: 0.85714em
}

.content-section--highlight .accordion--single:last-of-type {
    margin-bottom: 0
}

.accordion__inner {
    background: #FFFFFF;
    position: relative;
    transition: max-height 150ms ease-in;
    z-index: 2
}

.accordion__inner-wrapper,
.accordion__inner__wrapper {
    margin-left: 24px;
    overflow: hidden
}

.accordion__inner--plain {
    background: transparent;
    border: none
}

.accordion__inner--plain .accordion__inner-wrapper,
.accordion__inner--plain .accordion__inner__wrapper {
    border: none;
    padding: 0
}

.accordion__child {
    padding: 0.5rem 0
}

.accordion__child:first-child {
    padding-top: 0
}

.accordion__child:last-child {
    padding-bottom: 0
}

.accordion__child .accordion__label,
.accordion__child .accordion__label-multi,
.accordion__child>h1,
.accordion__child>h2,
.accordion__child>h3,
.accordion__child>h4,
.accordion__child>h5,
.accordion__child>h6,
.accordion__child>p {
    font-size: inherit;
    line-height: inherit;
    margin: inherit;
    max-width: inherit
}

summary,
.accordion__toggle {
    background: transparent;
    box-sizing: border-box;
    color: #333;
    cursor: pointer;
    display: block;
    font-weight: 500;
    padding: 0.42857em 8px 0.42857em 24px;
    position: relative;
    text-decoration: none;
    width: 100%
}

summary:link,
.accordion__toggle:link {
    color: #444444
}

summary:hover,
.accordion__toggle:hover {
    text-decoration: underline
}

summary:hover::before,
.accordion__toggle:hover::before {
    background-image: url('data:image/svg+xml;charset=utf-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%220%200%2010%207.5%22%20style%3D%22enable-background%3Anew%200%200%2010%207.5%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpath%20fill%3D%22%231382cf%22%20fill-opacity%3D%221%22%20stroke-width%3D%220.2%22%20stroke-linejoin%3D%22round%22%20d%3D%22M0%2C0l5%2C7.5L10%2C0H0z%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A')
}

summary::before,
.accordion__toggle::before {
    background-image: url('data:image/svg+xml;charset=utf-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%220%200%2010%207.5%22%20style%3D%22enable-background%3Anew%200%200%2010%207.5%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpath%20fill%3D%22%23444444%22%20fill-opacity%3D%221%22%20stroke-width%3D%220.2%22%20stroke-linejoin%3D%22round%22%20d%3D%22M0%2C0l5%2C7.5L10%2C0H0z%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
    height: 12px;
    left: 0;
    position: absolute;
    top: .85em;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -moz-transform-origin: center;
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    -moz-transition: -moz-transform 150ms ease-in-out;
    -o-transition: -o-transform 150ms ease-in-out;
    -webkit-transition: -webkit-transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out;
    width: 12px
}

@media all and (min-width: 0) and (max-width: 720px) {
    summary::before,
    .accordion__toggle::before {
        left: 0
    }
}

summary ~ .accordion__inner.accordion__oversized,
.accordion__toggle ~ .accordion__inner.accordion__oversized {
    overflow-x: hidden;
    overflow-y: auto
}

summary:focus,
.accordion__toggle:focus {
    outline: none;
    text-decoration: underline
}

summary:focus::before,
.accordion__toggle:focus::before {
    background-image: url('data:image/svg+xml;charset=utf-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%220%200%2010%207.5%22%20style%3D%22enable-background%3Anew%200%200%2010%207.5%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpath%20fill%3D%22%231382cf%22%20fill-opacity%3D%221%22%20stroke-width%3D%220.2%22%20stroke-linejoin%3D%22round%22%20d%3D%22M0%2C0l5%2C7.5L10%2C0H0z%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A')
}

summary .button:not(.button--help),
.accordion__toggle .button:not(.button--help) {
    display: inline-block;
    margin: 2px 0.42857em
}

summary.accordion__toggle--buttons,
.accordion__toggle.accordion__toggle--buttons {
    display: -webkit-box-flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex
}

@media all and (min-width: 0) and (max-width: 720px) {
    summary.accordion__toggle--buttons,
    .accordion__toggle.accordion__toggle--buttons {
        display: block
    }
}

summary.accordion__toggle--buttons h2,
summary.accordion__toggle--buttons .accordion__label,
.accordion__toggle.accordion__toggle--buttons h2,
.accordion__toggle.accordion__toggle--buttons .accordion__label {
    -webkit-flex: 5 1 0%;
    -ms-flex: 5 1 0%;
    flex: 5 1 0%
}

@media all and (min-width: 0) and (max-width: 720px) {
    summary.accordion__toggle--buttons h2,
    summary.accordion__toggle--buttons .accordion__label,
    .accordion__toggle.accordion__toggle--buttons h2,
    .accordion__toggle.accordion__toggle--buttons .accordion__label {
        margin-bottom: 0.85714em
    }
}

summary.accordion__toggle--buttons span,
summary.accordion__toggle--buttons .accordion__buttons,
.accordion__toggle.accordion__toggle--buttons span,
.accordion__toggle.accordion__toggle--buttons .accordion__buttons {
    -webkit-flex: 4 0 0%;
    -ms-flex: 4 0 0%;
    flex: 4 0 0%;
    display: block;
    text-align: right
}

summary.accordion__toggle--buttons-right,
.accordion__toggle.accordion__toggle--buttons-right {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-pack: start
}

.scheme--undergraduate .accordion__toggle::before {
    background-image: url('data:image/svg+xml;charset=utf-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%220%200%2010%207.5%22%20style%3D%22enable-background%3Anew%200%200%2010%207.5%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpath%20fill%3D%22%23E00023%22%20fill-opacity%3D%221%22%20stroke-width%3D%220.2%22%20stroke-linejoin%3D%22round%22%20d%3D%22M0%2C0l5%2C7.5L10%2C0H0z%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A')
}

.accordion__child .accordion__label {
    font-weight: 500;
    margin-right: 0.85714em
}

.accordion__buttons {
    margin: calc(-.2em - 2px) -0.42857em calc(-.2em - 2px) 0
}

summary::-webkit-details-marker {
    display: none
}

.accordion--clear .accordion__child,
.accordion--highlight .accordion__child {
    border: solid 1px #EAEAEA;
    border-width: 1px 0 0;
    margin: 0;
    padding: 0
}

.accordion--clear .accordion__child:last-child,
.accordion--highlight .accordion__child:last-child {
    border-bottom-width: 1px
}

.accordion--clear .accordion__child .accordion__toggle,
.accordion--highlight .accordion__child .accordion__toggle {
    background-color: #FFFFFF;
    color: #222;
    padding-bottom: 1rem;
    padding-left: calc(24px + 1.28571em);
    padding-top: 1rem
}

.accordion--clear .accordion__child .accordion__toggle::before,
.accordion--highlight .accordion__child .accordion__toggle::before {
    left: 1.28571em;
    top: 1.45rem
}

.accordion--clear .accordion__child .accordion__toggle.accordion__expanded ~ .accordion__show,
.accordion--highlight .accordion__child .accordion__toggle.accordion__expanded ~ .accordion__show {
    border: none
}

.accordion--clear .accordion__child .accordion__toggle:hover,
.accordion--highlight .accordion__child .accordion__toggle:hover {
    background-color: #f5f5f5
}

.accordion--clear .accordion__child .accordion__toggle:focus,
.accordion--clear .accordion__child .accordion__toggle:hover,
.accordion--highlight .accordion__child .accordion__toggle:focus,
.accordion--highlight .accordion__child .accordion__toggle:hover {
    background-image: linear-gradient(90deg, #1382cf 0%, #1382cf 8px, transparent 8px, transparent 100%);
    text-decoration: none
}

.accordion--clear .accordion__child .accordion__toggle[aria-expanded="true"],
.accordion--highlight .accordion__child .accordion__toggle[aria-expanded="true"] {
    background-color: #f5f5f5
}

.accordion--clear .accordion__child .accordion__inner,
.accordion--highlight .accordion__child .accordion__inner {
    background: #f5f5f5
}

.accordion--clear .accordion__child .accordion__inner-wrapper,
.accordion--clear .accordion__child .accordion__inner__wrapper,
.accordion--highlight .accordion__child .accordion__inner-wrapper,
.accordion--highlight .accordion__child .accordion__inner__wrapper {
    padding: 0.85714em 1.28571em
}

.accordion--highlight .accordion__child {
    border-color: #BABABA
}

.accordion--highlight .accordion__child .accordion__toggle {
    background-color: #EFEFEF
}

.accordion--highlight .accordion__child .accordion__toggle:hover {
    background-color: #DDDDDD
}

.accordion .accordion {
    margin: 0 -1.28571em 0 0
}

.accordion .accordion .accordion__child {
    border-color: #BABABA;
    margin-left: -18px
}

.accordion .accordion .accordion__child:last-child {
    border-bottom: none
}

.accordion .accordion .accordion__toggle {
    background-color: transparent;
    margin: 0
}

.accordion--complex .accordion__child .accordion__toggle {
    display: -webkit-box-flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap
}

@media all and (min-width: 0) and (max-width: 720px) {
    .accordion--complex .accordion__child .accordion__toggle {
        display: block
    }
}

@supports (display: grid) {
    .accordion--complex .accordion__child .accordion__toggle {
        align-items: baseline
    }
}

.accordion--complex .accordion__child .accordion__toggle .accordion__label {
    -webkit-flex: 4 1 0%;
    -ms-flex: 4 1 0%;
    flex: 4 1 0%;
    margin-bottom: 0.42857em
}

.accordion--complex .accordion__child .accordion__toggle .accordion__label--multiple-labels {
    -webkit-flex: 8 1 0%;
    -ms-flex: 8 1 0%;
    flex: 8 1 0%;
    margin-bottom: 0;
    display: -webkit-box-flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex
}

.accordion--complex .accordion__child .accordion__toggle .accordion__badges {
    -webkit-flex: 4 0 0%;
    -ms-flex: 4 0 0%;
    flex: 4 0 0%
}

.accordion--complex .accordion__child .accordion__toggle .accordion__badges .button--help {
    margin-top: -13px
}

.accordion--complex .accordion__child .accordion__toggle .accordion__badges {
    display: table;
    width: 40%
}

.accordion--complex .accordion__child .accordion__toggle .accordion__badges>* {
    display: table-cell;
    width: 25%
}

@supports (display: grid) {
    .accordion--complex .accordion__child .accordion__toggle .accordion__badges {
        display: -webkit-box-flex;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        align-items: baseline;
        flex-wrap: nowrap;
        width: auto
    }
    .accordion--complex .accordion__child .accordion__toggle .accordion__badges>* {
        -webkit-flex: 1 0 0%;
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
        display: inline-block;
        width: auto
    }
    .accordion--complex .accordion__child .accordion__toggle .accordion__badges.accordion__badges--collapsed {
        flex-grow: 0;
        display: block
    }
}

.accordion--complex .accordion__child .accordion__toggle .accordion__badges--compact {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.accordion--complex .accordion__child .accordion__toggle .accordion__badges--compact>* {
    flex-grow: 0;
    white-space: nowrap
}

.accordion--complex .accordion__child .accordion__toggle .accordion__badges--compact>* [role="tooltip"] {
    white-space: normal
}

.accordion--complex .accordion__child .accordion__toggle .accordion__badges--compact>*:not(:last-child) {
    margin-right: 0.85714em
}

.accordion--complex .accordion__child .accordion__toggle .accordion__badges--compact>* .text-with-toggle-help {
    padding-right: 40px
}

.accordion--complex .accordion__child .accordion__toggle .accordion__badges--compact>* .text-with-toggle-help .text-with-toggle-help__text {
    max-width: none
}

.accordion--complex .accordion__child .accordion__toggle .accordion__buttons {
    text-align: right
}

.accordion--complex .accordion__child .accordion__toggle .badge {
    font-size: 0.85714em;
    line-height: 1.5em;
    font-weight: normal;
    padding: 0 0.42857em
}

.accordion--complex .accordion__child .accordion__toggle .badge:last-child {
    padding-right: 0
}

.accordion--complex .accordion__child .accordion__toggle .tag {
    display: inline;
    margin: 0
}

.accordion--complex .accordion__child .accordion__toggle .badge--warning {
    flex-grow: 0
}

.accordion--complex .accordion__child .accordion__toggle .button--warning {
    margin-left: 4em;
    position: relative
}

.accordion--complex .accordion__child .accordion__toggle .button--warning::before {
    background-image: url('data:image/svg+xml;charset=utf-8,%EF%BB%BF%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20baseProfile%3D%22full%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024.00%2024.00%22%20enable-background%3D%22new%200%200%2024.00%2024.00%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%09%3Cpath%20fill%3D%22%23FBAF17%22%20fill-opacity%3D%221%22%20stroke-linejoin%3D%22round%22%20d%3D%22M%2013%2C14L%2011%2C14L%2011%2C9.99998L%2013%2C9.99998M%2013%2C18L%2011%2C18L%2011%2C16L%2013%2C16M%201%2C21L%2023%2C21L%2012%2C1.99998L%201%2C21%20Z%20%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0;
    content: '';
    display: block;
    height: 2em;
    left: -3em;
    position: absolute;
    width: 2em
}

.accordion--complex .accordion__child .accordion__toggle .badge--courseid {
    font-weight: bold;
    text-align: right
}

.accordion--complex .accordion__child .accordion__toggle .badge--bold {
    font-size: 1em;
    line-height: 1.28571em;
    font-weight: 500
}

.accordion--complex .accordion__child .accordion__toggle .badge--no-of-options {
    font-size: 0.85714em;
    line-height: 1.5em;
    font-weight: normal;
    padding-left: 0.42857em;
    text-decoration: none
}

.accordion--complex .accordion__child .accordion__toggle .badge--no-of-options::after {
    content: ')'
}

.accordion--complex .accordion__child .accordion__toggle .badge--no-of-options::before {
    content: '('
}

.accordion--complex .accordion__child .accordion__toggle .badge--application-status {
    font-weight: bold;
    text-align: right;
    text-transform: uppercase
}

.accordion--complex .accordion__child .accordion__toggle .badge--options-available {
    font-weight: bold;
    white-space: nowrap
}

@media all and (max-width: 720px) {
    .accordion--complex .accordion__child .accordion__toggle .accordion__badges {
        -webkit-flex-basis: 100%;
        flex-basis: 100%;
        flex-wrap: wrap;
        margin-top: 0.85714em
    }
    .accordion--complex .accordion__child .accordion__toggle .accordion__buttons {
        -webkit-flex-basis: 100%;
        flex-basis: 100%;
        margin-top: 0.85714em
    }
    .accordion--complex .accordion__child .accordion__toggle .badge:first-of-type {
        padding-left: 0
    }
    .accordion--complex .accordion__child .accordion__toggle .badge:last-of-type {
        padding-right: 0
    }
}

@media (min-width: 720px) {
    .accordion--complex .accordion__child .accordion__toggle .accordion__label {
        margin-bottom: 0;
        min-width: 0
    }
}

.accordion--complex .accordion__child .accordion__toggle--with-checkbox {
    padding-left: calc(48px + 1.28571em)
}

.accordion--complex .accordion__child .accordion__toggle--with-checkbox ~ .accordion__inner>.accordion__inner-wrapper {
    margin-left: 48px
}

.accordion--complex .accordion__child .accordion__toggle--with-checkbox ~ .accordion__inner>.accordion__inner-wrapper .accordion__inner-wrapper {
    padding-left: 0;
    padding-right: 0
}

.accordion--complex .accordion__child .accordion__toggle--with-checkbox::before {
    left: calc(24px + 1.28571em)
}

.accordion--complex .accordion__child .accordion__toggle--with-checkbox>.accordion__checkbox {
    display: block
}

.accordion--complex .accordion__child .accordion__inner-wrapper,
.accordion--complex .accordion__child .accordion__inner__wrapper {
    overflow: auto;
    padding-top: 0.85714em
}

.accordion__with-checkboxes .accordion__child .accordion__toggle::before {
    left: calc(24px + 1.28571em)
}

.accordion__with-checkboxes .accordion__toggle .accordion__label:first-child {
    margin-left: calc(1.28571em + 1px);
    padding-right: 9px
}

.accordion__with-checkboxes .accordion__toggle--with-checkbox .accordion__label:first-child {
    flex-grow: calc(3 - 50px);
    margin-left: -5px;
    padding-right: 0;
    width: 100px
}

.accordion--complex.accordion__with-checkboxes .accordion__child .accordion__inner .accordion__inner-wrapper {
    margin-left: 44px
}

.accordion__checkbox {
    display: none;
    position: absolute;
    top: calc(1.28571em + 1px)
}

.accordion__checkbox,
.checkbox--standalone {
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: #FFFFFF;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    border: 2px solid #444444;
    border-radius: 1px;
    height: 15px;
    left: 15px;
    width: 15px
}

.accordion__checkbox:checked,
.checkbox--standalone:checked {
    background-color: #444444;
    background-image: url('data:image/svg+xml;charset=utf-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%220%200%2024%2024%22%20style%3D%22enable-background%3Anew%200%200%2024%2024%3B%22%20xml%3Aspace%3D%22preserve%22%20%20width%3D%2224%22%20height%3D%2224%22%3E%0D%0A%3Cpath%20fill%3D%22%23FFFFFF%22%20fill-opacity%3D%221%22%20d%3D%22M%2019.6%2C4.9L%209%2C15.5L%204.9%2C11.4L%202.8%2C13.5L%209%2C19.7L%2021.7%2C7%20Z%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A')
}

.accordion__checkbox:focus,
.checkbox--standalone:focus {
    border-color: #1382cf;
    border-radius: 0;
    outline: #1382cf 2px solid
}

.checkbox--standalone {
    display: block
}

.accordion__child--undergraduate .accordion__toggle {
    background-image: linear-gradient(90deg, #e00023 0%, #e00023 4px, transparent 4px, transparent 100%)
}

.accordion__child--postgraduate .accordion__toggle {
    background-image: linear-gradient(90deg, #752482 0%, #752482 4px, transparent 4px, transparent 100%)
}

.accordion__child--awaiting-decision .accordion__toggle {
    background-image: linear-gradient(90deg, #ffc61a 0%, #ffc61a 4px, transparent 4px, transparent 100%)
}

.accordion__child--unsuccessful .accordion__toggle {
    background-image: linear-gradient(90deg, #000 0%, #000 4px, transparent 4px, transparent 100%)
}

.accordion .accordion__child--readonly .accordion__toggle {
    background-color: #EEEEEE
}

.accordion .button--multiaction-wrapper-right {
    z-index: 3
}



.button {
    background-color: transparent;
    color: #1077D0;
    display: inline-block;
    font-size: inherit;
    padding: 12px 18px;
    font-size: 1em;
    line-height: 1.28571em;
    cursor: pointer;
    text-decoration: none;
    font-family: inherit;
    text-align: center;
    border: 2px solid #1077D0;
    border-radius: 100em;
    transition: all .3s;
    margin-top: 0.85714em;
    margin-bottom: 0.85714em;
}
.button--secondary:not([disabled]), .button--secondary:not([disabled]):link, .button--secondary:not([disabled]):visited {
    color: #1077D0;
}
.button--secondary:not([disabled]) {
    background: transparent;
    border-color: transparent;
}

.accordion__toggle::before {
    content: '';
}
summary::before, .accordion__toggle::before {
    background-image: url(data:image/svg+xml;charset=utf-8,%3C%3Fxml%20version%3D%221.0%22%20encoding…ound%22%20d%3D%22M0%2C0l5%2C7.5L10%2C0H0z%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
    height: 12px;
    left: 0;
    position: absolute;
    top: .85em;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -moz-transform-origin: center;
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    -moz-transition: -moz-transform 150ms ease-in-out;
    -o-transition: -o-transform 150ms ease-in-out;
    -webkit-transition: -webkit-transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out;
    width: 12px;
}
.accordion__child .accordion__label {
    font-weight: 500;
    margin-right: 0.85714em;
}