button {
    border: none;
    outline: none;
    box-shadow: none;
    display: block;
    padding: 0;
}
.accordion {
    margin: 2.14286em 0 3em;
}
@media screen and (min-width: 600px)
{
.center1 {
    margin: auto;
    width: 63%;
    padding: 10px;
    text-align: justify;
}
}

.accordion-controller-wrapper {
    width: 100%;
}
.accordion--clear .accordion__child, .accordion--highlight .accordion__child {
    border: solid 1px #EAEAEA;
    border-width: 1px 0 0;
    margin: 0;
    padding: 0;
}
summary, .accordion__toggle {
    background: transparent;
    box-sizing: border-box;
    color: #333;
    cursor: pointer;
    display: block;
    font-weight: 500;
    padding: 0.42857em 8px 0.42857em 24px;
    position: relative;
    text-decoration: none;
    width: 100%;
}

.accordion--clear .accordion__child .accordion__toggle, .accordion--highlight .accordion__child .accordion__toggle {
    background-color: #FFFFFF;
    color: #222;
    padding-bottom: 1rem;
    padding-left: calc(24px + 1.28571em);
    padding-top: 1rem;
}

[role="button"] {
    cursor: pointer;
}

summary::before, .accordion__toggle::before {
    background-image: url(data:image/svg+xml;charset=utf-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%220%200%2010%207.5%22%20style%3D%22enable-background%3Anew%200%200%2010%207.5%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpath%20fill%3D%22%23444444%22%20fill-opacity%3D%221%22%20stroke-width%3D%220.2%22%20stroke-linejoin%3D%22round%22%20d%3D%22M0%2C0l5%2C7.5L10%2C0H0z%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
    height: 12px;
    left: 0;
    position: absolute;
    top: .85em;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -moz-transform-origin: center;
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    -moz-transition: -moz-transform 150ms ease-in-out;
    -o-transition: -o-transform 150ms ease-in-out;
    -webkit-transition: -webkit-transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out;
    width: 12px;
}


summary::before, .accordion__toggle::before {
    content: '';
}

.accordion--clear .accordion__child .accordion__toggle::before, .accordion--highlight .accordion__child .accordion__toggle::before {
    left: 1.28571em;
    top: 1.45rem;
}
.accordion__child .accordion__label {
    font-weight: 600;
    margin-right: 0.85714em;
    text-align:left;
    font-size:16px;
}
.accordion__inner {
    background: #FFFFFF;
    position: relative;
    transition: max-height 150ms ease-in;
    z-index: 2;
}

.accordion__inner {
    max-height: 0;
    overflow: hidden;
}

.accordion__inner[data-accordion-state="collapsed"] {
    display: none;
}


.accordion--clear .accordion__child .accordion__inner, .accordion--highlight .accordion__child .accordion__inner {
    background: #f5f5f5;
}

.accordion__inner-wrapper, .accordion__inner__wrapper {
    margin-left: 24px;
    overflow: hidden;
}
.accordion--clear .accordion__child .accordion__inner-wrapper, .accordion--clear .accordion__child .accordion__inner__wrapper, .accordion--highlight .accordion__child .accordion__inner-wrapper, .accordion--highlight .accordion__child .accordion__inner__wrapper {
    padding: 0.85714em 1.28571em;
}
.center1 p {
    display: flow-root;
    line-height: 44px!important;
}








.button {
    background-color: transparent;
    color: #1077D0;
    display: inline-block;
    font-size: inherit;
    padding: 12px 18px;
    font-size: 1em;
    line-height: 1.28571em;
    cursor: pointer;
    text-decoration: none;
    font-family: inherit;
    text-align: center;
    border: 2px solid #1077D0;
    border-radius: 100em;
    transition: all .3s;
    margin-top: 0.85714em;
    margin-bottom: 0.85714em;
}

.button--secondary:not([disabled]) {
    background: transparent;
    border-color: transparent;
}
.button--secondary:not([disabled]), .button--secondary:not([disabled]):link, .button--secondary:not([disabled]):visited {
    color: #1077D0;
}
.accordion-controller-wrapper .button {
    font-size: 0.8em;
    line-height: 1.60714em;
    border: none;
    border-radius: 0;
    margin: 0.42857em 1.71429em 0.42857em 0;
    padding: 0.42857em 0;
    text-transform: uppercase;
}










.accordion__child .accordion__label, .accordion__child .accordion__label-multi, .accordion__child>h1, .accordion__child>h2, .accordion__child>h3, .accordion__child>h4, .accordion__child>h5, .accordion__child>h6, .accordion__child>p {
    font-size: inherit;
    line-height: inherit;
    margin: inherit;
    max-width: inherit;
}


[accordion-state="expanded"], [data-accordion-state="expanded"] {
    max-height: 100vh;
    opacity: 1;
    overflow: initial;
    overflow: unset;
}




[accordion-state="expanded"]:not([data-accordion-expanding]), [data-accordion-state="expanded"]:not([data-accordion-expanding]) {
    max-height: none;
}


.accordion--clear .accordion__child .accordion__inner, .accordion--highlight .accordion__child .accordion__inner {
    background: #f5f5f5;
}

.accordion--clear .accordion__child .accordion__toggle, .accordion--highlight .accordion__child .accordion__toggle {
    background-color: #FFFFFF;
    color: #222;
    padding-bottom: 1rem;
    padding-left: calc(24px + 1.28571em);
    padding-top: 1rem;
}



.accordion--clear .accordion__child .accordion__toggle[aria-expanded="true"], .accordion--highlight .accordion__child .accordion__toggle[aria-expanded="true"] {
    background-color: #f5f5f5;
}

.accordion__toggle[aria-expanded="true"]::before, details[open] summary::before {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}
.accordion--clear .accordion__child .accordion__toggle:focus, .accordion--clear .accordion__child .accordion__toggle:hover, .accordion--highlight .accordion__child .accordion__toggle:focus, .accordion--highlight .accordion__child .accordion__toggle:hover {
    background-image: linear-gradient(90deg, #1382cf 0%, #1382cf 8px, transparent 8px, transparent 100%);
    text-decoration: none;
}
.accordion--clear .accordion__child .accordion__toggle[aria-expanded="true"], .accordion--highlight .accordion__child .accordion__toggle[aria-expanded="true"] {
    background-color: #f5f5f5;
}


#FAQ.rtl{
    direction:rtl;
}

#FAQ.rtl .accordion__toggle, #FAQ.rtl .accordion__inner{
    direction:rtl;
    text-align: right;
}