footer {
    background: #1e1e1e;
    padding: 60px 0 25px 0;
    text-align: center;
}
footer .logo {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
}
footer p {
    color: #fff;
    font-size: 15px;
    margin-top: 50px;
}


footer a {
  color: #FFFFFF;

  &:hover {
    color: #97b4e4 !important;
  }
}
a:hover, a:focus, a:visited {
    text-decoration: none;
    outline: none;
}

footer ul li {
    display: inline-block;
    margin-top: 13px;
  }
  footer ul li a {
    width: 45px;
    line-height: 45px;
    font-size: 18px;
    margin: 0 7px;
    border:1px solid transparent;
  }
  footer ul li:nth-child(1) a,
  footer ul li:nth-child(1) i {
    color: #677fb5;
    border-color:#677fb5;
  }
  footer ul li:nth-child(2) a,
  footer ul li:nth-child(2) i {
    color: #007ab9;
    border-color:#007ab9;
  }
  footer ul li:nth-child(3) a,
  footer ul li:nth-child(3) i {
    color: #70c2e9;
    border-color:#70c2e9;
  }
  footer ul li:nth-child(4) a,
  footer ul li:nth-child(4) i {
    color: #d8545d;
    border-color:#d8545d;
  }
  footer ul li:nth-child(5) a {
    color: #5ecbf3;
    border-color:#5ecbf3;
  }
  footer ul li:nth-child(6) a {
    color: #ff3ba4;
    border-color:#ff3ba4;
  }
  footer ul li:nth-child(7) a {
    color: #e299c2;
    border-color:#e299c2;
  }
  footer ul li:nth-child(8) a {
    color: #faaa5e;
    border-color:#faaa5e;
  }
  footer ul li:nth-child(1) a:hover {
    background: #677fb5;
  }
  footer ul li:nth-child(2) a:hover {
    background: #007ab9;
  }
  footer ul li:nth-child(3) a:hover {
   background: #70c2e9; 
    
  }
  footer ul li:nth-child(4) a:hover {
   background: #d8545d; 
  }
  footer ul li a:hover i {
    color: #FFFFFF;
  }
  footer ul li:nth-child(5) a:hover {
    background: #5ecbf3;
  }
  footer ul li:nth-child(6) a:hover {
    background: #ff3ba4;
  }
  footer ul li:nth-child(7) a:hover {
    background: #e299c2;
  }
  footer ul li:nth-child(8) a:hover {
    background: #faaa5e;
  }
  footer ul li a:hover {
    color:#fff !important;
  }

  footer ul li {
    display: inline-block;
    margin-top: 13px;
  }
  footer ul li a {
      display:inline-block;
    width: 45px;
    line-height: 45px;
    font-size: 18px;
    margin: 0 7px;
    border:1px solid transparent;
  }
  footer ul li:nth-child(1) a {
    color: #677fb5;
    border-color:#677fb5;
  }
  footer ul li:nth-child(2) a {
    color: #007ab9;
    border-color:#007ab9;
  }
  footer ul li:nth-child(3) a {
    color: #70c2e9;
    border-color:#70c2e9;
  }
  footer ul li:nth-child(4) a {
    color: #d8545d;
    border-color:#d8545d;
  }
  footer ul li:nth-child(5) a {
    color: #5ecbf3;
    border-color:#5ecbf3;
  }
  footer ul li:nth-child(6) a {
    color: #ff3ba4;
    border-color:#ff3ba4;
  }
  footer ul li:nth-child(7) a {
    color: #e299c2;
    border-color:#e299c2;
  }
  footer ul li:nth-child(8) a {
    color: #faaa5e;
    border-color:#faaa5e;
  }
  footer ul li:nth-child(1) a:hover {
    background: #677fb5;
  }
  footer ul li:nth-child(2) a:hover {
    background: #007ab9;
  }
  footer ul li:nth-child(3) a:hover {
   background: #70c2e9; 
    
  }
  footer ul li:nth-child(4) a:hover {
   background: #d8545d; 
    
  }
  footer ul li:nth-child(5) a:hover {
    background: #5ecbf3;
  }
  footer ul li:nth-child(6) a:hover {
    background: #ff3ba4;
  }
  footer ul li:nth-child(7) a:hover {
    background: #e299c2;
  }
  footer ul li:nth-child(8) a:hover {
    background: #faaa5e;
  }
  footer ul li a:hover {
    color:#fff !important;
  }

  .round-border {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
}

button {
    border: none;
    outline: none;
    box-shadow: none;
    display: block;
    padding: 0;
}
.scroll-top {
    width: 45px;
    height: 45px;
    position: fixed;
    bottom: 52px;
    right: 55px;
    z-index: 9999;
    text-align: center;
    color: #fff;
    font-size: 20px;
    display: none;
    border-radius: 50%;
    opacity: 0.6;
}





footer a:hover{
    color:#97b4e4 !important;
}
footer ul{
    padding:0;
}
footer .pp{
  display: inline;
}
footer .pp.he{
  font-size:18px;
}
footer .ppf{
  
  margin-right:40px;
}
footer .ppf.he{
 
  margin-left:40px;
  margin-right:0;
}