// include in 'header' tag, i.e. & == <header/>
$link_hover_color: #97b5e4;
& {
    animation-duration: 0.20s;
    animation-timing-function: linear;
    height: 100px;
    @include media-breakpoint-down('md') {
        height: 74.5px;
    }
    background: rgba(0, 0, 0, 1) !important;

    * {
        transition: all 500ms ease;
    }

    .navbar {
        padding: 0 1rem;

        &.bg-dark {
            background: rgba(0, 0, 0, 1) !important;
        }

        .nav-item-icon-btn {
            svg {
                rect, path {
                    fill: white;
                }

                margin-bottom: 6px;
            }

            @include media-breakpoint-down('md') {
                span {
                    margin-left: 15px;
                }
                svg {
                    margin-bottom: 4px;
                }
            }
        }

        #logout_block {
            @include media-breakpoint-down('md') {
                span {
                    margin-left: 29px;
                }
                .logout-icon {
                    margin-bottom: 4px;
                }
            }
        }
    }

    &.moved {
        .navbar {
            background: rgba(0, 0, 0, 0.8) !important;

            .dropdown-menu {
                background: rgba(0, 0, 0, 0.8) !important;
            }
        }
    }
}

.navbar-nav {
    .nav-item{
        .nav-link{
            &.active{
                color: $link_hover_color;
            }
        }
    }
    li {
        display: flex;
        align-items: center;
    }

    > li {
        > a {
            text-transform: uppercase;
            color: #fff;
            font-weight: 700;
            background: transparent;
        }

        &.active > a, &:hover > a {
            color: $link_hover_color;

            svg {
                rect, path {
                    fill: $link_hover_color;
                }
            }
        }
    }
}

@include media-breakpoint-up('lg') {
    .navbar-nav {
        height: 100px;
    }
    .dropdown:hover > .dropdown-menu {
        display: block;
        top: 100%;
    }
    .dropdown-menu {
        background: #000000;
        margin: 0;
        border-radius: 0 0 10px 10px;
        border: none;
    }
}

.navbar-collapse.show .dropdown-menu {
    background: transparent !important;
    display: none;
    border: none;
}

@include media-breakpoint-down('md') {
    .navbar-collapse.show .dropdown-menu.show-menu {
        display: block;
    }
    .dropdown-menu.show {
        display: block !important;
    }
}

.navbar-collapse.show .navbar-nav li {
    flex-direction: column;
    align-items: flex-start;
}

.dropdown-menu a {
    color: white !important;
    padding: 0.25rem 10px;
    justify-content: space-between;
    display: flex;
    font-weight: 700;
    text-transform: uppercase;
    align-items: center;
}

.dropdown-menu a:hover {
    // color: #97b5e4 !important;
    background: #000;
}

.dropdown-menu {
    .dropdown-item {
        justify-content: space-between;

        &:lang(he) {
            flex-direction: row-reverse;
        }

        img {
            max-width: 26px;
            height: auto;
            margin-left: 7px;
        }
    }
}

.dropdown-menu.lang a {
    font-size: 14px;
    text-transform: none;
}

.dropdown-menu a:hover,
.dropdown-menu a:focus,
.dropdown-menu a:active {
    color: $link_hover_color !important;
    background: transparent !important;
}

.nav-link.dropdown-toggle::after {
    content: none;
}

.nav-item {
    &.login-item {
        a {
            color: #ffffff;
            display: flex;
            align-items: center;

            .login-icon {
                width: 18px;
                display: block;
                margin-left: 1.5px;

                &.arrow {
                    margin-top: -16px;
                    position: absolute;
                    transition: .3s;
                    text-align: center;
                }
            }

            span {
                margin-left: 5px;
            }
        }

        &:hover {
            color: #ffffff !important;

            a {
                .login-icon {
                    &.arrow {
                        margin-left: 15px;
                    }
                }
            }
        }
    }
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before,
.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner:after, .hamburger.is-active .hamburger-inner:before {
    background-color: #fff;
}

//#navbarSupportedContent.he {
//    direction: rtl;
//    margin-right: 18px;
//
//    .nav-item.login-item a span {
//        margin-right: 8px;
//    }
//
//    .navbar-nav .nav-link {
//        font-size: 20px;
//    }
//
//}

.navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
    box-shadow: none;
}

@media (min-width: 1500px) {
    .navbar-nav li {
        font-size: 20px !important;
        padding: 9px 28px;
    }
    .dropdown-menu a {
        font-size: 20px !important;
        height: 40px;
    }
    .dropdown-menu a span {
        line-height: 0.85;
    }
    .dropdown-menu.lang a {
        font-size: 18px !important;
    }
    .dropdown-menu {
        width: max-content;
    }
    .dropdown-menu .dropdown-item img {
        height: 18px;
        width: auto;
    }
}

@media (min-width: 991px) {
    .navbar, .navbar .container {
        padding-left: 0;
        padding-right: 0;
    }
    .langdrop, .langdrop a.dropdown-toggle {
        padding-left: 0 !important;
    }
    .navbar-brand {
        margin-right: 55px;
    }
}

@media (min-width: 1200px) {
    .navbar {
        height: 100px;
    }
    .navbar-brand {
        margin-right: 105px;
    }
    .navbar-nav li {
        font-size: 20px !important;
        padding: 9px 13px;
    }
}

.langflag {
    height: 16px;
    width: auto;
    max-width: unset;
    margin-bottom: 4px;

    &.he {
        height: 12px;
        margin-bottom: 1px;
    }
}

@include media-breakpoint-down('md') {
    .langflag {
        height: 16px;
        width: auto;
    }
    .langflag.he {
        margin-left: 10px;
    }
}
