@mixin orientation-vertical() {
    @media (orientation: portrait) {
        body {
            @content
        }
    }
}

@mixin orientation-horizontal() {
    @media (orientation: landscape) {
        @content
    }
}
