/* for IE only */
_:-ms-fullscreen, :root {
    body {
        header {
            nav {
                a.navbar-brand {
                    img {
                        width: 65px;
                        height: 65px;
                    }
                }
            }
        }

        #topslider {
            .swiper-wrapper {
                background-image: url('/images/banner_img/background_ready/background_ready.png');
                background-size: 100% 100%;

                .swiper-slide-cover {
                    //background-size: auto 50% !important;
                }
            }

            .swiper-button-prev, .swiper-button-next {
                height: 30px;
                width: 18px;
                background-size: 100% 100%;

                &:hover {
                    opacity: .8;
                }
            }

            .swiper-button-prev {
                background-image: url("/images/slider-elements/slide-arrow.svg");
            }

            .swiper-button-next {
                background-image: url("/images/slider-elements/slide-arrow-1.svg");
            }
        }

        #products {
            background-attachment: fixed;
            background-image: url("/images/home/11.jpg") no-repeat center !important;
        }

        .num_count1 {
            background-color: #000000 !important;
        }

        #our-client {

        }

        footer {
            a.logo {
                img {
                    width: 65px;
                    height: 65px;
                }
            }

            ul {
                margin-bottom: 30px;

                a {
                    color: #ffffff;
                }
            }
        }
    }
}
