
#loginPopUp, #forgotPopUp, #resetPassword {
    .modal-dialog {
        max-width: 30%;
        margin-top: calc(60px + 5%);
        @include media-breakpoint-down('md') {
            max-width: 90%;
            margin: 0;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
        }
        .modal-content {
            background-color: transparent;
            border: 0;

            .modal-header {
                padding: 0;
                margin: 0;
                background-color: black;
                color: white;
                border-radius: 25px 25px 0 0;
                border: 1px solid #888;

                h5.modal-title {
                    text-align: center;
                    font-size: 24px;
                    margin: 10px 0;
                    width: 100%;
                }

                .close {
                    padding: 0;
                    margin: 0;
                    position: absolute;
                    right: -15px;
                    top: -15px;
                    opacity: 1;

                    &:active {
                        opacity: .8;
                    }

                    img {
                        z-index: 111;
                        cursor: pointer;
                        width: 37px;
                        height: 37px;
                        border-radius: 50%;
                    }
                }
            }

            .modal-body {
                background-color: white;
                border-radius: 0 0 25px 25px;

                form {
                    input {
                        background-repeat: no-repeat;
                        background-position: center left;
                        text-indent: 20px;

                        &[type='email'] {
                            background-image: url(/images/signin/sign-in-2.jpg);
                        }

                        &[type='password'] {
                            background-image: url(/images/signin/sign-in-3.jpg);
                        }

                        &.he {
                            background-position: center right;
                        }
                    }
                }
            }

            .modal-footer {
                border: 0;
            }
        }
    }

    a {
        color: #365388;
    }

    #error_text {
        color: red;
    }

    #complete {
        color: green;
        display: none;
    }
}

#resetPassword {
    .modal-body {
        border: 1px solid #888;
        border-top: 0;
    }
}
