.product_page {

    .logotype {
        padding: 62px 0 78px;
        margin: 0 auto;
        width: 190px;
    }

    h1, h2 {
        margin: 0 0 27px;
        padding: 0;
        font-size: 2.5rem;
        line-height: 2.5rem;
    }

    .content_block {
        p {
            display: flow-root;
            @include media-breakpoint-up('lg') {
                font-size: 20px !important;
                line-height: 44px !important;
            }
        }

        img {
            margin-right: 15px;
            margin-top: 7px;
            @include media-breakpoint-down('md') {
                & {
                    width: 18px;
                    margin-right: 12px;
                }
            }

            &:lang(he) {
                margin-left: 15px;
                @include media-breakpoint-down('md') {
                    margin-left: 12px;
                }
            }
        }

        @include media-breakpoint-up('md') {
            margin: auto;
            width: 63%;
            text-align: justify;
        }
        @include media-breakpoint-down('md') {
            margin: auto;
            width: 90%;
            text-align: left;
        }
    }

    /* faq */

    [data-accordion-state="collapsed"] {
        display: none;
    }

    summary:focus, .accordion__toggle:focus {
        outline: none;
    }

    #FAQ {
        &.rtl .accordion__child .accordion__label {
            font-weight: 400;
        }

        .accordion {
            margin: 0;
            margin-bottom: 108px;
        }
    }
}
