@media (min-width: 1500px) {
  .container {
    width: 85%
  }
  .theme-main-menu .navbar-nav{
    margin: 0;
    margin-top: 20px;
    margin-right: 400px;
  }
    #new-margin-for-navbar{
    margin-right: 330px!important;
  }
  #arrow_bounce{
    margin-top: 350px;
  }
     h1 {font-size: 62px; margin-top: 150px!important;}
     .center1 h1{font-size: 48px!important; margin-top:10px!important;}
     .theme-title h2 {font-size: 34px!important;}
     h3 {font-size: 48px;}
     h4 {font-size: 30px!important;}
     h5 {font-size: 36px;margin-top: 180px!important;}
     h6 {font-size: 38px;}
  .tparrows{
    top: 60%!important;
  }
  .containervid{
    width:800px!important;
    height:650px!important;
    margin-left: 80px!important;
  }
  .page-middle-banner .opacity{
      padding-bottom:250px;
  }
  #CFont{
    font-size: 22px!important;    /*  also add  id="CFont" in every div of ADV  */
  }
  #CFont1{
    width: 25px!important;    /*  also add  id="CFont1" in every div of img/tick  */
    height: 25px!important;
  }
  #CFont2{
    width: 40px!important;    /*  also add  id="CFont2" in every div of div  */
  }

  .num_count1{
    padding: 90px!important;
    padding-bottom: 200px!important;
  }
  hr{
    padding-bottom: 60px!important;
  }
  .counter{
    font-size: 64px!important;
  }
  .num_count1 p{
    font-size: 56px!important;
  }
  #image, #image1, #image2, #image13{
    width: 380px!important;
    height: 380px!important;
}
  #counter1{
    font-size: 20px!important;    /*  also add  id="counter1" in every div of div  */
  }
  .center1 p{
    font-size: 20px!important;
    line-height: 34px!important;
  }
  #wowslider-container1 .ws_images{
    max-width: 400px!important;
  }
  .article__paragraphs{
    font-size: 20px;
  }
  #pp_pages{
    font-size: 20px;
    margin: 200px;
  }
  #pp_pages h1{
    font-size: 48px!important;
  }
  #pp_pages p{
    line-height: 38px;          /*remove <hr> from <h1> & <p> tag*/
  }
  #pp_pages ul,#pp_pages ol{
    font-size: 20px!important;
    /*line-height: 38px!important; */
  }
  .index-5-1-ul-s li{
    min-height: 500px!important;
  }
  #service1{
    margin-left: 40px!important;
    margin-right: 40px!important;
  }
  #service1 img{
    width: 180px!important;
  }
  .index-5-1-dl{
    padding: 25px 53px;
  }
  .index-5-1-dl dt{
    font-size: 24px!important;
  }
  .index-5-1-dl dd{
    font-size: 18px!important;
  }
  .theme-title{
    margin: 140px 0 0 0;
  }
  #service-section{
    padding-bottom: 120px;
  }
  .nav li{
    font-size: 20px!important;
  }
  .theme-main-menu .navbar-nav>li>a{
    padding: 9px 28px;
  }
  .dropbtn img{
    width: 34px!important;
    margin-top: 2px!important;
  }
  .login{
    font-size: 20px!important;      /*  Add "login" class  */
  }
  .login-icon{
    width: 25px!important;
  }
  .login-icon.arrow{
    margin-top: -22px!important;
  }
  #sub-menu-sub {
    width: 170px!important;
  }
  .theme-main-menu.navbar .nav>li ul.sub-menu{
    width: 170px!important;
  }
  .dropdown-content{
    font-size: 18px!important;
  }
  .dropdown-content a{
    width: 130px!important;
  }
  footer p{
    font-size: 20px;
    margin-top: 28px!important;
  }
  footer ul li a{
    width: 55px!important;
    line-height: 55px!important;
  }
  .left-side h2{
    font-size: 34px!important;
  }
  .map-area h2{
    font-size: 34px!important;
  }
  .send-message h2{
    font-size: 34px!important;
  }
  #contact-section .send-message h2 {
    margin: 90px 0 50px 0;
  }
  #contact-section .send-message .single-input {
    margin-bottom: 30px;
    height: 70px;
  }
  .modal-content{
    margin: 10% auto 15% auto;
    width: 25%!important;
  }
  input[type=text], input[type=password], input[type=email], textarea{
    padding: 12px 20px!important;
  }
  button.mybutton{
    padding: 15px 8px!important;
  }
  .imgcontainer{
    padding: 20px 0 10px 0!important;
  }
  #contact-section .contact-address-content #map{
    height: 350px!important;
  }
  .g-recaptcha{
    margin-bottom: 30px!important;
    margin-top: 10px;
  }
  .left-side p{
    font-size: 20px;
    font-weight: 500px;
  }
  #contact-section .contact-address-content .left-side ul li h6{
    font-size: 24px;
  }
  #contact-section .contact-address-content .left-side ul li .icon{
    width: 70px;
    height: 70px;
    top: -9px;
    line-height: 70px;
  }
  #contact-section .contact-address-content .left-side ul li{
    margin-bottom: 70px;
  }
  #contact-section .send-message form button{
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 60px;
    border-radius: 15px;
    font-size: 18px;
    margin-bottom: 35px;
  }
    .fish{
    top: 800px!important;
    left: 45%!important;
  }
    .theme-main-header{
    padding-bottom: 19px!important;
  }
    .theme-main-menu.navbar{
    top: 4px;
  }
  .theme-main-menu.navbar .nav>li ul.sub-menu{
    padding-bottom: 0px!important;
    padding-top: 18px!important;
  }
  .sub-menu{
      margin-left:20px;
  }
  .container1{
      padding-top:8px!important;
      padding-bottom:8px!important;
  }

          /*      CHANGE THE PARTNERS SECTION      */
}

@media (min-width: 992px) {
	.container {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}

@media (max-width: 2366px) {
  .scroll-top {bottom: 20px; right:30px;background: #1f5bc1!important;}
#myBtn {bottom: 40px; right:30px;}
}
@media (max-width: 1199px) {
  #team-section .team-member-wrapper .single-team-member .img .opacity p {padding: 0 15px;}
  #team-section .team-member-wrapper .single-team-member .img .opacity {padding-top: 20px;}
  .habilidades_contenedor {margin-top: 100px;}
}
/*(max-width: 1199px)*/

@media (max-width: 991px) {
  .theme-title p,#skill-section .img img {width: 100%;}
  #skill-section {padding-bottom: 30px;}
  .blog-details-page aside {margin-top: 100px;}
  .blog-details-post-wrapper>.row p {margin-bottom: 30px;}
}
/*(max-width: 991px)*/

@media (min-width: 992px) and (max-width: 1199px) {
  .theme-main-header .logo {width: 15%; margin-bottom: 8px}
  .theme-main-menu .navbar-nav>li>a {padding: 9px 12px;}
  .theme-title p {width: 95%;}
  #our-client .client-slider p {width: 70%;}
  .recent-single-post .post {width: 75%;}
}
/*(min-width: 992px) and (max-width: 1199px)*/

@media (min-width: 768px) and (max-width: 991px) {
  .theme-main-header .logo {width: 22%; margin: 0 auto;float:none; display: block;}
  .theme-main-menu.navbar {float:none;margin-top: 30px;}
  .theme-main-menu .navbar-nav>li>a {padding: 9px 8px;}
  .theme-main-header.fixed .logo {display: none;}
  .theme-main-header.fixed .theme-main-menu.navbar {margin-top: 0;}
  #project-section .project-gallery .grid-item,
  #team-section .team-member-wrapper .float-left {width: 50%;}
  #our-client .client-slider p {width: 90%;}
  .inner-page-banner .opacity {padding-top: 210px;}
}
/*(min-width: 768px) and (max-width: 991px)*/

@media (max-width: 767px) {
  .scroll-top {bottom: 10px; right:5px;}
  #myBtn {bottom: 10px; right:5px;}
  .theme-main-header {padding-top: 15px;}
  .theme-main-header .logo {position: relative;left:15px;z-index: 99;}
  .theme-main-menu.navbar {float:none;width: 100%;}
  .theme-main-header.fixed {max-height: 100%;overflow-y:auto;overflow: visible;}
  .theme-main-menu .navbar-collapse {padding: 0 15px;box-shadow: none;border:none;margin-top: 15px;overflow: visible;}
  .theme-main-header li.dropdown-holder .fa {position:relative;display: block;}
  .theme-main-menu .navbar-nav>li>a {padding: 0;line-height: 44px;}
  .theme-main-menu.navbar .nav>li ul.sub-menu {
    position: static;
    width: 100%;
    opacity: 1;
    background: #000;
    visibility: visible;
    display: table-footer-group;
    padding-left: 25px;
    -webkit-transition: none;
       -moz-transition: none;
        -ms-transition: none;
         -o-transition: none;
            transition: none;
  }
  #pricing-section .single-price-table {margin-bottom: 50px;}
  #project-section .project-gallery .grid-item {width: 50%;}
  #team-section .team-member-wrapper .float-left,
  #team-section .team-member-wrapper .float-left img,
  #our-client .client-slider p {width: 100%;}
  #team-section .team-member-wrapper .float-left,
  #project-section .project-gallery .grid-item,
  #service-section .row [class*="col-"],#skill-section [class*="col-"],
  #pricing-section [class*="col-"],#contact-section .send-message,
  #contact-section .contact-address-content [class*="col-"],
  #blog-section [class*="col-"],.theme-main-header .container,
  .blog-details-page .p-fix {padding-left: 0;padding-right: 0;}
  
}
/*(max-width: 767px)*/

@media (max-width: 650px) {
  #success, #error {
    width: 84%;
    height: auto;
    top: calc(50% - 50px);
    left: 8%;
    padding: 30px 10px;
    margin:0;
  }
  .blog-details-post-wrapper .list-img-wrapper img,
  .blog-details-post-wrapper .post-share-area ul {float:none; width: 100%;}
  .blog-details-post-wrapper .list-img-wrapper ul {float:none;padding: 30px 0 0 0;}
  .blog-details-post-wrapper .post-share-area .share-icon li:first-child {margin-top: 30px;}
}

@media (max-width: 550px) {
  #project-section .project-gallery .grid-item,
  #project-section .project-gallery .grid-item img {width: 100%;}
  #project-section .project-menu ul li {font-size: 14px;margin: 15px 2px 0;border-bottom: 1px solid #fff;}
  #team-section .team-member-wrapper .single-team-member .img .opacity span {margin: 5px 0;}
  #team-section .team-member-wrapper .single-team-member .member-name ul li a {width: 40px;line-height: 38px;}
  .banner h1 {font-size: 24px;}
  .banner h5 {font-size: 22px;}
  .banner h6 {font-size: 20px;}
  .blog-details-post-wrapper .comment-area .single-comment.reply-comment {margin-left: 60px;}
}

@media (max-width: 430px) {
  .banner h1 {font-size: 16px;}
  .banner h5 {font-size: 14px;}
  .banner h6 {font-size: 14px;}
  .hermes.tparrows {display: none;}
  .recent-single-post .post {width: 100%;padding: 12px 0 0 0;}
  
  .num_count1{
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px!important;
    padding-right: 0px!important;
  }
  .num_count1 p{
      font-size:30px!important;
  }
  .num_count1 hr{
      width: 75%!important;
      padding-bottom:0px!important;
  }
  #counter1{
      font-size: 22px!important;
  }
  .container .item .column{
      float:none!important;
  }
  .column{
      padding-left:0px!important;
      margin-top: 0px!important;
  }
  .column img{
      margin-left:0%!important;
        margin-top: 0px!important;
  }
  .vertical-center{
    left: 20px!important;
    top: -10%!important;
    transform: none!important;
  }
  #colnew{
      width:100%!important;
  }
  .container7{
      height: 300px!important;
  }
    .theme-main-menu.navbar .nav>li ul.sub-menu{
    display: none;
    padding-left: 0px;
    padding-top: 0px;
  }
  .dropdown-content{
    padding-top: 0px;
  }
  .dropdown-content{
    position: relative;
    display: none;
  }
  #moveup{
    margin-top: -40px;
  }
  .nav > li a{
      width: max-content;
  }
}

