/*** 

====================================================================
  Scrollbar button
====================================================================

 ***/

 /* width */
 ::-webkit-scrollbar {
    width: 10px;
    display: none;
  }
  ::-webkit-scrollbar{
    width: 10px;
    display: block ;
  }
  
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: black;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff; 
  }
  
  
    /*** 
  
  ====================================================================
    
  ====================================================================
  
   ***/