#topslider {
    height: calc(100vh - 100px);

    .swiper-slide {
        height: calc(100vh - 100px);

        .swiper-slide-cover {
            max-height: calc(70vh - 100px) !important;
            justify-items: normal;
            justify-content: center;
            align-items: center;
            display: flex;
        }

        .slide-content {
            height: calc(100vh - 100px - 70vh);
        }
    }

    .arrowwrapper {
        position: relative;
        top: -10vh;
        z-index: 1;
        text-align: center;
    }

    @include media-breakpoint-down('md') {
        height: calc(100vh - 74.5px);
        .swider-wrapper {
            height: calc(100vh - 140px) !important;
        }
        .swiper-slide {
            .swiper-slide-cover {
                max-height: calc(100vh - 74.5px - 30vh);
                height: 70vh !important;
            }

            .slide-content {
                height: 25vh;
                position: absolute;
                bottom: 0;
                top: inherit;
            }
        }
    }
}
