// Fonts
// Variables
@import "helpers";
@import "variables";
// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "modal";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes slideInUp {
    0% {
        visibility: hidden;
    }
    1% {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInUp {
    0% {
        visibility: hidden;
    }
    1% {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
    animation-duration: 2s;
}

@-webkit-keyframes slideOutDown {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    to {
        visibility: hidden;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

@keyframes slideOutDown {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    to {
        visibility: hidden;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

.slideOutDown {
    -webkit-animation-name: slideOutDown;
    animation-name: slideOutDown;
    // animation-duration: 3s;
}

@import "~hamburgers/dist/hamburgers.min.css";
@import "scrollbar";
$slick-font-path: "~slick-carousel/slick/fonts/";
$slick-loader-path: "~slick-carousel/slick/";
@import "~slick-carousel/slick/slick";
@import "~slick-carousel/slick/slick-theme";
@import "~swiper/swiper-bundle.css";
//.swiper-slide-cover img {
//    transform: scale(.8);
//}
:root {
    --swiper-navigation-size: 30px;
}

@import "faq";
@import "footer";
html,
body {
    overflow-x: hidden;
}

body {
    display: block;
    position: relative;
    /** target for main menu "Home" */
    #home {
        position: relative;
        top: -100px;
    }
    header {
        @import "header";
    }
    @import "top-slider";
}

::selection {
    background: #97b4e4;
}

::-moz-selection {
    background: #97b4e4;
}

section {
    padding-top: 30px;
    padding-bottom: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    padding: 0;
    margin: 0;
}

.turnDeviceNotification {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 99999;
    text-align: center;
    background: #000 url("/images/turndevice.png") no-repeat;
    background-size: 100%;
    display: none;
    .info {
        color: #fff;
        position: absolute;
        bottom: 30px;
        width: 100%;
    }
    @include orientation-horizontal {
        @include media-breakpoint-down("md") {
            & {
                display: block;
            }
        }
    }
    @include orientation-vertical {
        & {
            display: none;
        }
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 85%;
    }
}

button.mybutton {
    font-size: 22px;
    border-radius: 20px;
    background-color: #000000;
    color: white;
    padding: 8px 8px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 16px;
}

button.mybutton:hover {
    background-color: #000 !important;
    color: #97b4e4 !important;
}

//products
#products {
    background: url(/images/home/11.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    img {
        &[src*="/svg/front/en/shifter.svg"] {
            margin-left: 31px;
        }
        &[src*="/svg/back/en/shifter.svg"] {
            margin-left: 31px;
        }
        &[src*="/svg/front/en/gatekeeper.svg"] {
            margin-left: 18px;
        }
        &[src*="/svg/back/en/gatekeeper.svg"] {
            margin-left: 18px;
        }
        &[src*="/svg/front/en/digital_id.svg"] {
            margin-left: 14px;
        }
        &[src*="/svg/back/en/digital_id.svg"] {
            margin-left: 14px;
        }
    }
}

.counter {
    color: #97b4e4;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
}

.counter-text {
    font-size: 15px;
    color: #f5f5f5;
    text-align: center;
}

.num_count1 {
    padding: 70px;
    padding-bottom: 160px;
}

@media (min-width: 768px) {
    .num_count1 .row .numcount:not(:nth-child(1)) {
        border-left: 2px solid #fff;
    }
}

//service
#service-section {
    background-image: url(/css/4.png);
    padding-bottom: 80px;
    padding-top: 95px;
    background-size: cover;
    background-attachment: fixed;
}

#service-section.webp {
    background-image: url(/css/4.webp);
}

.service-item {
    min-height: 375px;
    border-radius: 25px;
    transition: 0.3s all;
    background: rgba(255, 255, 255, 0.2);
}

.service-item dd {
    margin-right: 0;
}

.service-item:hover {
    color: #666;
    background: rgba(255, 255, 255, 1);
}

.service-item dl {
    padding: 5px 33px;
    color: #fff;
}

.service-item:hover dl {
    padding: 5px 33px;
    color: #666;
}

.service-item img {
    width: 130px;
    margin-bottom: 30px;
    margin-top: 45px;
}

.service-item .s-regular {
    display: inline;
}

.service-item .s-hover {
    display: none;
}

.service-item:hover .s-regular {
    display: none;
}

.service-item:hover .s-hover {
    display: inline;
}

#service-section .row>div {
    padding-top: 30px;
}

.index-5-1-ul-s li {
    float: left;
    width: 28.4%;
    min-height: 375px;
    border-radius: 25px;
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -o-transition: 0.3s all;
    -ms-transition: 0.3s all;
    background: rgba(255, 255, 255, 0.2);
}

.index-5-1-ul-img-2 {
    display: none;
}

.index-5-1-dl {
    padding: 5px 33px;
    color: #fff;
    text-align: center;
}

.theme-title {
    text-align: center;
    margin: 95px 0 0 0;
}

.client-slider .item {
    width: 100%;
}

.client-slider .item img {
    width: 180px;
    height: 180px;
    border-radius: 15px 60px 150px 5px;
}

.client-slider .item img[alt="quotes"] {
    width: 50px;
    height: 50px;
}

.client-slider .row {
    padding-top: 50px;
    padding-bottom: 50px;
}

.client-slider h4 {
    color: #292929;
    text-transform: uppercase;
    font-weight: 700;
    text-align: right;
}

.client-slider.rtl h4 {
    text-align: left;
}

.client-slider .container7 {
    height: 200px;
    position: relative;
}

.client-slider p {
    font-size: 18px;
    line-height: 28px;
    color: #343434;
    width: 80%;
}

.client-slider .inner-slide {
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    overflow: hidden;
}

.client-slider .inner-slide p {
    padding-left: 50px;
    text-align: left;
    letter-spacing: 3px;
    width: 100%;
}

#partner-section {
    margin: 0 0 0 0;
    background: #f9f9f9;
    padding: 50px 0;
}

#partner-section .item img {
    margin-left: auto;
    margin-right: auto;
}

.slick-dots li button:before {
    width: 13px;
    height: 13px;
    background: #fff;
    border: 1px solid #9d9f9f;
    margin: 0 5px;
    border-radius: 30px;
    content: "";
}

.slick-dots li.slick-active button:before {
    background: #97b4e4;
    border-color: #97b4e4;
    border-style: solid;
}

h2 {
    color: #000;
    font-size: 26px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    margin: 30px 0 40px 0;
}

//contacts

/***
====================================================================
  Contact Section
====================================================================
 ***/

.left-side.rtl {
    direction: rtl;
}

.left-side.rtl h6 {
    text-align: right;
}

#contacts {
    .contact-address-content {
        .left-side.rtl ul li .icon {
            margin-left: 10px;
            margin-right: 0;
        }
        h2 {
            margin: 95px 0 40px 0;
        }
        .left-side ul {
            margin-top: 50px;
            li {
                position: relative;
                margin-bottom: 50px;
                h6 {
                    font-size: 18px;
                    margin-bottom: 8px;
                    font-weight: 700;
                }
                .icon {
                    width: 60px;
                    height: 60px;
                    border-width: 1px;
                    margin-right: 10px;
                    left: 0;
                    top: -9px;
                    text-align: center;
                    line-height: 60px;
                    color: #fff;
                    font-size: 25px;
                }
                &:hover .icon {
                    background: #fff;
                    color: #97b4e4 !important;
                    border: 1px solid #97b4e4;
                }
            }
        }
        #map {
            width: 100%;
            height: 330px;
            #gmap_canvas {
                width: 100%;
                height: 100%;
            }
        }
    }
    .send-message {
        padding: 0 15px;
        h2 {
            margin: 50px 0 40px 0;
        }
        .single-input {
            margin-bottom: 20px;
            height: 50px;
            input {
                width: 100%;
                height: 100%;
                border: 2px solid #dfdfdf;
                padding: 0 15px;
                border-radius: 15px;
                /**border-color: #171717;**/
                &:focus {
                    border-color: #97b4e4;
                }
                @include media-breakpoint-down("md") {
                    font-size: 18px;
                    padding: 0 10px;
                    border-radius: 8px;
                }
            }
        }
        form textarea {
            width: 100%;
            border: 2px solid #dfdfdf;
            border-radius: 15px;
            /**border-color: #171717;**/
            height: 260px;
            max-width: 100%;
            max-height: 260px;
            margin-bottom: 20px;
            padding: 20px 15px;
            &:focus {
                border-color: #97b4e4;
            }
            @include media-breakpoint-down("md") {
                font-size: 18px;
                padding: 0 10px;
                border-radius: 8px;
            }
        }
        form {
            button {
                width: auto;
                padding-left: 15px;
                padding-right: 15px;
                line-height: 40px;
                text-align: center;
                color: #fff;
                text-transform: uppercase;
                border-width: 1px;
                border-radius: 10px;
                margin-bottom: 25px;
                &:hover {
                    background: #fff;
                    color: #97b4e4 !important;
                }
                border-color: #97b4e4;
                border-style: solid;
            }
        }
    }
}

#sub-menu-sub {
    width: 150px;
}

.p-color-bg {
    background: #97b4e4;
}

input,
textarea {
    outline: none;
    box-shadow: none;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


/***
====================================================================
  Conatct Form Activation
====================================================================
 ***/

.alert-wrapper {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    z-index: 9999999;
}

#success,
#error {
    position: relative;
    width: 500px;
    height: 100px;
    top: calc(50% - 50px);
    left: calc(50% - 250px);
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
}

#success .wrapper,
#error .wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

#success .wrapper p,
#error .wrapper p {
    display: table-cell;
    vertical-align: middle;
    letter-spacing: 1px;
}

#success {
    color: #57d1c9;
}

#error {
    color: #c9182b;
}

#error button,
#success button {
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 20px;
    background: transparent;
    border-radius: 50%;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 20px;
}

.form-validation label.error {
    display: none !important;
}

.form-validation input.error,
.form-validation textarea.error {
    border: 1px solid #f03838 !important;
}

@include media-breakpoint-up("lg") {
    .swiper-container {
        width: 100%;
        height: calc(100vh - 100px);
    }
}

.swiper-slide {
    .txt-wrap {
        overflow: hidden;
        h5,
        h1 {
            margin-bottom: 0;
        }
        h1 {
            white-space: nowrap;
        }
    }
}

@media (max-width: 991px) {
    .txt-wrap h1 {
        font-size: 30px;
    }
}

@media (max-width: 767px) {
    .txt-wrap h1 {
        font-size: 18px;
    }
    .txt-wrap h5 {
        font-size: 16px;
    }
}

.swiper-scale-effect .swiper-slide-cover {
    transform-origin: center;
    transition: 20s ease-out;
    transition-property: transform;
    transform: scale(1.4);
    z-index: -1;
    left: 0;
    height: 100vh;
}

.swiper-scale-effect .swiper-slide.swiper-slide-active .swiper-slide-cover {
    transform-origin: center;
    transform: scale(1);
}

.swiper-button-prev,
.swiper-button-next {
    color: #fff;
}

.slide-content {
    position: absolute;
    top: 60vh;
    left: 0;
    width: 100vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    .moveup {
        // margin-top:10%;
        cursor: pointer;
    }
}

.arrowwrapper {
    -webkit-animation: bouncex 4s infinite;
    animation: bouncex 4s infinite;
    margin-top: 2%;
}

@-webkit-keyframes bouncex {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    60% {
        -webkit-transform: translateY(+10px);
        transform: translateY(+10px);
    }
}

@keyframes bouncex {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    60% {
        -webkit-transform: translateY(+10px);
        transform: translateY(+10px);
    }
}

.slide-content {
    h1,
    h5 {
        color: #fff;
    }
    h1,
    h5,
    .moveup {
        display: none;
    }
}

.panel1 {
    padding: 0 10px;
    background-color: white;
    max-height: 0;
    width: 70%;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

img,
figure {
    max-width: 100%;
}

.hdevider {
    position: relative;
    font-size: 30px;
    height: 20px;
    margin-bottom: 30px;
}

.sec-title-border {
    text-align: center;
    width: 130px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 2px solid #222;
    right: 0;
    height: 0;
    margin: auto;
}

.sec-title-border span {
    width: 9px;
    height: 9px;
    position: relative;
    display: inline-block;
    margin: 0 1px;
    bottom: 30px;
}

.sec-title-border span::before {
    background: #222;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: rotate(45deg);
}

.sec-title-border.white {
    border-top-color: #fff;
}

.sec-title-border.white span::before {
    background: #fff;
}

@media screen and (min-width: 600px) {
    #pp_pages {
        margin: 150px;
    }
}

#pp_pages {
    h1 {
        margin-top: 50px;
        text-align: center;
    }
}

[lang="en"] {
    #pp_pages {
        p {
            &:after {
                content: "\a";
                white-space: pre;
            }
        }
    }
}

[lang="he"] {
    @at-root & body #pp_pages {
        text-align: right !important;
    }
    #pp_pages {
        direction: rtl;
        ul {
            font-size: 14px;
            margin-left: 10px;
            list-style-type: disc;
            direction: rtl;
            margin-right: 50px;
        }
    }
}

#our-client {
    padding-top: 40px;
    padding-bottom: 40px;
}

.scroll-top {
    bottom: 46px;
    right: 30px;
    background: #1f5bc1 !important;
}

.preloaderLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: #ffffff;
    #preloader-spinner {
        position: absolute;
        left: 50%;
        top: 50%;
        animation: preloader-spinner 0.8s infinite linear;
        transform-origin: center top;
    }
    @keyframes preloader-spinner {
        from {
            transform: translateX(-50%) rotate(0) scale3d(1.1, 1.1, 1.1);
        }
        to {
            transform: translateX(-50%) rotate(360deg) scale3d(1.1, 1.1, 1.1);
        }
    }
}

.tran3s {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
    //*:not([class~=v-]){
    width: 100%;
    border-radius: 20px;
    font-size: 20px;
    padding: 5px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    //}
}

#contact-success {
    display: none;
    height: 550px;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1500px) {
    .slide-content h1 {
        font-size: 62px !important;
    }
    .slide-content h5 {
        font-size: 36px;
    }
    #service1 {
        margin-left: 40px !important;
        margin-right: 40px !important;
    }
    .service-item {
        min-height: 500px !important;
        margin: 0 40px;
    }
    .service-item img {
        width: 180px !important;
    }
    .service-item dt {
        font-size: 24px !important;
    }
    .service-item dd {
        font-size: 18px !important;
    }
    .cfont {
        font-size: 22px !important;
    }
    .counter {
        font-size: 64px !important;
    }
    .map-area h2,
    .left-side h2,
    .num_count1 h2,
    #products h2,
    #about-us h2,
    .send-message h2 {
        font-size: 34px !important;
        margin-bottom: 50px !important;
    }
    h4 {
        font-size: 30px !important;
    }
    .left-side p {
        font-size: 20px;
        //font-weight: 500px;
    }
    #contacts .contact-address-content .left-side ul li h6 {
        font-size: 24px;
    }
    #FAQ.rtl .accordion__child .accordion__label {
        font-size: 20px !important;
    }
}

.counter-text {
    font-size: 20px !important;
}

input.error {
    border-color: red;
}

.features-list {
    list-style-image: url("/images/logo/check-mark-smo25.png");
    @media screen and (max-width: 667px) {
        margin-left: 24px;
        margin-right: 24px;
    }
}

#about-us.ru .ch-text {
    padding-right: 70px;
}

#about-us.ru .cfont {
    font-size: 18px !important;
}

#about-us.ru .check-mark {
    width: 19px;
    // height: 22px;
    padding-top: 2px;
}

#about-us.rtl .check-mark {
    float: right;
    margin-left: 10px;
}

.rtl {
    direction: rtl;
}

button,
button:focus {
    outline: none !important;
}

footer .logo img {
    margin-bottom: 17px;
}

.client-slider .img-m {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

@media (max-width: 768px) {
    .mobile-img-width {
        max-width: 70%;
    }
    .pr-0-mobile {
        padding-right: 0 !important;
    }
    #products img[src*="/svg/front/en/shifter.svg"] {
        margin-left: 0 !important;
    }
    #products img[src*="/svg/front/en/gatekeeper.svg"] {
        margin-left: 0 !important;
    }
    #products img[src*="/svg/front/en/digital_id.svg"] {
        margin-left: 0 !important;
    }
    .lang>.dropdown-item {
        font-size: 18px !important;
    }
    .he-align-end {
        align-self: flex-end;
    }
    .rtl-mobile {
        direction: rtl;
    }
    #navbarSupportedContent {
        padding-left: 6px;
        padding-right: 12px;
    }
    #about-us .check-mark {
        width: 18px;
        float: left;
    }
    .txt-wrap.h1 {
        margin-bottom: 20px;
        height: fit-content;
    }
    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }
    .txt-wrap h1 span {
        display: block;
    }
    .num_count1 h2 span {
        display: block;
    }
    .client-slider .container7 {
        height: 300px;
    }
    .client-slider .img-m {
        margin-right: auto;
        margin-left: 0;
    }
    #pp_pages {
        margin: 10px;
    }
    .lang .dropdown-item {
        height: 34px;
    }
    .txt-wrap {
        overflow: hidden;
    }
    .num_count1 h2 {
        font-size: 35px;
    }
}

.swiper-button-next,
.swiper-button-prev {
    outline: none;
}

.slick-slide:focus {
    outline: none;
}

#loginPopUp #email-error,
#loginPopUp #password-error {
    display: none !important;
}

#contact-success p {
    font-weight: bold;
    font-size: 30px;
    color: #97b5e4;
}

.product-block-row {
    .product-block {
        @include media-breakpoint-down('lg') {
            height: 42vh;
        }
        @include media-breakpoint-down('lg') {
            height: 48vh;
        }
        @include media-breakpoint-down('md') {
            height: 55vh;
        }
    }
}

@import "product_page";
@import "mywowslider";
@import "ie";