<template>
    <div style="position:relative" @mouseenter="hoverClass=true" @mouseleave="hoverClass=false">
        <v-card :class="{top: (hoverClass && name === 'missing_barcodes' && counter !== 0), main: !(hoverClass && name === 'missing_barcodes' && counter !== 0)}" color="#2A3140" dark>
            <v-overlay :absolute="true" :value="overlay">
                <v-progress-circular indeterminate size="24"/>
            </v-overlay>
            <v-list-item :to="(counter > 0 && name !== 'missing_barcodes') ? link : null" three-line>
                <v-list-item-content>
                    <v-list-item-title
                        class="headline mb-1"
                        style="font-size: 40px !important; color: #dcdcdc !important;"
                    >
                        {{ counter }}
                    </v-list-item-title>
                    <v-list-item-subtitle style="color: #dcdcdc !important;">
                        {{ subtitle }}
                    </v-list-item-subtitle>
                </v-list-item-content>
                <v-list-item-icon>
                    <v-icon
                        :color="iconColor"
                        size="50"
                        style="width: 50px"
                        v-text="icon"
                    />
                </v-list-item-icon>
            </v-list-item>
        </v-card>
        <v-card class="middle" v-if="name === 'missing_barcodes' && hoverClass && counter > 0" color="#2A3140" dark style="position:absolute !important; z-index: 9999 !important; left: 0; right: 0;">
            <v-list-item :to="missing_barcodes > 0 ? { name: 'sidebar.reports.patrol' } : null" three-line>
                <v-list-item-content>
                    <v-list-item-title
                        class="headline mb-1"
                        style="font-size: 40px !important; color: #dcdcdc !important;"
                    >
                        {{ missing_barcodes }}
                    </v-list-item-title>
                    <v-list-item-subtitle style="color: #dcdcdc !important;">
                        {{ $t('sidebar.reports.patrol') }}
                    </v-list-item-subtitle>
                </v-list-item-content>
                <v-list-item-icon>
                    <v-icon
                        color="#8f8f94"
                        size="35"
                        style="width: 35px"
                        v-text="'$app-icon-patrol-rep'"
                    />
                </v-list-item-icon>
            </v-list-item>
        </v-card>
        <v-card class="bottom" v-if="name === 'missing_barcodes' && hoverClass && counter > 0" color="#2A3140" dark style="margin-top:92px; position:absolute !important; z-index: 9999 !important; left: 0; right: 0;">
                    <v-list-item :to="missing_inspector_barcodes > 0 ? { name: 'sidebar.reports.inspector' } : null" three-line>
                <v-list-item-content>
                    <v-list-item-title
                        class="headline mb-1"
                        style="font-size: 40px !important; color: #dcdcdc !important;"
                    >
                        {{ missing_inspector_barcodes }}
                    </v-list-item-title>
                    <v-list-item-subtitle style="color: #dcdcdc !important;">
                        {{ $t('sidebar.reports.inspector') }}
                    </v-list-item-subtitle>
                </v-list-item-content>
                <v-list-item-icon>
                    <v-icon
                        color="#8f8f94"
                        size="35"
                        style="width: 35px"
                        v-text="'$app-icon-rep-inspector'"
                    />
                </v-list-item-icon>
            </v-list-item>
        </v-card>
    </div>
</template>

<script>
    import { mapState } from 'vuex'
    export default {
        name: 'DashboardBlock',
        props: {
            link: {
                type: [Object, String],
                required: true
            },
            icon: {
                type: String,
                default: ''
            },
            iconColor: {
                type: String,
                default: '#ffffff'
            },
            counter: {
                type: [Number, String],
                default: 0
            },
            overlay: {
                type: Boolean,
                default: false
            },
            subtitle: {
                type: String,
                default: ''
            },
            name: {
                type: String,
                default: ''
            },
        },
        data: () => ({
            hoverClass: false,
            dates_new: { from: new Date(new Date().setDate(new Date().getDate() - 1)), to: new Date() },
        }),
        computed: {
            ...mapState('dashboardBlocks', [
                'missing_inspector_barcodes',
                'missing_barcodes'
            ]),
        }
    }
</script>

<style lang="scss" scoped>
    .bottom {
        border-radius: 0 !important;
        border-bottom-left-radius: 10px !important;
        border-bottom-right-radius: 10px !important;
    }

    .middle {
        border-radius: 0 !important;
    }

    .top {
        border-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        border-top-left-radius: 10px !important;
        border-top-right-radius: 10px !important;
    }

    .main {
        border-bottom-left-radius: 10px !important;
        border-bottom-right-radius: 10px !important;
        border-top-left-radius: 10px !important;
        border-top-right-radius: 10px !important;
    }
</style>
