<template>
    <div id="map" ref="mapWrap">
        <GmapMap
            ref="mapRef"
            :center="config.ui.map.center"
            :options="mapOptions"
            :zoom="config.ui.map.zoom"
            class="d-flex fill-height align-stretch"
            @center_changed="center_changed"
            @zoom_changed="zoom_changed"
        >
            <GmapMarker
                v-for="(m, index) in points"
                :key="index"
                :animated="true"
                :clickable="true"
                :draggable="false"
                :position="m.position"
                infoWIndow="some text"
                openInfoWIndow="true"
                @click="showInfo(m)"
                @rightclick="goTo(m.position)"
            />
            <GmapInfoWindow
                v-if="gmapInfoWindowShow"
                :position="gmapInfoWindowCenter"
                @closeclick="closeInfo"
            >
                <p>{{ gmapInfoWindowData.scanned_time | dateFormat }}</p>
                <p>{{ gmapInfoWindowData.facility.name }}</p>
                <p>{{ gmapInfoWindowData.code }}</p>
            </GmapInfoWindow>
        </GmapMap>
    </div>
</template>

<script>
import {mapActions, mapGetters, mapState} from 'vuex'
import i18n from './../../i18n'
import {format_date_time} from '@/helpers/datetimes'

export default {
    name: 'Map',
    filters: {
        dateFormat(value) {
            return format_date_time(value, i18n.locale)
        }
    },
    data: () => ({
        mapInit: false,
        mapInitStart: null,
        mapOptions: {
            zoomControl: true,
            mapTypeControl: false,
            scaleControl: false,
            streetViewControl: false,
            rotateControl: false,
            fullscreenControl: true,
            disableDefaultUi: false
        },
        center: {
            lat: 0,
            lng: 0
        },
        zoom: 7,
        gmapInfoWindowShow: false,
        gmapInfoWindowCenter: {
            lat: 0,
            lng: 0
        },
        gmapInfoWindowData: {},
        mapThrottlerCenter: null,
        mapThrottlerZoom: null
    }),
    computed: {
        ...mapGetters('dashboardMap', ['points']),
        ...mapState('config', ['config']),
        lang() {
            return this.$i18n.locale
        }
    },
    watch: {
        points: {
            handler(...a) {
                this.initMapMethod(...a)
            }
        }
    },
    mounted() {
        // this.initMapMethod([], []);
        this.$refs.mapRef.$mapPromise.then(() => {
            if (!this.mapInit) {
                this.mapInit = true
            }
        })

        const map = this.$refs.mapWrap
        map.style.height = `${document.documentElement.clientHeight - map.offsetTop - 360}px`

        window.addEventListener('resize', resizeThrottler, false)
        let resizeTimeout

        function resizeThrottler() {
            if (!resizeTimeout) {
                resizeTimeout = setTimeout(function () {
                    resizeTimeout = null
                    actualResizeHandler()
                }, 66)
            }
        }

        function actualResizeHandler() {
            map.style.height = `${document.documentElement.clientHeight - 360}px`
        }

        this.$nextTick(() => {
            actualResizeHandler()
        })
    },
    methods: {
        ...mapActions('config', ['update']),
        initMapMethod(n) {
            if (null === this.mapInitStart) {
                this.mapInitStart = setInterval(() => {
                    if (this.mapInit === true) {
                        this.fit(n)
                        clearInterval(this.mapInitStart)
                    }
                }, 100)
            }
        },
        zoom_changed(zoom) {

            if (!this.mapInit) {
                this.zoom = 15
                this.mapInit = true
            } else {
                if (!this.mapThrottlerZoom) {
                    this.mapThrottlerZoom = setTimeout(() => {
                        this.update({'ui.map.zoom': zoom})
                        this.mapThrottlerZoom = null
                    }, 333)
                }
            }
        },
        center_changed(coords) {
            if (!this.mapThrottlerCenter) {
                this.mapThrottlerCenter = setTimeout(() => {
                    this.update({'ui.map.center': coords})
                    this.mapThrottlerCenter = null
                }, 333)
            }
        },
        fit(n) {
            if (google && n.length > 1) {
                const bounds = new google.maps.LatLngBounds()
                for (let m of n) {
                    bounds.extend(m.position)
                }
                this.$refs.mapRef.fitBounds(bounds)
            } else if (google && n.length === 1) {
                this.center = this.points[0].position
            } else {
                this.center = typeof this.config.ui.map !== 'undefined' &&
                this.config.ui.map.center ?
                    this.config.ui.map.center : {
                        lat: 0,
                        lng: 0
                    }
                this.zoom = this.config.ui.map.zoom || 7
            }
        },
        goTo(position) {
            this.center = position
        },
        showInfo(point) {
            this.gmapInfoWindowCenter = point.position
            this.gmapInfoWindowData = point
            this.gmapInfoWindowShow = true
        },
        closeInfo() {
            this.gmapInfoWindowShow = false
        }/*,
        clickCluster(cluster) {
            this.$refs.mapRef.fitBounds(cluster.getBounds())
        }*/
    }
}
</script>
