<template>
    <v-container
        class="align-self-stretch align-content-start"
        id="patrol"
        :fluid="true"
    >
        <v-data-table
            :headers="headers"
            :items="exceptions"
            class="elevation-1"
            loadingText="Loading..."
        >
            <template v-slot:top>
                <v-row>
                    <v-col>
                        <v-card-title>
                            {{ $t($route.name) }}
                        </v-card-title>
                    </v-col>
                    <v-spacer></v-spacer>
                    <v-col>
                        <the-dates-period-select
                            :max="$options.filters.dateFormat(maxDate)"
                            :min="$options.filters.dateFormat(minDate)"
                            @dates="dates"
                        ></the-dates-period-select>
                    </v-col>
                </v-row>
            </template>

            <template v-slot:[`item.drive_file_id_open`]="{ item }">
                <the-file-open-button v-if="item.code !== 's_tb_em' && item.code !== 's_tb_ls'"
                    :color="item.code  === 's_ch' ? '#FF0000' : '#2a3140'"
                    :fileId="item.report.drive_file_id"
                    :icon="'mdi-open-in-new'"
                >
                </the-file-open-button>
            </template>

            <template v-slot:[`item.drive_file_id`]="{ item }">
                <the-file-download-button v-if="item.code !== 's_tb_em' && item.code !== 's_tb_ls'"
                    :color="item.code  === 's_ch' ? '#FF0000' : '#2a3140'"
                    :fileId="item.report.drive_file_id"
                    :icon="'$app-icon-file-download'"
                >
                </the-file-download-button>
            </template>

            <template v-slot:[`item.type`]="{ item }">
                {{ $t(`tables.exceptions.types.${item.type}`) }}
            </template>

            <template v-slot:[`item.codes`]="{ item }">
                <MissedPointBtnBlock
                    v-if="item.code === 's_bc_ls'"
                    :item="item.report"
                >
                </MissedPointBtnBlock>
                <span v-else>
                    {{ errorsList(item) }}
                </span>
            </template>

            <template v-slot:[`item.facility`]="{ item }">
                {{
                    item.facility !== null
                        ? item.facility.name
                        : item.facility_name
                }}
            </template>

            <template v-slot:[`item.sort_date`]="{ item }">
                {{ sortDate(item) }}
            </template>
        </v-data-table>
    </v-container>
</template>

<script>
import TheDatesPeriodSelect from "../../assets/TheDatesPeriodSelect";
import TheFileOpenButton from "../../assets/TheFileOpenButton";
import TheFileDownloadButton from "../../assets/TheFileDownloadButton";
import MissedPointBtnBlock from "@/components/MissedPointBtnBlock";
import i18n from "../../i18n";
import { format_date, format_date_time } from "@/helpers/datetimes";
import { wrap } from "@/helpers/dir";

/**
 * @see reports
 * @see downloadFile
 */
export default {
    name: "Exceptions",
    components: {
        TheDatesPeriodSelect,
        TheFileOpenButton,
        TheFileDownloadButton,
        MissedPointBtnBlock
    },
    mixins: { i18n },
    data() {
        return {
            source: "patrol",
            reactOnEvent: true,
            maxDate: new Date(),
            minDate: new Date(),
            dates_new: { from: new Date(new Date().setDate(new Date().getDate() - 1)), to: new Date() },
            rtl: i18n.locale === "he"
        };
    },
    filters: {
        toList(val) {
            if (typeof val === "undefined" || val === null) {
                return null;
            }
            if (typeof val === "object") {
                return Object.values(val).join(", ");
            }
            return "";
        },
        dateFormat(value) {
            return format_date_time(value, i18n.locale);
        },
        dateOnlyFormat(value) {
            return format_date(value, i18n.locale);
        },
        timeGroupFormat(value) {
            return value
                .split("-", 2)
                .reduce(
                    (list, item) => (
                        list.push(item.split(":", 2).join(":")), list
                    ),
                    []
                )
                .join("-");
        }
    },
    computed: {
        headers() {
            return [
                {
                    text: this.$t("tables.reports_patrol.headers.datetime"),
                    value: "sort_date",
                    filterable: false
                },
                {
                    text: this.$t("tables.reports_patrol.headers.facility"),
                    value: "facility",
                    filterable: false,
                    sort: (a, b) => {
                        return a.facility_name.localeCompare(b.facility_name)
                    }
                },
                {
                    text: this.$t("tables.exceptions.headers.type"),
                    value: "type",
                    filterable: false,
                    sortable: false
                },
                {
                    text: this.$t("tables.exceptions.headers.errors_list"),
                    value: "codes",
                    sortable: false,
                    filterable: false
                },
                {
                    text: this.$t(
                        "tables.reports_patrol.headers.report_download"
                    ),
                    value: "drive_file_id",
                    sortable: false,
                    filterable: false,
                    width: "50"
                },
                {
                    text: this.$t("tables.reports_patrol.headers.patrol_open"),
                    value: "drive_file_id_open",
                    sortable: false,
                    filterable: false,
                    width: "50"
                }
            ];
        },
        exceptions() {
            return this.$store.getters["reports_exceptions/exceptions"](
                this.dates_new
            );
        }
    },
    methods: {
        dates(e) {
            this.dates_new = e;
        },
        errorsList(item) {
            const codes = JSON.parse(item.codes);
            if (codes.length) {
                return codes
                    .map(code => {
                        let mess;
                        switch (code) {
                            case "s_bc_ls":
                                // eslint-disable-next-line no-case-declarations
                                const points = item.reports
                                    .map(report =>
                                        report.missed_points
                                            .map(point => wrap(this.rtl, point))
                                            .join(this.rtl ? " ," : ", ")
                                    )
                                    .join(this.rtl ? " ," : ", ");
                                mess = this.$i18n.t(
                                    `tables.exceptions.events_descriptions.${code}`,
                                    { points }
                                );
                                break;
                            case "s_tb_ls":
                            case "s_tb_em":
                                // eslint-disable-next-line no-case-declarations
                                const missed_count =
                                    item.expected_reports - item.reports.length;
                                // eslint-disable-next-line no-case-declarations
                                const time_group = item.time_group;
                                mess = this.$i18n.tc(
                                    `tables.exceptions.events_descriptions.s_tb_ls`,
                                    missed_count,
                                    {
                                        missed_count,
                                        time_group
                                    }
                                );
                                break;
                            default:
                                mess = this.$i18n.t(
                                    `tables.exceptions.events_descriptions.${code}`,
                                    {
                                        facility: item.facility_code,
                                        date: item.date,
                                        time: item.time
                                    }
                                );
                        }
                        return `${mess}`;
                    })[0]
            }
            return null;
        },
        sortDate(item) {
            return item.time_group === null
                ? this.$options.filters.dateFormat(item.start_date_time, i18n.locale)
                : i18n.locale === "he"
                ? `${this.$options.filters.timeGroupFormat(
                      item.time_group
                  )} ${this.$options.filters.dateOnlyFormat(
                      item.start_date_time,
                      i18n.locale
                  )}`
                : `${this.$options.filters.dateOnlyFormat(
                      item.start_date_time,
                      i18n.locale
                  )} ${this.$options.filters.timeGroupFormat(item.time_group)}`;
        }
    },
    mounted() {
        this.$store.commit("SET_APP_HEADER", false);
        this.minDate.setMonth(this.minDate.getMonth() - 2);
    },
    beforeDestroy() {
        this.$store.commit("SET_APP_HEADER", true);
    }
};
</script>
