<template>
    <span>
        <slot v-bind:color="color"/>
    </span>
</template>

<script>
    export default {
        name: 'EventBlock',
        props: {
            alertColor: {
                required: true,
                default: null,
                type: String
            },
            baseColor: {
                required: true,
                default: null,
                type: String
            },
            alertCount: {
                default: 6,
                type: Number
            },
            alterInterval: {
                default: 500,
                type: Number
            },
            enable: {
                type: Boolean,
                default: false
            }
        },
        data: () => ({
            intervalId: null,
            color: null,
            counter: 0
        }),
        beforeMount () {
            this.color = this.baseColor
        },
        mounted () {
            if (this.enable) {
                this.intervalId = setInterval(() => {
                    this.counter++
                    this.color =
                        this.color === this.alertColor
                            ? this.baseColor
                            : this.alertColor
                    if (this.counter >= this.alertCount) {
                        clearInterval(this.intervalId)
                    }
                }, this.alterInterval)
            }
        }
    }
</script>
