<template>
    <div id="clock">
        <template v-if="time"> {{ time }}</template>
        <template v-else>
            <v-progress-circular indeterminate size="16" width="2"/>
        </template>
    </div>
</template>

<script>
    import { mapState } from 'vuex'
    import { format_full_date_time } from '../helpers/datetimes'

    export default {
        name: 'Clock',
        data: () => ({
            id: null,
            time: null
        }),
        computed: {
            ...mapState(['lang'])
        },
        watch: {
            lang: 'init'
        },
        created () {
            this.init()
        },
        methods: {
            updateTime () {
                this.time = format_full_date_time(new Date(), this.$i18n.locale)
            },
            init () {
                this.id && clearInterval(this.id)
                this.time = null
                this.id = setInterval(this.updateTime, 1000)
            }
        }
    }
</script>

<style scoped></style>
