<template>
    <div id="Languages">
        <v-menu offset-y>
            <template v-slot:activator="{ on }">
                <v-btn icon v-on="on">
                    <v-icon
                        size="24"
                        style="width: 35px"
                        v-text="`$app-icon-lang-${currentLang}`"
                    />
                </v-btn>
            </template>
            <v-list>
                <v-list-item
                    :key="lang"
                    @click="changeLang(lang)"
                    v-for="(obj, lang) in languages"
                    v-ripple="{ center: true }"
                >
                    <v-list-item-avatar size="30">
                        <v-icon v-text="`$app-icon-lang-${lang}`"/>
                    </v-list-item-avatar>
                    <v-list-item-title>{{ obj.langName }}</v-list-item-title>
                </v-list-item>
            </v-list>
        </v-menu>
    </div>
</template>

<script>
    import { mapActions } from 'vuex'

    export default {
        name: 'Languages',
        computed: {
            languages () {
                return this.$i18n.messages
            },
            currentLang () {
                return this.$i18n.locale
            }
        },
        methods: {
            ...mapActions(['changeLang'])
        }
    }
</script>
