<template>
    <div class="app-title" style="color:#e7ebee !important;">
        {{ text }}
    </div>
</template>

<script>
    export default {
        name: 'Title',
        props: {
            text: {
                type: String,
                default: 'IRONMAX'
            }
        }
    }
</script>

<style lang="scss">
    .app-title {
        font-family: Calisto MT, serif;
    }
</style>
