<template>
    <div>
        <v-row
            v-for="(period, index) in value"
            :key="index + period.interval.join('-')"
            align="end"
            class="mx-0"
        >
            <v-col>
                <TimeBlock2359
                    :max="getMax(index)"
                    :min="getMin(index)"
                    :value="period.interval"
                    @input="value => change(index, value)"
                />
            </v-col>
            <v-col cols="1">
                <v-text-field
                    :label="$t('patrols.timetable.num_patrols')"
                    :title="$t('patrols.timetable.num_patrols')"
                    :value="period.count"
                    min="1"
                    type="number"
                    @input="value => changeCount(index, value)"
                />
            </v-col>
            <v-col v-if="removeButton" align="start" align-self="center" cols="auto">
                <v-row>
                    <v-col>
                        <v-btn
                            color="red"
                            dark
                            fab
                            x-small
                            @click="removePeriod(index)"
                        >
                            <v-icon>mdi-minus</v-icon>
                        </v-btn>
                    </v-col>
                    <v-col>
                        <template v-if="canAddPeriodAfter(index)">
                            <v-btn
                                color="green"
                                dark
                                fab
                                x-small
                                @click="addPeriodAfter(index)"
                            >
                                <v-icon>mdi-subdirectory-arrow-left</v-icon>
                            </v-btn>
                        </template>
                        <template v-else>
                            <v-tooltip bottom>
                                <template v-slot:activator="{ on, attrs }">
                                    <div
                                        v-bind="attrs"
                                        v-on="on"
                                    >
                                        <v-btn
                                            disabled
                                            fab
                                            x-small
                                        >
                                            <v-icon>mdi-subdirectory-arrow-left</v-icon>
                                        </v-btn>
                                    </div>
                                </template>
                                <span v-html="$t('tooltips.cant_add_time_block')"/>
                            </v-tooltip>
                        </template>
                    </v-col>
                </v-row>

            </v-col>
        </v-row>
        <v-row>
            <v-col class="text-center">
                <v-btn v-if="canShoBigBtn" color="#7FB147" dark fab @click="addPeriod">
                    <v-icon>mdi-plus</v-icon>
                </v-btn>
            </v-col>
        </v-row>
    </div>
</template>
<script>
import TimeBlock2359 from './TimeBlock2359'
import _ from 'lodash'

export default {
    name: 'DayBlock',
    components: {TimeBlock2359},
    props: {
        removeButton: {
            type: Boolean,
            default: true
        },
        value: {
            type: Array
        }
    },
    data: () => ({
        defaultValue: [
            {
                interval: ['08:00', '17:00'],
                count: 1
            }
        ],
        maxIntervalTime: '23:59'
    }),
    computed: {
        times() {
            return this.exemplar.map(period => {
                return period.interval
            })
        },
        exemplar() {
            return this.value
        },
        canShoBigBtn() {
            return this.exemplar === null || this.exemplar.length === 0 || (this.exemplar.length > 0 && this.canAddPeriodAfter(this.exemplar.length - 1))
        },
    },
    mounted() {
        if (this.value === null) {
            this.emitChange(this.defaultValue)
        }
    },
    methods: {
        change(index, value) {
            const ex = this.exemplar
            ex[index]['interval'] = value
            const nextIndex = index + 1
            if (
                typeof this.times[nextIndex] !== 'undefined' &&
                this.times[nextIndex][0] < value[1]
            ) {
                ex[nextIndex]['interval'] = [
                    value[1],
                    this.times[nextIndex][1]
                ]
            }
            this.emitChange(ex)
        },
        changeCount(index, value) {
            const ex = this.exemplar
            ex[index]['count'] = parseInt(value)
            this.emitChange(ex)
        },
        getMin(index) {
            const prevIndex = index - 1
            if (index && typeof this.times[prevIndex] !== 'undefined') {
                return this.times[prevIndex][1]
            }
        },
        getMax(index) {
            const nextIndex = index + 1
            if (typeof this.times[nextIndex] !== 'undefined') {
                return this.times[nextIndex][0]
            }
        },
        addPeriod() {
            const ex = this.exemplar
            if (this.times.length > 0) {
                ex.push({
                    interval: [_.max(_.maxBy(this.times, _.max)), this.maxIntervalTime],
                    count: 1
                })
            } else {
                ex.push(this.defaultValue[0])
            }
            this.emitChange(ex)
        },
        removePeriod(index) {
            const ex = this.exemplar
            ex.splice(index, 1)
            this.emitChange(ex)
        },
        canAddPeriodAfter(index) {
            const ex = this.exemplar
            const curEndInterval = ex[index].interval[1]
            if (curEndInterval >= this.maxIntervalTime) {
                return false
            }
            if (typeof ex[index + 1] === 'undefined') {
                return true
            }
            const nextStartInterval = ex[index + 1].interval[0]
            return nextStartInterval > curEndInterval
        },
        addPeriodAfter(index) {
            let ex = this.exemplar
            const curEndInterval = ex[index].interval[1]
            const endPeriod = typeof ex[index + 1] === 'undefined' ? this.maxIntervalTime : ex[index + 1].interval[0]
            ex.splice(index + 1, 0, {
                interval: [curEndInterval, endPeriod],
                count: 1
            })
            this.emitChange(ex)
        },
        emitChange(v) {
            this.$emit('change', v)
            this.$emit('input', v)
        }
    }
}
</script>
