<template>
    <v-row align="end">
        <v-col class="pa-0" cols="1">
            <TheModalClockSelect
                v-model="from"
                :allowed-minutes="clock_allowed_step"
                :cancel-text="$t('patrols.timetable.cancel')"
                :label="$t('patrols.timetable.from')"
                :max="to"
                :min="min"
                :ok-text="$t('patrols.timetable.ok')"
                :title="$t('patrols.timetable.from')"
                @hour="setHour"
            />
        </v-col>
        <v-col>
            <v-range-slider
                :max="max_range"
                :min="min_range"
                :step="10"
                :tick-labels="range_ticks"
                :value="range_interval"
                color="#7FB147"
                thumb-label="always"
                thumb-size="46"
                @change="changeRange"
            >
                <template v-slot:thumb-label="props">
                    <div>
                        {{ rangeInClock(props.value) }}
                    </div>
                </template>
            </v-range-slider>
        </v-col>
        <v-col class="pa-0" cols="1">
            <TheModalClockSelect
                v-model="to"
                :allowed-minutes="clock_allowed_step"
                :cancel-text="$t('patrols.timetable.cancel')"
                :label="$t('patrols.timetable.to')"
                :max="max"
                :min="from"
                :ok-text="$t('patrols.timetable.ok')"
                :title="$t('patrols.timetable.to')"
                @hour="setHour"
            />
        </v-col>
    </v-row>
</template>
<script>
import TheModalClockSelect from '../../../../assets/TheModalClockSelect'

export default {
    name: 'TimeBlock2359',
    components: {TheModalClockSelect},
    props: {
        value: {
            type: Array,
            default: () => ['00:00', '23:59'],
            validator: value => {
                //todo[daglob]: это работает
                return value[0] >= '00:00' && value[1] <= '23:59'
            }
        },
        min: {
            type: String,
            default: '00:00',
            validator: value => {
                return value >= '00:00'
            }
        },
        max: {
            type: String,
            default: '23:59',
            validator: value => {
                return value <= '23:59'
            }
        }
    },
    computed: {
        clock_allowed_step() {
            const minList = [...Array(60).keys()]
            switch (this.tmp_hour) {
                case 23:
                    return minList.filter(m => (m % 10 === 0 || m === 59) && m !== 0)
                default:
                    return minList.filter(m => m % 10 === 0)
            }
        },
        min_range() {
            return this.clockInRange(this.min)
        },
        max_range() {
            return this.clockInRange(this.max)
        },
        range_ticks() {
            let list = []
            for (let x = this.min_range; this.max_range >= x; x = x + 10) {
                if (x === 1440) {
                    list.push('23:59')
                } else if (x % 60) {
                    list.push('')
                } else {
                    list.push(this.rangeInClock(x))
                }
            }
            return list
        },
        interval() {
            return this.value
        },
        range_interval() {
            return this.interval.map(val => {
                return this.clockInRange(val)
            })
        },
        from: {
            get() {
                return this.interval[0]
            },
            set(value) {
                let t = this.value.slice(0, 2)
                t[0] = value
                this.em(t)
            }
        },
        to: {
            get() {
                return this.interval[1]
            },
            set(value) {
                let t = this.value.slice(0, 2)
                t[1] = value
                this.em(t)
            }
        },
    },
    data: () => ({
        tmp_hour: undefined
    }),
    methods: {
        clockInRange(value) {
            let [h, m] = value.split(':').map(v => parseInt(v))
            return h * 60 + m;
        },
        rangeInClock(value) {
            let h = parseInt(value / 60)
            let m = value % 60
            h = h < 10 ? `0${h}` : h
            m = m < 10 ? `0${m}` : m
            return `${h}:${m}`
        },
        setHour(h) {
            this.tmp_hour = h
            if (this.tmp_hour) {
                this.to = '23:59'
            }
        },
        changeRange(value) {
            const t = value.map(val => this.rangeInClock(val))
            this.em(t)
        },
        em(value) {
            this.$emit('input', value)
            this.$emit('change', value)
        }
    }
}
</script>
<style lang="scss">
.v-slider__tick-label {
    font-size: 10px;
}

.v-slider--horizontal .v-slider__track-container {
    top: 47% !important;

    _:-ms-fullscreen, :root {
        top: 0 !important;
    }

    transform: none !important;
}
</style>
