<template>
    <v-row align="end">
        <v-col class="pa-0" cols="1">
            <TheModalClockSelect
                v-model="from"
                :allowed-minutes="allowedStep"
                :cancel-text="$t('patrols.timetable.cancel')"
                :label="$t('patrols.timetable.from')"
                :max="to"
                :min="min"
                :ok-text="$t('patrols.timetable.ok')"
                :title="$t('patrols.timetable.from')"
            />
        </v-col>
        <v-col>
            <v-range-slider
                :max="valMax"
                :min="valMin"
                :tick-labels="ticksLabels"
                :value="range_interval"
                color="#7FB147"
                thumb-label="always"
                thumb-size="60"
                @change="changeRange"
            >
                <template v-slot:thumb-label="props">
                    {{ convertValueToStr(props.value) }}
                </template>
            </v-range-slider>
        </v-col>
        <v-col class="pa-0" cols="1">
            <TheModalClockSelect
                v-model="to"
                :allowed-minutes="allowedStep"
                :cancel-text="$t('patrols.timetable.cancel')"
                :label="$t('patrols.timetable.to')"
                :max="max"
                :min="from"
                :ok-text="$t('patrols.timetable.ok')"
                :title="$t('patrols.timetable.to')"
            />
        </v-col>
    </v-row>
</template>

<script>
import TheModalClockSelect from '../../../../assets/TheModalClockSelect'

export default {
    name: 'TimeBlock',
    components: {TheModalClockSelect},
    props: {
        value: {
            type: Array,
            default: () => ['00:00', '24:00'],
            validator: value => {
                return value.length === 2
            }
        },
        min: {
            type: String,
            default: '00:00'
        },
        max: {
            type: String,
            default: '24:00'
        }
    },
    data: () => ({
        maximum_range: 24 * 6
    }),
    computed: {
        interval() {
            return this.value
        },
        range_interval() {
            return this.interval.map(val => {
                return this.convertStrToValue(val)
            })
        },
        from: {
            get() {
                return this.interval[0]
            },
            set(value) {
                let t = this.value.slice(0, 2)
                t[0] = value
                // this.time = t;
                this.$emit('input', t)
                this.$emit('change', t)
            }
        },
        to: {
            get() {
                return this.interval[1]
            },
            set(value) {
                let t = this.value.slice(0, 2)
                t[1] = value
                this.$emit('input', t)
                this.$emit('change', t)
            }
        },
        valMin() {
            return this.convertStrToValue(this.min)
        },
        valMax() {
            return this.convertStrToValue(this.max)
        },
        ticksLabels() {
            let list = []
            for (let x = this.valMin; this.valMax > x; x++) {
                if (x % 6) {
                    list.push('')
                } else {
                    let hour = x / 6
                    hour = hour < 10 ? `0${hour}` : `${hour}`
                    list.push(x === 0 ? '0' : `${hour}:00`)
                }
            }
            return list
        }
    },
    methods: {
        convertValueToStr(val) {
            if (val % 6) {
                let hour = Math.floor(val / 6)
                hour = hour < 10 ? `0${hour}` : `${hour}`
                return `${hour}:${val % 6}0`
            } else {
                let hour = val / 6
                hour = hour < 10 ? `0${hour}` : `${hour}`
                return `${hour}:00`
            }
        },
        convertStrToValue(val) {
            let a = val.split(':')
            return parseInt(a[0]) * 6 + Math.round(parseInt(a[1]) / 10)
        },
        changeRange(value) {
            const t = value.map(val => this.convertValueToStr(val))
            this.$emit('input', t)
            this.$emit('change', t)
        },
        allowedStep: m => m % 10 === 0
    }
}
</script>

<style lang="scss">
.v-slider__tick-label {
    font-size: 10px;
}

.v-slider--horizontal .v-slider__track-container {
    top: 70% !important;

    _:-ms-fullscreen, :root {
        top: 0 !important;
    }

    transform: none !important;
}
</style>
