<template>
    <v-container
        id="facility"
        class="align-self-stretch align-content-start px-0"
        fluid
    >
        <v-select
            :items="types"
            :label="
                component
                    ? $t('patrols.facilities.label_type_selected')
                    : $t('patrols.facilities.label_type')
            "
            :value="component"
            @change="setChangeTo"
        />
        <p class="blockquote" v-html="description"/>
        <component
            v-bind:is="component"
            v-if="component"
            v-model="value"
            :component="component"
        />
        <v-row v-if="isChange">
            <v-col class="text-right">
                <v-btn class="ml-2" color="primary" text @click="reload">{{
                        $t('patrols.timetable.reset')
                    }}
                </v-btn>
                <v-btn class="ml-2" color="success" @click="save">{{
                        $t('patrols.timetable.save')
                    }}
                </v-btn>
                <v-btn class="ml-2" color="warning" @click="dialog = true"
                >{{ $t('patrols.timetable.save_for_all') }}
                </v-btn>
            </v-col>
        </v-row>
        <v-dialog v-model="dialog" max-width="290" persistent>
            <v-card>
                <v-card-title class="headline">
                    {{ $t('patrols.timetable.warning_popup.header') }}
                </v-card-title>
                <v-card-text
                    v-html="$t('patrols.timetable.warning_popup.message')"
                />
                <v-card-actions>
                    <v-spacer/>
                    <v-btn
                        color="primary darken-1"
                        text
                        @click="dialog = false"
                    >
                        {{ $t('patrols.timetable.cancel') }}
                    </v-btn>
                    <v-btn
                        color="success"
                        @click="saveComplex(), (dialog = false)"
                    >
                        {{ $t('patrols.timetable.save') }}
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-container>
</template>

<script>
import {mapActions, mapGetters, mapMutations, mapState} from 'vuex'
import Free from './facilities_timetable/Free'
import Daily from './facilities_timetable/Daily'
import Weekly from './facilities_timetable/Weekly'
import _ from 'lodash'

export default {
    name: 'Facility',
    components: {
        Free,
        Daily,
        Weekly
    },
    data: () => ({
        dialog: false
    }),
    computed: {
        value: {
            get() {
                return this.tabletime.value
            },
            set(value) {
                this.SET_TMP_VALUE(value)
            }
        },
        ...mapGetters('patrols/facility', ['isChange', 'tabletime']),
        ...mapState('patrols/facility', ['facility']),
        id() {
            return this.$route.params.id
        },
        types() {
            return [
                {
                    text: this.$t('patrols.facilities.types.free.name'),
                    value: 'free',
                    description: this.$t(
                        'patrols.facilities.types.free.description'
                    )
                },
                {
                    text: this.$t('patrols.facilities.types.daily.name'),
                    value: 'daily',
                    description: this.$t(
                        'patrols.facilities.types.daily.description'
                    )
                },
                {
                    text: this.$t('patrols.facilities.types.weekly.name'),
                    value: 'weekly',
                    description: this.$t(
                        'patrols.facilities.types.weekly.description'
                    )
                }
            ]
        },
        component() {
            return this.tabletime.type
        },
        description() {
            const t = _.find(this.types, o => o.value === this.component)
            return t ? t.description : null
        }
    },
    methods: {
        ...mapActions('patrols/facility', ['init', 'save', 'saveComplex']),
        ...mapMutations('patrols/facility', [
            'SET_FACILITY_TYPE',
            'RESET_TMP',
            'SET_TMP_TYPE',
            'SET_TMP_VALUE'
        ]),
        setChangeTo(val) {
            this.SET_TMP_TYPE(val)
        },
        reload() {
            this.init(this.$route.params.id)
        }
    },
    beforeRouteEnter(to, from, next) {
        next(vm => {
            vm.init(to.params.id)
        })
    },
    beforeRouteUpdate(to, from, next) {
        this.init(to.params.id)
        next()
    },
    beforeRouteLeave(to, from, next) {
        if (this.isChange) {
            if (window.confirm(this.$t('alerts.confirm.haveUnsavedChanges'))) {
                next()
            } else {
                next(false)
            }
        } else {
            next()
        }
    }
}
</script>
