<template>
    <div id="patrols_list">
        <v-btn to="/patrols/create">
            <v-icon>mdi-plus</v-icon>
        </v-btn>
    </div>
</template>

<script>
import {mapActions} from 'vuex'

export default {
    name: 'PatrolList',
    beforeMount() {
        this.init()
    },
    methods: {
        ...mapActions('patrols', ['init'])
    }
}
</script>
