<template>
    <v-container
        id="patrols_create"
        class="align-self-stretch align-content-start"
        fluid
    >
        <v-btn @click="$router.go(-1)">test</v-btn>
        <v-row>
            <v-col>
                <v-text-field
                    ref="email"
                    v-model="email"
                    :label="$t('profile.form.fields.email.label')"
                    :placeholder="$t('profile.form.fields.email.placeholder')"
                    :rules="[rules_required, rules_email]"
                    clearable
                    required
                />
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
export default {
    name: 'PatrolCreate'
}
</script>
