<template>
    <svg viewBox="0 0 21.857 21.857" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M10.971,0A10.971,10.971,0,0,0,0,10.886,11.045,11.045,0,0,0,10.971,21.857,10.929,10.929,0,0,0,10.971,0ZM16.36,14.463a1.281,1.281,0,1,1-1.812,1.812L10.971,12.7,7.309,16.275A1.281,1.281,0,0,1,5.5,14.463l3.577-3.577L5.5,7.309A1.281,1.281,0,0,1,7.309,5.5l3.662,3.578L14.548,5.5A1.281,1.281,0,0,1,16.36,7.309l-3.577,3.577Z"
            fill="currentColor"
        />
    </svg>
</template>

<script>
    export default {
        name: 'AppIconPatrolExc'
    }
</script>
