<template>
    <svg
        height="18.109"
        viewBox="0 0 16.977 18.109"
        width="16.977"
        xmlns="http://www.w3.org/2000/svg"
    >
        <g transform="translate(3.961)">
            <path
                class="a"
                d="M137,8.254a.564.564,0,0,0-.515-.332h-2.264V.566A.566.566,0,0,0,133.657,0h-2.264a.566.566,0,0,0-.566.566V7.923h-2.264a.566.566,0,0,0-.426.938l3.961,4.527a.565.565,0,0,0,.851,0l3.961-4.527A.564.564,0,0,0,137,8.254Z"
                fill="currentColor"
                transform="translate(-127.998)"
            />
        </g>
        <g transform="translate(0 12.45)">
            <path
                class="a"
                d="M30.714,352v3.4H18.264V352H16v4.527a1.132,1.132,0,0,0,1.132,1.132H31.846a1.131,1.131,0,0,0,1.132-1.132V352Z"
                fill="currentColor"
                transform="translate(-16 -352)"
            />
        </g>
    </svg>
</template>
<script>
    export default {
        name: 'AppIconFileDownload'
    }
</script>
