<template>
    <svg viewBox="0 0 23.776 19.86" xmlns="http://www.w3.org/2000/svg">
        <g transform="translate(-265 -102.255)">
            <g transform="translate(265 105.274)">
                <g transform="translate(1.981 3.963)">
                    <path
                        d="M45.143,160H43.161a.5.5,0,1,0,0,.991h1.981a.5.5,0,1,0,0-.991Z"
                        fill="currentColor"
                        transform="translate(-42.666 -160)"
                    />
                </g>
                <g transform="translate(3.467 0)">
                    <path
                        d="M91.472,79.966c-.094-.3-1.984-4.3-2.692-4.731-.736-.448-5.14-.568-5.706-.568s-4.97.12-5.706.568c-.707.429-2.6,4.435-2.692,4.731a.5.5,0,1,0,.945.3,27.746,27.746,0,0,1,2.251-4.178,28.9,28.9,0,0,1,5.2-.43,31.063,31.063,0,0,1,5.167.406,26.4,26.4,0,0,1,2.285,4.2.5.5,0,1,0,.945-.3Z"
                        fill="currentColor"
                        transform="translate(-74.652 -74.667)"
                    />
                </g>
                <g transform="translate(0 12.879)">
                    <path
                        d="M4.458,352.99a.488.488,0,0,0-.472.377l-3-.749v-.124a.5.5,0,1,0-.991,0v1.981a1.488,1.488,0,0,0,1.486,1.486H3.467a1.488,1.488,0,0,0,1.486-1.486v-.991A.5.5,0,0,0,4.458,352.99Z"
                        fill="currentColor"
                        transform="translate(0 -351.999)"
                    />
                </g>
                <g transform="translate(18.823 12.879)">
                    <path
                        d="M409.79,352a.5.5,0,0,0-.5.5v.124l-3,.749a.488.488,0,0,0-.472-.378.5.5,0,0,0-.5.5v.991a1.488,1.488,0,0,0,1.486,1.486H408.8a1.488,1.488,0,0,0,1.486-1.486V352.5A.5.5,0,0,0,409.79,352Z"
                        fill="currentColor"
                        transform="translate(-405.332 -352)"
                    />
                </g>
                <g transform="translate(18.823 3.963)">
                    <path
                        d="M407.81,160h-1.981a.5.5,0,0,0,0,.991h1.981a.5.5,0,0,0,0-.991Z"
                        fill="currentColor"
                        transform="translate(-405.333 -160)"
                    />
                </g>
                <g transform="translate(17.832 8.636)">
                    <path
                        d="M389.9,260.629l-1.351.27c-.166.026-3.493.505-4.336.505a2.687,2.687,0,0,0-.217,1.328c3.02-.143,5.37-.332,5.408-.335l.534-.072C389.941,261.668,389.931,261.107,389.9,260.629Z"
                        fill="currentColor"
                        transform="translate(-383.999 -260.629)"
                    />
                </g>
                <g transform="translate(0.132 3.963)">
                    <path
                        d="M25.63,162.5c-.222-.064-.338-.226-.558-.555l-.169-.248c-.3-.413-.869-.431-1.423-.447a3.837,3.837,0,0,1-.555-.042.484.484,0,0,0-.169-.153c-.924-.508-4.426-1.052-8.163-1.052s-7.239.544-8.163,1.052a.489.489,0,0,0-.17.154,3.833,3.833,0,0,1-.555.042c-.553.016-1.125.033-1.422.446l-.169.249c-.22.329-.336.49-.558.555-.388.114-.6.512-.719,1.236l.979.245c.016,0,3.247.48,4.338.48a1.268,1.268,0,0,1,.954.412,2.946,2.946,0,0,1,.537,1.95c1.594.066,3.315.115,4.948.115s3.357-.049,4.953-.115a3.257,3.257,0,0,1,.5-2.053.953.953,0,0,1,.7-.309c.641,0,3.228-.354,4.17-.49l1.418-.284C26.224,162.989,26.011,162.606,25.63,162.5Zm-7.57,3.449H11.126a.5.5,0,1,1,0-.991H18.06a.5.5,0,0,1,0,.991Z"
                        fill="currentColor"
                        transform="translate(-2.837 -160)"
                    />
                </g>
                <g transform="translate(0.026 11.334)">
                    <path
                        d="M23.874,318.8c-.086.007-6.215.5-11.458.5S1.044,318.8.984,318.8l-.43-.045c.053,1.075.219,2.687.732,2.96.535.284,6.724.553,11.13.553s10.6-.268,11.129-.554c.515-.274.681-1.9.733-2.972Z"
                        fill="currentColor"
                        transform="translate(-0.554 -318.742)"
                    />
                </g>
                <g transform="translate(0 8.691)">
                    <path
                        d="M5.675,262.638a.277.277,0,0,0-.226-.093c-1.169,0-4.395-.48-4.531-.5l-.883-.22c-.025.47-.034,1.019-.035,1.656l.546.056c.032,0,2.382.191,5.4.335A2.085,2.085,0,0,0,5.675,262.638Z"
                        fill="currentColor"
                        transform="translate(0 -261.825)"
                    />
                </g>
            </g>
            <g transform="translate(274.562 102.255)">
                <path
                    d="M208.464,113.649a.343.343,0,0,1-.343-.343v-1.025a.343.343,0,0,1,.687,0v1.025A.343.343,0,0,1,208.464,113.649Zm0,0"
                    fill="currentColor"
                    transform="translate(-207.103 -110.221)"
                />
                <path
                    d="M210.183,112.625h-1.718a.343.343,0,0,1,0-.687h1.718a.343.343,0,0,1,0,.687Zm0,0"
                    fill="currentColor"
                    transform="translate(-207.104 -110.221)"
                />
                <path
                    d="M248.48,113.649a.343.343,0,0,1-.343-.343v-1.025a.343.343,0,0,1,.687,0v1.025A.343.343,0,0,1,248.48,113.649Zm0,0"
                    fill="currentColor"
                    transform="translate(-245.402 -110.221)"
                />
                <path
                    d="M228.472,73.312a.343.343,0,0,1-.343-.343v-.687a.343.343,0,0,1,.687,0v.687A.343.343,0,0,1,228.472,73.312Zm0,0"
                    fill="currentColor"
                    transform="translate(-226.252 -71.938)"
                />
                <path
                    d="M264.478,88.965a.343.343,0,0,1-.243-.586l.343-.343a.343.343,0,1,1,.486.486l-.343.343A.344.344,0,0,1,264.478,88.965Zm0,0"
                    fill="currentColor"
                    transform="translate(-260.712 -87.248)"
                />
                <path
                    d="M185.089,89.25a.342.342,0,0,1-.243-.1l-.331-.331a.343.343,0,0,1,.485-.486l.331.331a.343.343,0,0,1-.243.586Zm0,0"
                    fill="currentColor"
                    transform="translate(-184.415 -87.532)"
                />
            </g>
        </g>
    </svg>
</template>
<script>
    export default {
        name: 'AppIconRepInspector'
    }
</script>
