<template>
    <svg
        style="enable-background:new 0 0 512 512;"
        viewBox="0 0 512 512"
        x="0px"
        xml:space="preserve"
        xmlns="http://www.w3.org/2000/svg"
        y="0px"
    >
        <circle cx="256" cy="256" r="256" style="fill:#f0f0f0;"/>
        <path
            d="M496.077,345.043C506.368,317.31,512,287.314,512,256s-5.632-61.31-15.923-89.043H15.923
	C5.633,194.69,0,224.686,0,256s5.633,61.31,15.923,89.043L256,367.304L496.077,345.043z"
            style="fill:#0052b4;"
        />
        <path
            d="M256,512c110.071,0,203.906-69.472,240.077-166.957H15.923C52.094,442.528,145.929,512,256,512z"
            style="fill:#d80027;"
        />
    </svg>
</template>
<script>
    export default {
        name: 'AppIconLangRu'
    }
</script>
