<template>
    <svg viewBox="0 0 38.861 34.981" xmlns="http://www.w3.org/2000/svg">
        <g transform="matrix(1, 0.017, -0.017, 1, -496.108, -141.478)">
            <g transform="translate(512.756 137.5)">
                <circle
                    cx="1.795"
                    cy="1.795"
                    fill="currentColor"
                    r="1.795"
                    transform="translate(5.2 0)"
                />
                <path
                    d="M439.994,63.286l3.43-2.3a2.29,2.29,0,0,1,2.037.214c.3.536,1.367,2.358,1.367,2.358a2.624,2.624,0,0,0,1.34,1.126c.241.161,1.1.636,1.1.636s.429.2.321.972c-.188,0-.429.375-1.179,0s-1.983-1.114-1.983-1.114a4.17,4.17,0,0,1-.992-1.271c-.091.627-.7,3.323-2.2,4.153a1.207,1.207,0,0,0-.456,1.983l-2.465,3.645s-2.277,1.179-1.8-1.1c.188-.161,1.93-2.653,1.93-2.653l1.769-6.431s-1.1.375-1.166.723-.442,2.037-.442,2.037a.831.831,0,0,1-.965.643c-.241-.08-.643-.251-.375-1.144S439.994,63.286,439.994,63.286Z"
                    fill="currentColor"
                    transform="translate(-438.037 -56.73)"
                />
                <path
                    d="M447.937,76.159l1.152-1.233-2.251.4.67,2.733A5.668,5.668,0,0,0,447.937,76.159Z"
                    fill="currentColor"
                    transform="translate(-442.791 -64.716)"
                />
                <rect
                    fill="currentColor"
                    height="5.172"
                    rx="0.894"
                    transform="translate(7.444 12.55) rotate(-13.192)"
                    width="1.788"
                />
                <path
                    d="M452.42,77.93,450.3,76.012l1.313-1.581,2.626,2.6.831,3.323s.429,1.206-.777,1.42c-.351,0-.991.268-1.34-.965A21.883,21.883,0,0,1,452.42,77.93Z"
                    fill="currentColor"
                    transform="translate(-444.755 -64.436)"
                />
                <path
                    d="M446.826,80.642l.449-.8-.176-1.3-.848.3Z"
                    fill="currentColor"
                    transform="translate(-442.457 -66.769)"
                />
                <rect
                    fill="currentColor"
                    height="2.041"
                    rx="1.021"
                    transform="matrix(0.572, -0.82, 0.82, 0.572, 0, 16.642)"
                    width="5.246"
                />
            </g>
            <g transform="matrix(-1, 0.017, -0.017, -1, 537.447, 166.594)">
                <g transform="translate(0 0)">
                    <path
                        d="M37.253,27.294,22.78,2.227a4.452,4.452,0,0,0-7.712,0L.6,27.294A4.452,4.452,0,0,0,4.452,33.97H33.4a4.453,4.453,0,0,0,3.856-6.678Zm-1.923,3.343a2.212,2.212,0,0,1-1.935,1.117H4.452A2.233,2.233,0,0,1,2.517,28.4L16.99,3.336a2.234,2.234,0,0,1,3.869,0L35.332,28.4a2.212,2.212,0,0,1,0,2.234Z"
                        fill="currentColor"
                        stroke="currentColor"
                        stroke-miterlimit="10"
                        stroke-width="1"
                    />
                </g>
            </g>
        </g>
    </svg>
</template>

<script>
    export default {
        name: 'AppIconMissingPatrols'
    }
</script>
