<template>
    <svg viewBox="0 0 16.385 25.226" xmlns="http://www.w3.org/2000/svg">
        <ellipse
            cx="2.543"
            cy="2.543"
            fill="currentColor"
            rx="2.543"
            ry="2.543"
            transform="translate(7.365 0)"
        />
        <path
            d="M440.636,64.3l4.858-3.251a3.244,3.244,0,0,1,2.885.3c.429.759,1.936,3.34,1.936,3.34a3.717,3.717,0,0,0,1.9,1.594c.342.228,1.556.9,1.556.9s.607.277.455,1.377c-.266,0-.607.531-1.67,0s-2.809-1.578-2.809-1.578a5.907,5.907,0,0,1-1.4-1.8c-.128.888-.987,4.706-3.112,5.883a1.709,1.709,0,0,0-.645,2.809l-3.492,5.162s-3.226,1.67-2.543-1.556c.266-.228,2.733-3.758,2.733-3.758l2.5-9.109s-1.556.531-1.651,1.024-.626,2.885-.626,2.885a1.177,1.177,0,0,1-1.367.911c-.342-.113-.911-.356-.531-1.62S440.636,64.3,440.636,64.3Z"
            fill="currentColor"
            transform="translate(-437.863 -55.019)"
        />
        <path
            d="M448.394,76.672l1.632-1.746-3.188.569.949,3.872A8.028,8.028,0,0,0,448.394,76.672Z"
            fill="currentColor"
            transform="translate(-441.105 -60.465)"
        />
        <rect
            fill="currentColor"
            height="7.325"
            rx="1.266"
            transform="translate(10.543 17.775) rotate(-13.192)"
            width="2.532"
        />
        <path
            d="M453.3,79.386l-3-2.716,1.86-2.239,3.719,3.681,1.176,4.706s.607,1.708-1.1,2.012c-.5,0-1.4.38-1.9-1.367A30.988,30.988,0,0,1,453.3,79.386Z"
            fill="currentColor"
            transform="translate(-442.445 -60.274)"
        />
        <path
            d="M447.065,81.515l.635-1.133-.25-1.837-1.2.432Z"
            fill="currentColor"
            transform="translate(-440.878 -61.865)"
        />
        <rect
            fill="currentColor"
            height="2.891"
            rx="1.445"
            transform="matrix(0.572, -0.82, 0.82, 0.572, 0, 23.571)"
            width="7.43"
        />
    </svg>
</template>
<script>
    export default {
        name: 'AppIconPatrolRep'
    }
</script>
