<template>
    <svg
        height="35.857"
        viewBox="0 0 38.699 35.857"
        width="38.699"
        xmlns="http://www.w3.org/2000/svg"
    >
        <g transform="translate(0.511 0.512)">
            <path
                d="M433.951,227.311a2.277,2.277,0,0,0-.815-.839l-.07-.039a2.189,2.189,0,0,0-2.968.878l-14.409,25.714a2.344,2.344,0,0,0-.3,1.147,2.257,2.257,0,0,0,2.225,2.29H446.43a2.189,2.189,0,0,0,1.926-1.146h0a2.329,2.329,0,0,0,0-2.292Zm-.813,26a2.035,2.035,0,1,1,.6-1.451A1.961,1.961,0,0,1,433.138,253.315Zm-.982-4.995h-.922q-1.847-11.1-1.846-11.983a2.248,2.248,0,0,1,.71-1.728,2.3,2.3,0,0,1,1.6-.66,2.165,2.165,0,0,1,1.634.7,2.326,2.326,0,0,1,.666,1.655Q434,237.215,432.156,248.32Z"
                fill="none"
                transform="translate(-413.177 -223.891)"
            />
            <path
                d="M431.7,249.828a2.05,2.05,0,1,0,1.436.6A1.977,1.977,0,0,0,431.7,249.828Z"
                fill="currentColor"
                transform="translate(-413.177 -223.891)"
            />
            <path
                d="M431.7,233.949a2.3,2.3,0,0,0-1.6.66,2.248,2.248,0,0,0-.71,1.728q0,.879,1.846,11.983h.922Q434,237.216,434,236.308a2.326,2.326,0,0,0-.666-1.655A2.165,2.165,0,0,0,431.7,233.949Z"
                fill="currentColor"
                transform="translate(-413.177 -223.891)"
            />
            <path
                d="M450.271,251.887l-14.409-25.716a4.364,4.364,0,0,0-5.917-1.75q-.07.037-.138.078a4.5,4.5,0,0,0-1.623,1.672l-14.409,25.716a4.641,4.641,0,0,0,1.625,6.238,4.31,4.31,0,0,0,2.213.611h28.819a4.5,4.5,0,0,0,4.433-4.566A4.68,4.68,0,0,0,450.271,251.887Zm-1.911,3.43h0a2.189,2.189,0,0,1-1.926,1.146H417.614a2.257,2.257,0,0,1-2.225-2.29,2.344,2.344,0,0,1,.3-1.147L430.1,227.311a2.189,2.189,0,0,1,2.968-.878l.07.039a2.277,2.277,0,0,1,.815.839l14.409,25.714A2.329,2.329,0,0,1,448.36,255.317Z"
                fill="currentColor"
                stroke="#e4001b"
                stroke-miterlimit="10"
                stroke-width="1"
                transform="translate(-413.177 -223.891)"
            />
        </g>
    </svg>
</template>

<script>
    export default {
        name: 'AppIconEmergency'
    }
</script>
<style>
    .cls-1,
    .cls-2 {
        isolation: isolate;
    }

    .cls-2 {
        font-size: 30px;
        font-family: BellMTBold, Bell MT, serif;
        font-weight: 700;
    }
</style>
