<template>
    <svg viewBox="0 0 26.346 19.122" xmlns="http://www.w3.org/2000/svg">
        <g transform="translate(-267.43 -801.485)">
            <g transform="translate(185 617)">
                <g transform="translate(84.366 184.485)">
                    <path
                        d="M211.911,297.709v-1.014l-1-.265a2.757,2.757,0,0,0-.317-.758l.52-.89-.714-.714-.889.52a3.007,3.007,0,0,0-.758-.317l-.266-1h-1.022l-.265,1a2.758,2.758,0,0,0-.758.317l-.89-.52-.714.714.52.89a3,3,0,0,0-.317.758l-1,.265v1.014l1,.265a2.755,2.755,0,0,0,.317.758l-.52.89.714.714.89-.52a3,3,0,0,0,.758.317l.265,1h1.014l.265-1a2.756,2.756,0,0,0,.758-.317l.89.52.714-.714-.52-.89a3,3,0,0,0,.317-.758Zm-3.929,1.5h0a2.01,2.01,0,1,1,2.01-2.01A2.01,2.01,0,0,1,207.98,299.207Z"
                        fill="currentColor"
                        transform="translate(-204.049 -293.275)"
                    />
                    <circle
                        cx="0.962"
                        cy="0.962"
                        fill="currentColor"
                        r="0.962"
                        transform="translate(2.959 2.997)"
                    />
                </g>
                <g transform="translate(82.43 193.59)">
                    <path
                        d="M214.077,298.93v-1.293l-1.27-.337a3.518,3.518,0,0,0-.4-.967l.663-1.135-.911-.91-1.134.663a3.836,3.836,0,0,0-.967-.4l-.339-1.27h-1.3l-.338,1.27a3.517,3.517,0,0,0-.967.4l-1.136-.663-.911.91.663,1.135a3.831,3.831,0,0,0-.4.967l-1.27.337v1.293l1.27.337a3.513,3.513,0,0,0,.4.967l-.663,1.135.911.911,1.136-.663a3.833,3.833,0,0,0,.967.4l.338,1.27H209.7l.337-1.27a3.517,3.517,0,0,0,.967-.4l1.136.663.91-.911-.663-1.135a3.83,3.83,0,0,0,.4-.967Zm-5.012,1.911h0a2.563,2.563,0,1,1,2.563-2.563A2.563,2.563,0,0,1,209.063,300.842Z"
                        fill="currentColor"
                        transform="translate(-204.049 -293.275)"
                    />
                    <circle
                        cx="1.227"
                        cy="1.227"
                        fill="currentColor"
                        r="1.227"
                        transform="translate(3.774 3.823)"
                    />
                </g>
            </g>
            <g transform="translate(94.776 602.913)">
                <path
                    d="M199,209.292v-2.158l-2.12-.563a5.87,5.87,0,0,0-.676-1.613l1.107-1.895-1.52-1.52-1.892,1.107a6.407,6.407,0,0,0-1.613-.676l-.566-2.12h-2.177l-.564,2.12a5.877,5.877,0,0,0-1.613.676l-1.895-1.107-1.52,1.52,1.107,1.895a6.388,6.388,0,0,0-.676,1.613l-2.12.563v2.158l2.12.563a5.858,5.858,0,0,0,.676,1.613l-1.107,1.9,1.52,1.52,1.895-1.107a6.394,6.394,0,0,0,1.613.676l.564,2.12H191.7l.563-2.12a5.872,5.872,0,0,0,1.613-.676l1.895,1.107,1.519-1.52-1.107-1.9a6.4,6.4,0,0,0,.676-1.613Zm-8.194,4.478a5.557,5.557,0,1,1,5.557-5.557A5.557,5.557,0,0,1,190.806,213.77Z"
                    fill="currentColor"
                />
                <path
                    d="M199.865,211.7a4.724,4.724,0,1,0,4.724,4.724A4.724,4.724,0,0,0,199.865,211.7Zm2.78,7.469-.145.145a.205.205,0,0,1-.29,0L199.6,216.7a.376.376,0,0,1-.049-.3l1.158-2.483a.206.206,0,0,1,.273-.1l.186.087a.205.205,0,0,1,.1.273l-1.057,2.266,2.44,2.44A.205.205,0,0,1,202.645,219.168Z"
                    fill="currentColor"
                    transform="translate(-8.927 -8.211)"
                />
            </g>
        </g>
    </svg>
</template>

<script>
    export default {
        name: 'AppIconPatrolsPref'
    }
</script>
