<template>
    <svg viewBox="0 0 35.01 35.01" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M27.716,2.918a4.382,4.382,0,0,1,4.376,4.376V27.716a4.382,4.382,0,0,1-4.376,4.376H7.294a4.382,4.382,0,0,1-4.376-4.376V7.294A4.382,4.382,0,0,1,7.294,2.918Zm0-2.918H7.294A7.3,7.3,0,0,0,0,7.294V27.716A7.3,7.3,0,0,0,7.294,35.01H27.716a7.294,7.294,0,0,0,7.294-7.294V7.294A7.294,7.294,0,0,0,27.716,0ZM16.046,11.67H14.588V8.753h1.459v1.459h2.918V11.67H17.505v1.459H16.046Zm2.918,17.505V27.716H17.505v1.459ZM17.505,7.294V5.835H14.588V7.294h1.459V8.753h1.459Zm11.67-1.459v8.753H27.716V13.129H21.881V5.835ZM27.716,11.67V7.294H23.34V11.67ZM7.294,14.588H5.835v1.459H8.753V14.588Zm0,4.376H8.753v1.459h1.459V16.046H8.753v1.459H5.835v2.918H7.294Zm7.294,1.459V23.34h1.459V20.423ZM20.423,5.835H18.964v4.376h1.459Zm0,7.294V11.67H18.964v1.459ZM24.8,10.211h1.459V8.753H24.8ZM10.211,8.753H8.753v1.459h1.459Zm2.918-2.918v7.294H5.835V5.835ZM11.67,7.294H7.294V11.67H11.67ZM24.8,14.588v1.459H23.34V14.588H20.423v1.459H18.964V14.588H14.588V13.129H13.129v1.459H11.67v1.459h1.459v2.918h1.459V17.505h1.459v2.918h1.459V17.505h4.376v1.459H18.964v1.459h2.918v1.459H23.34V17.505H24.8v1.459h1.459v2.918h1.459V20.423h1.459V18.964H27.716V17.505H26.258V16.046h1.459V14.588ZM8.753,26.258h1.459V24.8H8.753ZM5.835,21.881h7.294v7.294H5.835Zm1.459,5.835H11.67V23.34H7.294ZM24.8,23.34V21.881H23.34V23.34Zm0,1.459H23.34v1.459H21.881V24.8H20.423V23.34h1.459V21.881H18.964V20.423H17.505V23.34H16.046V24.8H14.588v4.376h1.459V27.716h1.459V26.258h2.918v2.918h1.459V27.716H23.34v1.459h2.918V27.716h1.459V26.258H24.8ZM11.67,20.423h1.459V18.964H11.67ZM26.258,23.34V24.8h1.459v1.459h1.459V21.881H27.716V23.34Zm2.918,5.835V27.716H27.716v1.459Zm0-11.67V16.046H27.716v1.459Z"
            fill="currentColor"
        />
    </svg>
</template>
11 missing_barcodes.svg
<script>
    export default {
        name: 'AppIconMissBarcodes'
    }
</script>
