<template>
    <svg viewBox="0 0 22.1 22.1" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M394.709,14.791a11.05,11.05,0,1,0,11.05,11.05A11.05,11.05,0,0,0,394.709,14.791Zm1.3,17.767a1.828,1.828,0,0,1-2.57-.01,1.732,1.732,0,0,1-.537-1.275,1.852,1.852,0,0,1,1.827-1.837,1.748,1.748,0,0,1,1.28.538,1.771,1.771,0,0,1,.537,1.3A1.723,1.723,0,0,1,396.009,32.558Zm.425-11.031q-.132.63-.342,1.554t-.469,2.2q-.259,1.275-.513,2.995h-.743q-.254-1.729-.518-3t-.474-2.189q-.21-.918-.342-1.544a5.332,5.332,0,0,1-.132-1.075,1.727,1.727,0,0,1,.542-1.295,1.846,1.846,0,0,1,2.584.01,1.744,1.744,0,0,1,.537,1.285A5.34,5.34,0,0,1,396.434,21.526Z"
            fill="currentColor"
            transform="translate(-383.659 -14.791)"
        />
    </svg>
</template>

<script>
    export default {
        name: 'AppIconRepIncident'
    }
</script>
