<template>
    <svg viewBox="0 0 25.356 21.867" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M272.76,70.209c3.728-10.416,20.573-10.68,23.933.227"
            fill="none"
            stroke="currentColor"
            stroke-miterlimit="10"
            stroke-width="1.5"
            transform="translate(-272.76 -62.326)"
        />
        <path
            d="M275.629,76.166c2.2-9.727,15.448-11.032,18.413-1"
            fill="none"
            stroke="currentColor"
            stroke-miterlimit="10"
            stroke-width="1.5"
            transform="translate(-273.053 -62.928)"
        />
        <circle
            cx="5.417"
            cy="5.417"
            fill="currentColor"
            r="5.417"
            transform="translate(6.451 10.284)"
        />
    </svg>
</template>
<script>
    export default {
        name: 'AppIconRepEmergency'
    }
</script>
