<template>
    <svg viewBox="0 0 22.811 18.133" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M206.682,123.759a.891.891,0,0,0-1.132-.106c-1.333.909-8.021,5.479-8.74,6.2a2.673,2.673,0,0,0,3.78,3.78c.719-.719,5.288-7.406,6.2-8.74A.891.891,0,0,0,206.682,123.759Zm-7.351,8.611a.891.891,0,0,1-1.26-1.26c.279-.276,2.178-1.63,4.514-3.254C200.961,130.193,199.606,132.091,199.33,132.371Z"
            fill="currentColor"
            transform="translate(-187.295 -120.335)"
        />
        <path
            d="M4.109,68.049l-1.1.537a9.578,9.578,0,0,1-.6-8.1l1.26.6a.891.891,0,1,0,.771-1.607l-1.244-.6a9.636,9.636,0,0,1,7.319-4.567v1.34a.891.891,0,1,0,1.782,0V54.321a9.513,9.513,0,0,1,3.064.807.891.891,0,1,0,.733-1.624A11.4,11.4,0,0,0,1.932,70.236a.891.891,0,0,0,1.131.306l1.827-.891a.891.891,0,1,0-.781-1.6Z"
            fill="currentColor"
            transform="translate(0 -52.499)"
        />
        <path
            d="M394.425,192.019a.891.891,0,1,0-1.624.733,9.592,9.592,0,0,1-.383,8.643l-1.148-.547a.891.891,0,1,0-.766,1.609l1.871.891a.891.891,0,0,0,1.124-.309,11.378,11.378,0,0,0,.927-11.02Z"
            fill="currentColor"
            transform="translate(-372.619 -185.301)"
        />
    </svg>
</template>

<script>
    export default {
        name: 'AppIconDashboard'
    }
</script>
