<template>
    <svg viewBox="0 0 35.042 35.042" xmlns="http://www.w3.org/2000/svg">
        <g transform="translate(-362 -248)">
            <path
                d="M379.521,248a17.521,17.521,0,1,0,17.521,17.521h0A17.52,17.52,0,0,0,379.523,248Zm0,31.884a14.363,14.363,0,1,1,14.363-14.363h0a14.361,14.361,0,0,1-14.361,14.363Z"
                fill="currentColor"
            />
            <path
                d="M379.5,269.544q-1.722-10.363-1.723-11.184a2.1,2.1,0,0,1,.663-1.613,2.144,2.144,0,0,1,1.5-.615,2.022,2.022,0,0,1,1.525.656,2.175,2.175,0,0,1,.622,1.545q0,.848-1.723,11.211Zm2.338,3.309a1.916,1.916,0,1,1-.561-1.34A1.844,1.844,0,0,1,381.838,272.853Z"
                fill="currentColor"
            />
        </g>
    </svg>
</template>

<script>
    export default {
        name: 'AppIconIncident'
    }
</script>
