<template>
    <svg xmlns="http://www.w3.org/2000/svg" width="21.75" height="21.751" viewBox="0 0 21.75 21.751">
  <path id="iconmonstr-qr-code-2" d="M13.434,9.356H12.075V6.637h1.359V8h2.719V9.356H14.794v1.359H13.434Zm2.719,16.313V24.31H14.794v1.359ZM14.794,5.278V3.919H12.075V5.278h1.359V6.637h1.359ZM25.669,3.919v8.157H24.31V10.716H18.872v-6.8ZM24.31,9.356V5.278H20.231V9.356ZM5.278,12.075H3.919v1.359H6.637V12.075Zm0,4.078H6.637v1.359H8V13.435H6.637v1.359H3.919v2.719H5.278Zm6.8,1.359v2.719h1.359V17.513ZM17.513,3.919H16.153V8h1.359Zm0,6.8V9.356H16.153v1.359ZM21.591,8H22.95V6.637H21.591ZM8,6.637H6.637V8H8Zm2.719-2.719v6.8h-6.8v-6.8ZM9.356,5.278H5.278V9.356H9.356Zm12.235,6.8v1.359H20.231V12.075H17.513v1.359H16.153V12.075H12.075V10.716H10.716v1.359H9.356v1.359h1.359v2.719h1.359V14.794h1.359v2.719h1.359V14.794h4.078v1.359H16.153v1.359h2.719v1.359h1.359V14.794h1.359v1.359H22.95v2.719H24.31V17.513h1.359V16.153H24.31V14.794H22.95V13.435H24.31V12.075ZM6.637,22.95H8V21.591H6.637ZM3.919,18.872h6.8v6.8h-6.8ZM5.278,24.31H9.356V20.232H5.278Zm16.313-4.078V18.872H20.231v1.359Zm0,1.359H20.231V22.95H18.872V21.591H17.513V20.232h1.359V18.872H16.153V17.513H14.794v2.719H13.434v1.359H12.075v4.078h1.359V24.31h1.359V22.95h2.719v2.719h1.359V24.31h1.359v1.359H22.95V24.31H24.31V22.95H21.591ZM9.356,17.513h1.359V16.153H9.356ZM22.95,20.232v1.359H24.31V22.95h1.359V18.872H24.31v1.359Zm2.719,5.438V24.31H24.31v1.359Zm0-10.875V13.435H24.31v1.359Z" transform="translate(-3.919 -3.919)" fill="#8f8f94"/>
</svg>

</template>
<script>
export default {
    name : "app-icon-qr"
}
</script>