<template>
    <svg
        id="Layer_1"
        style="enable-background:new 0 0 512 512;"
        version="1.1"
        viewBox="0 0 512 512"
        x="0px"
        xml:space="preserve"
        xmlns="http://www.w3.org/2000/svg"
        y="0px"
    >
        <circle cx="256" cy="256" r="256" style="fill:#f0f0f0;"/>
        <path
            d="M352.393,200.348H288.13L256,144.696l-32.129,55.652h-64.264L191.741,256l-32.134,55.652h64.264
L256,367.304l32.13-55.652h64.263L320.259,256L352.393,200.348z M295.475,256l-19.736,34.188h-39.475L216.525,256l19.738-34.188
h39.475L295.475,256z M256,187.623l7.346,12.724h-14.69L256,187.623z M196.786,221.812h14.692l-7.346,12.724L196.786,221.812z
M196.786,290.188l7.347-12.724l7.346,12.724H196.786z M256,324.376l-7.345-12.724h14.691L256,324.376z M315.214,290.188h-14.692
l7.347-12.724L315.214,290.188z M300.522,221.812h14.692l-7.346,12.724L300.522,221.812z"
            style="fill:#0052b4;"
        />
        <path
            d="M415.357,55.652H96.643c-23.363,18.608-43.399,41.21-59.069,66.783h436.852
		C458.755,96.863,438.719,74.26,415.357,55.652z"
            style="fill:#0052b4;"
        />
        <path
            d="M96.643,456.348h318.713c23.363-18.608,43.399-41.21,59.069-66.783H37.574
		C53.245,415.137,73.281,437.74,96.643,456.348z"
            style="fill:#0052b4;"
        />
    </svg>
</template>

<script>
    export default {
        name: 'AppIconLangHe'
    }
</script>
