<template>
    <v-card>
        <v-col>
            <DayBlock :value="value" @input="emitChange"/>
        </v-col>
    </v-card>
</template>

<script>
import DayBlock from './timetable/DayBlock'

export default {
    name: 'Daily',
    components: {DayBlock},
    props: {
        value: {
            type: Array
        }
    },
    methods: {
        emitChange(v) {
            this.$emit('change', v)
            this.$emit('input', v)
        }
    }
}
</script>
