<template>
    <v-card v-if="value">
        <v-row align="end" class="mx-0">
            <v-col cols="11">
                <v-col class="py-0">
                    <TimeBlock2359
                        :value="value.interval"
                        @input="changeTimeBlock"
                    />
                </v-col>
            </v-col>
            <v-col cols="1">
                <v-text-field
                    :label="$t('patrols.timetable.num_patrols')"
                    :title="$t('patrols.timetable.num_patrols')"
                    :value="value.count"
                    min="1"
                    type="number"
                    @input="changeCount"
                />
            </v-col>
        </v-row>
    </v-card>
</template>

<script>
import _ from 'lodash'
import TimeBlock2359 from "@/components/patrols/facilities_timetable/timetable/TimeBlock2359";

export default {
    name: 'Free',
    components: {TimeBlock2359},
    props: {
        value: {
            type: Object
        }
    },
    data: () => ({
        defaultValue: {
            interval: ['08:00', '17:00'],
            count: 1
        }
    }),
    mounted() {
        if (this.value === null) {
            this.emitChange(this.defaultValue)
        }
    },
    methods: {
        changeTimeBlock(value) {
            this.emitChange(
                _.extend(this.value, {
                    interval: value
                })
            )
        },
        changeCount(value) {
            this.emitChange(
                _.extend(this.value, {
                    count: parseInt(value)
                })
            )
        },
        emitChange(v) {
            this.$emit('change', v)
            this.$emit('input', v)
        }
    }
}
</script>

