<template>
    <v-expansion-panels>
        <v-expansion-panel
            v-for="(tabletime, index) in sortedData"
            :key="index"
            focusable="false"
        >
            <v-expansion-panel-header
                :disable-icon-rotate="tabletime.length > 0"
                class="py-0"
            >
                <v-col cols="auto">{{ $t(`patrols.timetable.weekdays.${index}`) }}
                </v-col>
                <v-col class="caption text-right" cols="auto">
                    <v-chip
                        v-for="({ interval, count }, i) in tabletime"
                        :key="i"
                        class="mx-1"
                        close
                        outlined
                        @click:close="deleteInterval(index, i)"
                    >
                        {{ interval[0] }} - {{ interval[1] }} x {{ count }}
                    </v-chip>
                </v-col>
                <template v-if="tabletime.length > 0" v-slot:actions>
                    <v-icon color="success">mdi-alarm-check</v-icon>
                </template>
                <template v-else v-slot:actions>
                    ({{ $t('patrols.timetable.not_set') }})
                </template>
            </v-expansion-panel-header>
            <v-expansion-panel-content class="px-0">
                <v-row>
                    <v-col class="text-right">
                        <v-btn x-small @click="spread(index)"
                        >{{ $t('patrols.timetable.spread_for_week') }}
                        </v-btn
                        >
                    </v-col>
                </v-row>
                <DayBlock
                    :value="tabletime"
                    @input="value => update(index, value)"
                />
            </v-expansion-panel-content>
        </v-expansion-panel>
    </v-expansion-panels>
</template>

<script>
import DayBlock from '../../../components/patrols/facilities_timetable/timetable/DayBlock'
import {sort_weekdays} from '../../../helpers/datetimes'
import _ from 'lodash'

export default {
    name: 'Weekly',
    components: {DayBlock},
    props: {
        value: {
            type: Object
        }
    },
    data: () => ({
        defaultValue: {
            mondays: [
                {
                    interval: ['06:00', '20:00'],
                    count: 3
                }
            ],
            tuesdays: [
                {
                    interval: ['06:00', '20:00'],
                    count: 3
                }
            ],
            wednesdays: [
                {
                    interval: ['06:00', '20:00'],
                    count: 3
                }
            ],
            thursdays: [
                {
                    interval: ['06:00', '20:00'],
                    count: 3
                }
            ],
            fridays: [
                {
                    interval: ['06:00', '20:00'],
                    count: 3
                }
            ],
            saturdays: [],
            sundays: [
                {
                    interval: ['06:00', '20:00'],
                    count: 3
                }
            ]
        }
    }),
    computed: {
        sortedData() {
            return this.sort(this.val)
        },
        val() {
            return this.value || this.defaultValue
        },
        sortBy() {
            return sort_weekdays(this.$i18n.locale)
        }
    },
    mounted() {
        if (!this.value) {
            this.emitChange(this.defaultValue)
        }
    },
    methods: {
        spread(from) {
            Object.keys(this.val)
                .filter(d => d !== from)
                .forEach(d => {
                    this.update(
                        d,
                        this.val[from].map(item => _.cloneDeep(item))
                    )
                })
        },
        deleteInterval(weekIndex, index) {
            const ex = this.sortedData
            ex[weekIndex].splice(index, 1)
            this.emitChange(ex)
        },
        emitChange(v) {
            this.$emit('change', v)
            this.$emit('input', v)
        },
        update(index, value) {
            const ex = this.sortedData
            ex[index] = value
            this.emitChange(ex)
        },
        sort(obj) {
            return Object.keys(obj)
                .sort((a, b) => this.sortBy.indexOf(a) - this.sortBy.indexOf(b))
                .reduce((list, day) => {
                    list[day] = obj[day]
                    return list
                }, {})
        }
    }
}
</script>

<style lang="scss" scoped>
$badge-height: 15px !default;
.v-application--is-rtl {
    .caption {
        flex: 0 1 auto !important;
        justify-content: flex-end;
        text-align: left !important;
    }
}
</style>
