<template>
    <v-container id="ProfileEdit" ref="form" fluid>
        <v-card class="pa-2">
            <v-form v-if="firstname" ref="profile_form">
                <v-text-field
                    ref="email"
                    :disabled="!editable"
                    :label="$t('profile.form.fields.email.label')"
                    :placeholder="$t('profile.form.fields.email.placeholder')"
                    :rules="[rules_required, rules_email]"
                    :title="$t('profile.form.fields.email.label')"
                    :value="email"
                    clearable
                    color="green"
                    required
                    @input="SET_EMAIL"
                />
                <v-text-field
                    ref="first_name"
                    :disabled="!editable"
                    :label="$t('profile.form.fields.first_name.label')"
                    :placeholder="
                        $t('profile.form.fields.first_name.placeholder')
                    "
                    :rules="[rules_required]"
                    :title="$t('profile.form.fields.first_name.label')"
                    :value="firstname"
                    clearable
                    color="green"
                    required
                    @input="SET_FIRSTNAME"
                />
                <v-text-field
                    ref="last_name"
                    :disabled="!editable"
                    :label="$t('profile.form.fields.last_name.label')"
                    :placeholder="
                        $t('profile.form.fields.last_name.placeholder')
                    "
                    :rules="[rules_required]"
                    :title="$t('profile.form.fields.last_name.label')"
                    :value="lastname"
                    clearable
                    color="green"
                    required
                    @input="SET_LASTNAME"
                />
                <v-text-field
                    ref="phone_number"
                    :disabled="!editable"
                    :label="$t('profile.form.fields.phone_number.label')"
                    :placeholder="
                        $t('profile.form.fields.phone_number.placeholder')
                    "
                    :rules="[rules_phone]"
                    :title="$t('profile.form.fields.phone_number.label')"
                    :value="phone"
                    clearable
                    color="green"
                    @input="SET_PHONE"
                />
                <v-select
                    :auto-select-first="true"
                    :disabled="!editable"
                    :items="languages"
                    :label="$t('profile.form.fields.language.label')"
                    :placeholder="
                        $t('profile.form.fields.language.placeholder')
                    "
                    :rules="[
                        rules_required,
                        val =>
                            0 <=
                                languages
                                    .map(lang => lang.value)
                                    .indexOf(val) || $t('forms.errors.not_in')
                    ]"
                    :value="language"
                    @input="SET_LANGUAGE"
                />
                <v-autocomplete
                    :auto-select-first="true"
                    :cache-items="false"
                    :disabled="!editable"
                    :items="timezones"
                    :label="$t('profile.form.fields.timezone.label')"
                    :no-data-text="$t('forms.errors.not_find')"
                    :placeholder="
                        $t('profile.form.fields.timezone.placeholder')
                    "
                    :rules="[
                        rules_required,
                        val =>
                            0 <= timezones.indexOf(val) ||
                            $t('forms.errors.not_in')
                    ]"
                    :search-input="timezone"
                    :value="timezone"
                    @input="SET_TIMEZONE"
                />
                <v-checkbox
                    :disabled="!editable"
                    :false-value="0"
                    :input-value="send_out_events"
                    :label="$t('profile.form.fields.send_out_events.label')"
                    :true-value="1"
                    @change="SET_SEND_OUT_EVENTS"
                />
                <v-col class="text-right">
                    <template v-if="editable">
                        <v-btn
                            class="ml-2"
                            color="primary"
                            text
                            @click="
                                editable = false;
                                reset();
                            "
                        >
                            {{ $t('forms.buttons.cancel') }}
                        </v-btn>
                        <v-btn class="ml-2" color="primary" text @click="reset">
                            {{ $t('forms.buttons.reset') }}
                        </v-btn>
                        <v-btn
                            class="ml-2"
                            color="success"
                            @click="valid_and_save"
                        >{{ $t('forms.buttons.save') }}
                        </v-btn
                        >
                    </template>
                    <template v-else>
                        <v-btn
                            class="ml-2"
                            color="primary"
                            text
                            @click="editable = true"
                        >{{ $t('forms.buttons.edit') }}
                        </v-btn>
                    </template>
                </v-col>
            </v-form>
        </v-card>
        <v-divider/>
        <h3 class="mt-3">{{ $t('profile.sub_headers.change_password') }}</h3>
        <v-card class="mt-2 pa-2">
            <v-alert
                :type="pass_type"
                :value="!!pass_message"
                dismissible
                @input="pass_message = null"
            >
                {{ pass_message }}
            </v-alert>

            <v-form ref="change_pass">
                <v-row>
                    <v-col cols="12">
                        <v-text-field
                            ref="current_pass"
                            v-model="cur_pass"
                            :label="
                                $t('profile.form.fields.current_password.label')
                            "
                            :placeholder="
                                $t(
                                    'profile.form.fields.current_password.placeholder'
                                )
                            "
                            :prepend-icon="
                                show_old_pass ? 'mdi-eye' : 'mdi-eye-off'
                            "
                            :rules="[rules_required]"
                            :title="
                                $t('profile.form.fields.current_password.label')
                            "
                            :type="show_old_pass ? 'text' : 'password'"
                            clearable
                            color="green"
                            required
                            @click:prepend="show_old_pass = !show_old_pass"
                        />
                    </v-col>
                    <v-col cols="12">
                        <v-text-field
                            ref="new_pass"
                            v-model="new_pass"
                            :disabled="!cur_pass"
                            :label="
                                $t('profile.form.fields.change_password.label')
                            "
                            :placeholder="
                                $t(
                                    'profile.form.fields.change_password.placeholder'
                                )
                            "
                            :prepend-icon="
                                show_new_first_pass ? 'mdi-eye' : 'mdi-eye-off'
                            "
                            :rules="[rules_required]"
                            :title="
                                $t('profile.form.fields.change_password.label')
                            "
                            :type="show_new_first_pass ? 'text' : 'password'"
                            clearable
                            color="green"
                            required
                            @click:prepend="
                                show_new_first_pass = !show_new_first_pass
                            "
                        />
                    </v-col>
                    <v-col cols="12">
                        <v-text-field
                            ref="new_pass"
                            v-model="new_pass_compare"
                            :disabled="!new_pass || !cur_pass"
                            :label="
                                $t('profile.form.fields.confirm_password.label')
                            "
                            :placeholder="
                                $t(
                                    'profile.form.fields.confirm_password.placeholder'
                                )
                            "
                            :prepend-icon="
                                show_new_second_pass ? 'mdi-eye' : 'mdi-eye-off'
                            "
                            :rules="[rules_required, rules_password_compare]"
                            :title="
                                $t('profile.form.fields.confirm_password.label')
                            "
                            :type="show_new_second_pass ? 'text' : 'password'"
                            clearable
                            color="green"
                            required
                            @click:prepend="
                                show_new_second_pass = !show_new_second_pass
                            "
                        />
                    </v-col>
                    <v-col class="text-right">
                        <v-btn
                            :disabled="!password_compare"
                            class="ml-2"
                            color="success"
                            @click="valid_and_save_pass"
                        >
                            {{ $t('forms.buttons.save') }}
                        </v-btn>
                    </v-col>
                </v-row>
            </v-form>
        </v-card>
    </v-container>
</template>

<script>
import {mask} from 'vue-the-mask'
import timezone from 'moment-timezone'
import axios from 'axios'
import _ from 'lodash'
import {mapActions, mapMutations, mapState} from 'vuex'

export default {
    name: 'ProfileEdit',
    directives: {mask},
    data: () => ({
        editable: false,
        valid: false,
        cur_pass: null,
        new_pass: null,
        new_pass_compare: null,
        show_old_pass: false,
        show_new_first_pass: false,
        show_new_second_pass: false,
        pass_message: null,
        pass_type: null
    }),
    computed: {
        ...mapState('profile', [
            'email',
            'firstname',
            'language',
            'lastname',
            'phone',
            'role',
            'send_out_events',
            'timezone'
        ]),
        languages() {
            return _.map(this.$i18n.messages, (obj, lang) => ({
                text: obj.langName,
                value: lang
            }))
        },
        timezones() {
            return timezone.tz.names()
        },
        password_compare() {
            return this.new_pass && this.new_pass === this.new_pass_compare
        }
    },
    methods: {
        ...mapActions('profile', ['save']),
        ...mapMutations('profile', [
            'SET_PROFILE',
            'SET_EMAIL',
            'SET_FIRSTNAME',
            'SET_LANGUAGE',
            'SET_LASTNAME',
            'SET_PHONE',
            'SET_SEND_OUT_EVENTS',
            'SET_TIMEZONE'
        ]),
        valid_and_save() {
            if (this.$refs.profile_form.validate()) {
                this.save()
            }
        },
        valid_and_save_pass() {
            if (this.$refs.change_pass.validate()) {
                axios.post('/api/profile/password', {
                    cur_pass: this.cur_pass,
                    new_pass: this.new_pass
                })
                    .then(response => {
                        if (
                            response.status === 200 &&
                            response.data.status === true
                        ) {
                            this.pass_type = 'success'
                            this.pass_message = this.$t('profile.messages.ok')
                            this.$refs.change_pass.reset()
                        } else if (response.data.status === 'encored_pass') {
                            this.pass_type = 'error'
                            this.pass_message = this.$t(
                                'profile.messages.encored_pass'
                            )
                        }
                    })
                    .catch(err => {
                        console.log(err)
                    })
            }
        },
        reset() {
            this.$refs.profile_form.reset()
        },
        rules_required(value) {
            return !!value || this.$i18n.t('forms.errors.required')
        },
        rules_email(value) {
            const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
            return pattern.test(value) || this.$i18n.t('forms.errors.email')
        },
        rules_phone(value) {
            if (value) {
                const pattern = /^\+?[\d-]+$/
                return (
                    pattern.test(value) || this.$i18n.t('forms.errors.email')
                )
            }
            return false
        },
        rules_password_compare() {
            return (
                this.password_compare ||
                this.$i18n.t('forms.errors.password_compare')
            )
        }
    }
}
</script>
