<template>
    <v-btn
        :color="color"
        :dark="!isLoad"
        :disabled="isLoad"
        :fab="!isLoad"
        :text="isLoad"
        @click="activate"
        x-small
    >
        <slot name="isLoad" v-if="isLoad">
            <v-progress-circular
                :color="color"
                :size="size"
                :width="size * 0.05"
                indeterminate
            />
        </slot>
        <slot name="isError" v-else-if="isError">
            <v-icon :size="size" v-html="icon"/>
        </slot>
        <slot name="isComplete" v-else-if="isComplete">
            <v-icon :size="size" v-html="icon"/>
        </slot>
        <slot name="isFinished" v-else-if="isFinished">
            <v-icon :size="size" v-html="icon"/>
        </slot>
        <slot name="default" v-else>
            <v-icon :size="size" v-html="icon"/>
        </slot>
    </v-btn>
</template>

<script>
    import downloadFile from '../mixins/downloadFile'

    export default {
        name: 'TheFileButton',
        mixins: [downloadFile],
        props: {
            fileId: null,
            color: {
                type: String,
                default: '#2a3140'
            },
            size: {
                type: [String, Number],
                default: 16
            },
            icon: { type: String, default: '$app-icon-file-download' },
            startIcon: { type: String, default: '$app-icon-file-download' },
            loadIcon: { type: String, default: '$app-icon-file-download' },
            errorIcon: { type: String, default: '$app-icon-file-download' },
            completeIcon: { type: String, default: '$app-icon-file-download' },
            finishedIcon: { type: String, default: '$app-icon-file-download' }
        },
        methods: {
            activate () {
                console.info('set active method')
            }
        }
    }
</script>
