<template>
    <v-select
        :items="intervals"
        :label="intervalsLabel"
        :menu-props="{nudgeTop : viewRangeDates ? '-34px': '-18px', maxHeight: '100%'}"
        :value="!useCustom ? intervals[1].value : 'custom'"
        @input="setInterval"
        class="mx-2"
        height="auto"
        persistent-hint
    >
        <v-icon slot="prepend">mdi-calendar</v-icon>
        <template v-if="useCustom" v-slot:selection>
            <v-menu
                :close-on-content-click="false"
                :nudge-top="viewRangeDates ? '-8px': '-18px'"
                min-width="auto"
                offset-y
                ref="calendarMenu"
                transition="scale-transition"
                v-model="showCalendar"
            >
                <template v-on="on" v-slot:activator="{ on }">
                    <v-btn
                        :value="viewRangeDates"
                        color="black"
                        dense
                        exact
                        id="rangeDataBtn"
                        text
                        v-on="on"
                    >
                        {{ viewRangeDates }}
                    </v-btn>
                </template>
                <v-date-picker
                    :locale="$i18n.locale"
                    :max="max"
                    :min="min"
                    no-title
                    range
                    v-model="tmpRangeDates"
                >
                    <v-spacer/>

                    <v-btn @click="reset()" color="primary" text>
                        {{ $t('forms.buttons.cancel') }}
                    </v-btn>
                    <v-btn @click="apply()" color="primary" text>
                        {{ $t('forms.buttons.ready') }}
                    </v-btn>
                </v-date-picker>
            </v-menu>
        </template>
    </v-select>
</template>

<script>
    import { format_date } from '../helpers/datetimes'
    import _ from 'lodash'

    export default {
        name: 'TheDatesPeriodSelect',
        props: {
            interval: {
                type: Object,
                default: () => ({ from: new Date(new Date().setHours(0, 0, 0, 0) - 1), to: new Date() })
            },
            min: null,
            max: null,
        },
        data: () => ({
            useCustom: false,
            showCalendar: false,
            tmpRangeDates: [new Date().toISOString().substr(0, 10), new Date().toISOString().substr(0, 10)],
            rangeDates: [new Date().toISOString().substr(0, 10), new Date().toISOString().substr(0, 10)]
        }),
        mounted () {
            this.useCustom = false
        },
        computed: {
            intervalsLabel () {
                return this.$t('forms.selects.intervals.label')
            },
            intervals () {
                return [
                    {
                        text: this.$t('forms.selects.intervals.text.this_day'),
                        value: { from: this.changeFromDate('midnight of this day'), to: this.changeToDate('now') }
                    },
                    {
                        text: this.$t('forms.selects.intervals.text.last_24_hours'),
                        value: { from: this.changeFromDate('-24 hours'), to: this.changeToDate('midnight of next day') }
                    },
                    {
                        text: this.$t('forms.selects.intervals.text.yesterday'),
                        value: { from: this.changeFromDate('yesterday'), to: this.changeToDate('midnight of this day') }
                    },
                    {
                        text: this.$t('forms.selects.intervals.text.last_7_days'),
                        value: { from: this.changeFromDate('-7 days'), to: this.changeToDate('midnight of next day') }
                    },
                    {
                        text: this.$t('forms.selects.intervals.text.last_30_days'),
                        value: { from: this.changeFromDate('-30 days'), to: this.changeToDate('midnight of next day') }
                    },
                    {
                        text: this.$t('forms.selects.intervals.text.this_month'),
                        value: {
                            from: this.changeFromDate('midnight first day of this month'),
                            to: this.changeToDate('midnight first day of next month')
                        }
                    },
                    {
                        text: this.$t('forms.selects.intervals.text.last_month'),
                        value: {
                            from: this.changeFromDate('midnight first day of last month'),
                            to: this.changeToDate('midnight first day of this month')
                        }
                    },
                    {
                        text: this.$t('forms.selects.intervals.text.custom'),
                        value: 'custom'
                    }
                ]
            },
            viewRangeDates () {
                if (this.rangeDates.filter(d => d != null).length > 0) {
                    let strArr = this.rangeDates
                    strArr = strArr.sort()
                    if (this.$vuetify.rtl) strArr.reverse()
                    return strArr.map(date =>
                        date ? format_date(date, this.$i18n.locale) : null
                    ).join(` ${this.$t('forms.inputs.range_calendar_to')} `)
                } else {
                    return null
                }
            }
        },
        methods: {
            setValue (value) {
                this.$emit('input', value)
                this.$emit('change', value)
                this.$emit('dates', value)
            },
            setInterval (value) {
                if (value === 'custom') {
                    this.showCalendar = this.useCustom = true
                } else {
                    this.showCalendar = this.useCustom = false
                    this.setValue(value)
                }
            },
            apply () {
                this.rangeDates = this.tmpRangeDates.sort()
                this.setValue({
                    from: _.min(this.rangeDates),
                    to: _.max(this.rangeDates)
                })
                this.$refs.calendarMenu.save(this.value)
            },
            reset () {
                this.tmpRangeDates = this.rangeDates[0] ? this.rangeDates : [
                    new Date().toISOString().substr(0, 10),
                    new Date().toISOString().substr(0, 10)]
                this.showCalendar = false
            },
            changeFromDate(value) {
                let date = new Date();
                if(value === '-24 hours') {
                    date.setDate(date.getDate() - 1);
                    return date;
                } else if(value === 'midnight of this day') {
                    date.setHours(0, 0, 0, 0);

                    return date
                } else if(value === 'yesterday') {
                    date.setDate(date.getDate() - 1);
                    date.setHours(0, 0, 0, 0);
                    return date
                } else if(value === '-7 days') {
                    date.setDate(date.getDate() - 7);
                    return date
                } else if(value === '-30 days') {
                    date.setDate(date.getDate() - 30);
                    return date
                } else if(value === 'midnight first day of this month') {
                    date.setHours(0, 0, 0, 0);
                    date.setDate(1);
                    return date
                } else if(value === 'midnight first day of last month') {
                    date.setHours(0, 0, 0, 0);
                    date.setDate(1);
                    date.setMonth(date.getMonth() - 1);
                    return date
                }
            },
            changeToDate(value) {
                let date = new Date();
                if(value === 'midnight of next day') {
                    date.setDate(date.getDate() + 1);
                    date.setHours(0, 0, 0, 0);
                    return date;
                } else if(value === 'midnight of this day') {
                    date.setHours(0, 0, 0, 0);
                    return date
                } else if(value === 'midnight first day of next month') {
                    date.setHours(0, 0, 0, 0);
                    date.setMonth(date.getMonth() + 1);
                    date.setDate(1);
                    return date
                } else if(value === 'midnight first day of this month') {
                    date.setDate(1);
                    date.setHours(0, 0, 0, 0);
                    return date
                } else if(value === 'now') {
                    date.setDate(date.getDate());
                    date.setHours(date.getHours());
                    return date
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    .v-application--is-rtl {
        .v-data-footer__select {
            flex: 1;
            justify-content: right;
        }
    }

    #rangeDataBtn {
        &:before {
            background-color: transparent !important;
        }

        padding: 0;
        font-weight: inherit !important;
        height: inherit !important;
        font-size: inherit !important;
    }
</style>
