<template>
    <v-dialog ref="dialog" v-model="show" persistent width="290px">
        <template v-slot:activator="{ on }">
            <v-text-field
                v-model="value"
                v-on="on"
                :label="label"
                :title="title"
                prepend-inner-icon="mdi-clock-outline"
                readonly
            />
        </template>
        <v-time-picker
            v-if="show"
            :allowed-hours="allowedHours"
            :allowed-minutes="allowedMinutes"
            :allowed-seconds="allowedSeconds"
            :max="max"
            :min="min"
            :value="value"
            color="#7FB147"
            format="24hr"
            full-width
            @input="value => (tmp_value = value)"
            @click:hour="value => $emit('hour', value)"
            @click:minute="value => $emit('minute', value)"
            @click:second="value => $emit('second', value)"
        >
            <v-spacer/>
            <v-btn color="primary" text @click="cancel()">
                {{ cancelText }}
            </v-btn>
            <v-btn color="success" @click="apply()">
                {{ okText }}
            </v-btn>
        </v-time-picker>
    </v-dialog>
</template>

<script>
export default {
    name: 'TheModalClockSelect',
    props: {
        min: {
            type: String,
            default: '00:00'
        },
        max: {
            type: String,
            default: '23:59'
        },
        allowedHours: {type: [Function, Array], default: undefined},
        allowedMinutes: {type: [Function, Array], default: undefined},
        allowedSeconds: {type: [Function, Array], default: undefined},
        label: {type: String, default: null},
        title: {type: String, default: null},
        value: {type: String, default: undefined},
        cancelText: {type: String, default: null},
        okText: {type: String, default: null}
    },
    data: () => ({
        tmp_value: null,
        show: false
    }),
    methods: {
        apply() {
            this.$emit('input', this.tmp_value)
            this.$emit('change', this.tmp_value)
            this.$refs.dialog.save(null)
        },
        cancel() {
            this.tmp_value = this.value
            this.$refs.dialog.save(this.value)
            this.show = false
        }
    }
}
</script>
