<style type="text/css">
    th.td_datetime {
        border: none;
        border-left: 2px #ffffff solid
    }

    td.td_datetime {
        border: none;
        border-left: 2px #E7EBEE solid;
    }

    html[dir=rtl] th.td_datetime {
        border: none;
        border-right: 2px #ffffff solid
    }

    [dir=rtl] * {
        direction: rtl;
    }

    [dir=rtl] td.td_datetime {
        border: none;
        border-right: 2px #E7EBEE solid;
    }

    [dir=rtl] .rtl_class {
        text-align: right;
    }
</style>
<table width="100%" style="width: 100%;" border="0">
    <tbody>
    <tr>
        <td>
            <table width="100%" style="width: 100%" border="0">
                <tr>
                    <th colspan="3" height="45"
                        style="background-color: #E7EBEE; height: 45px; border-bottom: 2px #ffffff solid; line-height: 19px; font-size: 14px;  color: #5F5F5F; font-weight: lighter">
                        Western Bank
                    </th>
                </tr>
                <tr>
                    <th colspan="2" height="45"
                        style="background-color: #E7EBEE; height: 45px; line-height: 19px; font-size: 14px;  color: #5F5F5F; font-weight: lighter">
                        Exception
                    </th>
                    <th colspan="1" width="150" height="45"
                        style="background-color: #E7EBEE; height: 45px; line-height: 19px; font-size: 14px;  color: #5F5F5F; font-weight: lighter"
                        class="td_datetime">
                        Date/Time
                    </th>
                </tr>
                <tbody>
                <tr style="border-bottom: 2px #E7EBEE solid;">
                    <td style="min-height: 60px; height: 60px; text-align: center; vertical-align: middle; width: 65px"
                        width="65" align="center" valign="middle"><img
                        src="https://pre.ironmax.tech/mail/icons/png/emergency.svg.png" alt
                        style="vertical-align: middle; line-height: 0; max-height: 30px; width: auto; display: block; margin: 0 auto;">
                    </td>
                    <td style="color: #5F5F5F; font-size: 14px; line-height: 19px;">Not all the patrols were
                        accomplished at "Western Bank" facility
                    </td>
                    <td style="color: #5F5F5F; font-size: 14px; line-height: 19px;"
                        class="td_datetime" align="center"> 2020-06-26 06:46
                    </td>
                </tr>
                <tr style="border-bottom: 2px #E7EBEE solid;">
                    <td style="min-height: 60px; height: 60px; text-align: center; vertical-align: middle; width: 65px"
                        width="65" align="center" valign="middle"><img
                        src="https://pre.ironmax.tech/mail/icons/png/emergency.svg.png" alt
                        style="vertical-align: middle; line-height: 0; max-height: 30px; width: auto; display: block; margin: 0 auto;">
                    </td>
                    <td style="color: #5F5F5F; font-size: 14px; line-height: 19px;">Not all the patrols were
                        accomplished at "Western Bank" facility
                    </td>
                    <td style="color: #5F5F5F; font-size: 14px; line-height: 19px;"
                        class="td_datetime" align="center"> 2020-06-26 06:46
                    </td>
                </tr>
                <tr style="border-bottom: 2px #E7EBEE solid;">
                    <td style="min-height: 60px; height: 60px; text-align: center; vertical-align: middle; width: 65px"
                        width="65" align="center" valign="middle"><img
                        src="https://pre.ironmax.tech/mail/icons/png/emergency.svg.png" alt
                        style="vertical-align: middle; line-height: 0; max-height: 30px; width: auto; display: block; margin: 0 auto;">
                    </td>
                    <td style="color: #5F5F5F; font-size: 14px; line-height: 19px;">Not all the patrols were
                        accomplished at "Western Bank" facility
                    </td>
                    <td style="color: #5F5F5F; font-size: 14px; line-height: 19px;"
                        class="td_datetime" align="center"> 2020-06-26 06:46
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
