@import '~bootstrap/scss/bootstrap';
@import "mixins";

$font-color: #343a40;

@font-face {
    font-family: "Calisto MT";
    src: url("https://ironmax.tech/fonts/CALIST.ttf");
}

body,
body *:not(html):not(style):not(br):not(tr):not(code) {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    box-sizing: border-box;
}

._footer {
    .wrap {
        width: 15% !important;
        max-width: 15%;
    }

    .icon {
        padding-left: 50px !important;
        background-repeat: no-repeat;
        background-size: 15px auto;
        background-position: 25px;
    }

    .email {
        padding-top: 0 !important;
        background-image: url("https://ironmax.tech/mail/restore_password/Group 538@2x.png");
    }

    .phone {
        background-image: url("https://ironmax.tech/mail/restore_password/Group 541@2x.png");
    }

    .logo {
        width: 30% !important;
        max-width: 30%;
    }

    .contacts {
        width: 40% !important;
        max-width: 40%;

        div {
            font-family: "Calisto MT", sans-serif !important;
        }
    }
}

@media only screen and (max-width: 480px) {
    ._footer {
        .logo {
            width: 40% !important;
            max-width: 40%;
        }

        .contacts {
            width: 60% !important;
            max-width: 60%;
        }

        .wrap {
            width: 0 !important;
            max-width: 0;
        }

        .icon {
            background-image: none;
            padding: 5px 25px !important;

            div {
                font-size: 12px !important;
            }
        }

        .company {
            padding-bottom: 10px !important;
        }
    }
    .btn {
        a {
            font-size: 14px !important;
        }
    }
}


table.footer {
    padding-top: 60px;
    max-width: 600px;
    width: 600px;

    &, * {
        direction: ltr;
        @include rtl() {
            direction: ltr;
        }
    }

    .padding {
        height: 60px;
        @include media-breakpoint-down('sm') {
            width: 40px;
        }
    }

    .wrap-block {
        width: 20%;
    }


    .logo {
        width: 30%;
        @include media-breakpoint-down('sm') {
            width: 20%;
        }

        img {
            max-width: 60%;
            height: auto;
            //@include media-breakpoint-down('sm'){
            //    width: 40% !important;
            //    max-width: 40%;
            //}
        }
    }

    .info {
        border-left: 1px solid black;
        width: 30%;
        color: $font-color;
        font-size: 14px;
        line-height: 18px;
        font-family: Ubuntu, Helvetica, Arial, sans-serif;

        @include media-breakpoint-down('sm') {
            width: 40%;
        }

        .ico {
            background-repeat: no-repeat;
            background-size: 15px auto;
            background-position: 25px 15px;
            padding: 10px 25px 0px;
            padding-left: 50px !important;
            @include media-breakpoint-down('sm') {
                padding-left: 0;
                background-image: none;
            }
        }

        .title {
            padding-left: 25px;
            text-align: left;
            font-weight: bold;
        }

        .email {
            text-align: left;
            background-image: url("https://ironmax.tech/mail/restore_password/Group 538@2x.png");
        }

        .contact {
            background-image: url("https://ironmax.tech/mail/restore_password/Group 541@2x.png");
            text-align: left;

            &.ico {
                background-size: 13px;
            }

            &.ron {
            }

            &.max {
            }
        }

    }
}
