body {
    margin: 0;
    padding: 0 !important;
    mso-line-height-rule: exactly;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
#outlook {
    a {
        padding: 0;
    }
}
table {
    border-collapse: collapse;
    mso-table-lspace: 0pt;
    mso-table-rspace: 0pt;
}
td {
    border-collapse: collapse;
    mso-table-lspace: 0pt;
    mso-table-rspace: 0pt;
}
img {
    border: 0;
    height: auto;
    line-height: 100%;
    outline: none;
    text-decoration: none;
    -ms-interpolation-mode: bicubic;
}

* {
    direction: ltr;
    @include rtl(){
        direction: rtl;
    }
}
