@import "default";
@import "mixins";
@import "mail_reset";

@font-face {
    font-family: "Calisto MT";
    src: url("https://ironmax.tech/fonts/CALIST.ttf");
}

tr.events_report_on_end_day {
    font-size: 18px;
    color: #5F5F5F;

    & > td {
        padding: 0;
        word-break: break-word;

        table {
            font-family: Ubuntu, Helvetica, Arial, sans-serif;
            line-height: 25px;
            width: 100%;
            border: none;

            .clean {
                text-decoration: none;
                color: #5F5F5F;

                &:hover {
                    text-decoration: underline;
                }
            }

            &.hello_block {
                tr {
                    td {
                        padding: 40px 0 40px;
                    }
                }
            }

            &.facilities {
                tr {
                    td {
                        &.facility_wrap {
                            border-collapse: collapse;
                            padding: 0;
                            word-break: break-word;

                            & > table {
                                font-family: Ubuntu, Helvetica, Arial, sans-serif;
                                line-height: 22px;
                                width: 100%;
                                border: none;

                                thead {
                                    width: 100%;
                                    background-color: #E7EBEE;

                                    tr {
                                        th {
                                            text-align: center;
                                            vertical-align: center;
                                            padding: 10px 14px;
                                            font-weight: normal !important;
                                        }
                                    }

                                    &.facility_title {
                                        border-bottom: 2px solid white;
                                    }

                                    &.block_headers {
                                        tr {
                                            th {
                                                &.description {
                                                    width: 74%;
                                                }

                                                &.date_time {
                                                    width: 26%;
                                                    border-left: 2px solid white;
                                                    border-right: 0px;
                                                    @include rtl() {
                                                        border-right: 2px solid white;
                                                        border-left: 0px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }

                                tbody {
                                    tr {
                                        border-bottom: 2px solid #E7EBEE;

                                        td {
                                            padding: 12px 10px;

                                            &.icon {
                                                width: 10%;
                                                text-align: center;
                                                vertical-align: middle;

                                                img {
                                                    vertical-align: middle;
                                                    line-height: 0px;
                                                    max-height: 30px;
                                                    width: auto;
                                                }
                                            }

                                            &.description {
                                                width: 64%;
                                                padding-left: 0;
                                                text-align: left;
                                                @include rtl() {
                                                    text-align: right;
                                                }
                                            }

                                            &.date_time {
                                                vertical-align: middle;
                                                width: 26%;
                                                border-left: 2px solid #E7EBEE;
                                                border-right: 0px;
                                                text-align: center;
                                                @include rtl() {
                                                    border-right: 2px solid #E7EBEE;
                                                    border-left: 0px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.invit_block {
                tr {
                    td {
                        padding: 40px 0 0;
                    }
                }
            }

            &.tnx_block {
                tr {
                    td {
                        padding: 40px 0 0;
                    }
                }
            }
        }
    }
}
