<template>
    <v-container class="align-self-stretch align-content-start" fluid id="qr-predefinedquestion">
    <form action="">
        <div class="form__elem">
                <input type="text" class="form__input" :class="{wrong: isQuestionError}" v-model.trim="question" :placeholder="$t('barcodes.placeholders.enter_questions')" />
        </div>
        <div class="row">
                <div class="col-50" v-for="(answer, index) in answers" v-bind:key="index">
                        <div class="form__elem">
                                <input type="text" class="form__input" :class="{wrong: answer.hasError}" v-model.trim="answer.text" :placeholder="$t('barcodes.placeholders.answer_option', {count: index+1})" />
                                <span class="percent" @click.prevent="openPercentage(index)"><template v-if="answer.percent>=0">{{ answer.percent }} </template>%</span>
                        </div>
                </div>
        </div>
    </form>

    <div class="row row--bottom btn-row row-center">
        <div class="btn-col">
                <a href="#" class="btn btn--gray btn--additional" @click="saveExit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="33.529" height="33.53" viewBox="0 0 33.529 33.53">
                            <g id="technology" transform="translate(0 0.001)">
                              <g id="Group_23" data-name="Group 23" transform="translate(0 -0.001)">
                                <g id="Group_22" data-name="Group 22" transform="translate(0 0)">
                                  <path id="Path_8" data-name="Path 8" d="M256.763,30.479h3.048a.762.762,0,0,0,.762-.762V22.1a.762.762,0,0,0-.762-.762h-3.048A.762.762,0,0,0,256,22.1v7.62A.762.762,0,0,0,256.763,30.479Z" transform="translate(-237.712 -19.811)" fill="#fff"/>
                                  <path id="Path_9" data-name="Path 9" d="M33.306,6.319l-6.1-6.1a.762.762,0,0,0-1.3.539v9.906a3.052,3.052,0,0,1-3.048,3.048H9.144A3.052,3.052,0,0,1,6.1,10.668V.762A.762.762,0,0,0,5.334,0H3.048A3.052,3.052,0,0,0,0,3.048V30.481a3.052,3.052,0,0,0,3.048,3.048H30.481a3.052,3.052,0,0,0,3.048-3.048V6.858A.761.761,0,0,0,33.306,6.319ZM28.957,31.243a.762.762,0,0,1-.762.762H5.334a.762.762,0,0,1-.762-.762V17.526a.762.762,0,0,1,.762-.762H28.2a.762.762,0,0,1,.762.762Z" transform="translate(0 0.001)" fill="#fff"/>
                                </g>
                              </g>
                            </g>
                          </svg>
                        <span>{{ $t('barcodes.buttons.save_all') }}</span>
                </a>
        </div>
        <div class="btn-col">
                <a href="#" class="btn btn--gray btn--additional" @click.prevent="addOrSave">
                        <b>+</b><span>{{ isEdit && !isEditOff ? $t('barcodes.buttons.save') : $t('barcodes.buttons.add') }}</span>
                </a>
        </div>
    </div>
    <div class="popup" v-if="isPercentage">
        <div class="popup-block">
            <div class="popup-wrapper popup-form">
                <div class="popup-content">
                    <div class="popup-text">{{ $t('barcodes.popups.visual_percentage_text') }}</div>
                    <form action="">
                        <div class="form__elem">
                            <input v-model.number="currentPercentText" @keyup="inputPercentage" @keydown="filterPercentage" type="tel" min="0" max="100" class="form__input" :placeholder="$t('barcodes.placeholders.enter_percentage')" />
                        </div>
                        <div class="row row--bottom btn-row row-center">
                            <div class="btn-col btn-cancel">
                                <a href="#" class="btn btn--gray" @click.prevent="closePercentage">
                                    <span>{{ $t('barcodes.buttons.cancel') }}</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="72.125" height="72.125" viewBox="0 0 72.125 72.125">
                                            <g id="Group_398" data-name="Group 398" transform="translate(-824 -3330)">
                                            <rect id="Rectangle_38" data-name="Rectangle 38" width="13" height="89" rx="6.5" transform="translate(886.932 3330) rotate(45)" fill="#e66b6b"/>
                                            <rect id="Rectangle_39" data-name="Rectangle 39" width="13" height="89" rx="6.5" transform="translate(896.125 3392.933) rotate(135)" fill="#e66b6b"/>
                                            </g>
                                    </svg>
                                </a>
                            </div>
                            <div class="btn-col">
                                <a href="#" class="btn btn--gray" @click.prevent="savePercentage">
                                    <span>{{ answers[currentAnswer].percent==0 ? $t('barcodes.buttons.add') : $t('barcodes.buttons.save') }}</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="85.542" height="63.768" viewBox="0 0 85.542 63.768">
                                            <path id="checked_3_" data-name="checked (3)" d="M.987,38.072a3.017,3.017,0,0,1,0-4.464l4.606-4.464a3.251,3.251,0,0,1,4.606,0l.329.319,18.1,18.812a1.625,1.625,0,0,0,2.3,0L75.014,3.957h.329a3.251,3.251,0,0,1,4.606,0L84.555,8.42a3.017,3.017,0,0,1,0,4.464h0L31.914,65.811a3.251,3.251,0,0,1-4.606,0L1.645,39.029l-.658-.957Z" transform="translate(0 -3)" fill="#75db78"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </v-container>
</template>
<script>
    import { mapMutations, mapGetters, mapState } from 'vuex'
    import _ from 'lodash'

    export default {
        name: "BarcodesPredefinedQuestion",
        props: ['curBarcode', 'validateAllowedSymbols', 'isEdit', 'isEditOff', 'questionIndex'],
        data :     () => ({
            question: '',
            answers: [],
            isQuestionError: false,
            isAnswersError: false,
            isPercentage: false,
            currentAnswer: 0,
            currentPercent: ''

        }),
        created: function() {
            for(let i=0; i<6; i++) {
                this.answers.push({
                    text: '',
                    percent: '',
                    hasError: false
                });
            }
            if(this.isEdit && !this.isEditOff) {
                this.question = this.list[this.curBarcode].additional.predefined_questions[this.questionIndex].question;
                this.list[this.curBarcode].additional.predefined_questions[this.questionIndex].answers.forEach((element, index) => {
                    this.answers[index].text = element.answer;
                    this.answers[index].percent = element.percent;
                }, this);
            } else {
                this.PQ_INIT(this.curBarcode);
            }
        },
        computed: {
            currentPercentText: {
                get() {
                    if(this.currentPercent >=0 ) {
                        return this.currentPercent;
                    }
                    return "";
                },
                set(value) {
                    let val = parseInt(value);
                    if(isNaN(val)) {
                        val = value;
                    }
                    if(val < 0) {
                        val = 0;
                    }
                    if(val>100) {
                        val = 100;
                    }
                    this.currentPercent = val;
                }
            },
            ...mapState('barcodes', ['list']),
            ...mapGetters('barcodes', ['isQuestionExist'])
        },
        methods: {
            inputPercentage: function(event) {
                if(event.target.value>100) {
                    event.target.value = 100;
                }
            },
            filterPercentage: function(event) {
                if(event.keyCode !== 8 && event.keyCode !== 46 && isNaN(Number(event.key))) {
                    event.preventDefault();
                }
            },
            closePercentage: function() {
                this.isPercentage = false;
            },
            savePercentage: function() {
                this.answers[this.currentAnswer].percent = parseInt(this.currentPercent);
                this.closePercentage();
            },
            openPercentage: function(index) {
                this.currentAnswer = index;
                this.currentPercent = this.answers[index].percent;
                this.isPercentage = true;
            },
            validate: function() {
                if(this.question=='') {
                    this.$emit('red-promt', this.$t('barcodes.popups.question_text_required'));
                    this.isQuestionError = true;
                    return false;
                }

                var notAllowQuestionSymbols = this.validateAllowedSymbols(this.question);
                var notAllowAnswersSymbols = [];


                for(let i=0; i<this.answers.length; i++) {
                    let notAllowAnswerSymbols = this.validateAllowedSymbols(this.answers[i].text);
                    if(notAllowAnswerSymbols.length != 0) {
                        this.answers[i].hasError = true;
                    }
                    notAllowAnswersSymbols = notAllowAnswersSymbols.concat(notAllowAnswerSymbols);
                }

                var notAllowSymbols = _.uniq(notAllowQuestionSymbols.concat(notAllowAnswersSymbols));

                this.isQuestionError = (notAllowQuestionSymbols.length != 0);
                this.isAnswersError = (notAllowAnswersSymbols.length != 0);

                if (this.isQuestionError || this.isAnswersError) {
                    this.$emit('red-promt', this.$t('barcodes.wrong_symbols') + " '" + notAllowSymbols.join("', '") + "'");
                    return false;
                }

                let existCheckData = {index: this.curBarcode, question: this.question};
                if(this.isEdit && !this.isEditOff) {
                    existCheckData.exclude = {
                        type: 'predefined_question',
                        index: this.questionIndex
                    };
                }

                if(this.isQuestionExist(existCheckData)) {
                    this.$emit('red-promt', this.$t('barcodes.popups.question_text_used'));
                    this.isQuestionError = true;
                    return false;
                }

                let allAnswers = this.answers.reduce((answers, current) => answers + current.text, '');
                if(allAnswers.trim()=='') {
                    this.$emit('red-promt', this.$t('barcodes.popups.answers_required'));
                    this.isAnswersError = true;
                    return false;
                }

                this.isQuestionError = false;
                this.isHintError = false;
                return true;
            },
            clear: function() {
                this.question = '';
                for(let i=0; i<this.answers.length; i++) {
                    this.answers[i].text = '';
                    this.answers[i].percent = '';
                    this.answers[i].hasError = false;
                }
            },
            addOrSave: function() {
                if(this.validate()) {
                    var answers = [];
                    for(let i=0; i<this.answers.length; i++) {
                        if(this.answers[i].text.trim()!='') {
                            answers.push({
                                answer: this.answers[i].text,
                                percent: this.answers[i].percent
                            });
                        }
                    }
                    let data = {
                            curBarcode: this.curBarcode,
                            question: this.question,
                            answers: answers
                        };
                    if(this.isEdit && !this.isEditOff) {
                        data.index = this.questionIndex;
                        this.EDIT_PREDEFINED_QUESTION(data);
                        this.$emit('green-promt', this.$t('barcodes.popups.predefined_question_saved'));
                    } else {
                        this.ADD_PREDEFINED_QUESTION(data);
                        this.$emit('green-promt', this.$t('barcodes.popups.predefined_question_added'));
                        this.$emit('added');
                    }
                    this.SET_CURBARCODE_CHANGED(this.curBarcode);
                    this.clear();
                }
            },
            saveExit: function() {
                if(this.question!=='') {
                    if(this.validate()) {
                        this.addOrSave();
                        this.$emit('exit');
                    }
                } else {
                    this.$emit('exit');
                }

            },
            ...mapMutations('barcodes', ['PQ_INIT', 'ADD_PREDEFINED_QUESTION', 'EDIT_PREDEFINED_QUESTION', 'SET_CURBARCODE_CHANGED']),
        }
    }
</script>
