<template>
    <v-container class="align-self-stretch align-content-start" fluid id="qr-remindershow">
        <form action="">							
            <div class="form__elem">
                <textarea v-model.trim="text" rows="6" class="form__input" :class="{wrong: isError}" :placeholder="$t('barcodes.placeholders.enter_reminder')"></textarea>
            </div>
        </form>
        <div class="row row--bottom btn-row row-center">
            <div class="btn-col">
                <a href="#" class="btn btn--gray btn--additional" @click="save">
                    <svg xmlns="http://www.w3.org/2000/svg" width="33.529" height="33.53" viewBox="0 0 33.529 33.53">
                            <path id="Path_9" data-name="Path 9" d="M33.306,6.319l-6.1-6.1a.762.762,0,0,0-1.3.539v9.906a3.052,3.052,0,0,1-3.048,3.048H9.144A3.052,3.052,0,0,1,6.1,10.668V.762A.762.762,0,0,0,5.334,0H3.048A3.052,3.052,0,0,0,0,3.048V30.481a3.052,3.052,0,0,0,3.048,3.048H30.481a3.052,3.052,0,0,0,3.048-3.048V6.858A.761.761,0,0,0,33.306,6.319ZM28.957,31.243a.762.762,0,0,1-.762.762H5.334a.762.762,0,0,1-.762-.762V17.526a.762.762,0,0,1,.762-.762H28.2a.762.762,0,0,1,.762.762Z" transform="translate(0 0.001)" fill="#fff"/>
                    </svg>
                    <span>{{ $t('barcodes.buttons.save') }}</span>
                </a>
            </div>						
        </div>
    </v-container>
</template>
<script>
    import { mapMutations, mapState } from 'vuex'
    
    export default {
       name: "BarcodesReminder",
       props: ['curBarcode', 'validateAllowedSymbols', 'isEdit'],
       data :     () => ({
            text: '',
            isError: false
        }),
        created() {
            if(this.isEdit) {
                this.text = this.list[this.curBarcode].additional.reminder;
            }
        },
        computed: {
            ...mapState('barcodes', ['list'])
        },
        methods: {
            validate: function() {
                var notAllowSymbols = this.validateAllowedSymbols(this.text);
                this.isError = (notAllowSymbols.length != 0);
                
                if (this.isError) {
                    this.$emit('red-promt', this.$t('barcodes.wrong_symbols') + " '" + notAllowSymbols.join("', '") + "'");
                    return false;
                }
                
                return true;
            },
            save: function() {
                if(this.text!='') {
                    if(this.validate()) {
                        this.REMINDER_INIT(this.curBarcode);
                        this.SAVE_REMINDER({
                            curBarcode: this.curBarcode,
                            text: this.text
                        });
                        this.SET_CURBARCODE_CHANGED(this.curBarcode);
                        this.text='';
                        this.$emit('green-promt', this.$t('barcodes.popups.reminder_added'));
                        this.$emit('added');
                        this.$emit('exit');
                    }
                } else {
                    this.$emit('exit');
                }
                
            },
            ...mapMutations('barcodes', ['REMINDER_INIT', 'SAVE_REMINDER', 'SET_CURBARCODE_CHANGED']),
        }
    }
</script>
