<template>
    <v-container class="align-self-stretch align-content-start" fluid id="qr-additionallist">
        <header class="header">
            <div class="container">
                <div class="header-text text--center">
                    <a href="#" class="back-link" @click="$emit('show-tabs')">
                            <svg xmlns="http://www.w3.org/2000/svg" width="13.407" height="23.408" viewBox="0 0 13.407 23.408">
                                    <path id="Path_7" data-name="Path 7" d="M11.846,12.313,2.577,21.948a1.469,1.469,0,0,1-2.135,0,1.613,1.613,0,0,1,0-2.219l8.2-8.525L.442,2.679A1.614,1.614,0,0,1,.442.46a1.469,1.469,0,0,1,2.135,0l9.269,9.635a1.613,1.613,0,0,1,0,2.219Z" fill="rgb(42, 49, 64)" stroke="#fff" stroke-width="1"/>
                            </svg>
                            <span>{{ $t('barcodes.buttons.back') }}</span>
                    </a>
                    {{ $t('barcodes.additions') }}
                </div>
            </div>
    </header>

    <div class="content">			
            <BarcodesReminderShow :curBarcode="curBarcode" v-if="isReminder" @show-tabs="$emit('show-tabs', $event)"></BarcodesReminderShow>
            <BarcodesQuestionsList :curBarcode="curBarcode"  v-if="!isReminder" @show-tabs="$emit('show-tabs', $event)"></BarcodesQuestionsList>
    </div>
    </v-container>
</template>
<script>
    import { mapState } from 'vuex'
    import BarcodesReminderShow from './BarcodesReminderShow'
    import BarcodesQuestionsList from './BarcodesQuestionsList'
    
    export default {
       name: "BarcodesAdditionalList",
       props: ['curBarcode'],
       data :     () => ({

        }),
       components: {
            BarcodesReminderShow, BarcodesQuestionsList
        },
       computed: {
           isReminder: function() {
               return this.list[this.curBarcode].additional.reminder!=undefined;
           },
           ...mapState('barcodes', ['list'])
       },
       methods: {
            
        }
    }
</script>

