<template>
    <v-container class="align-self-stretch align-content-start" fluid id="qr-form">
        <template v-if="!isShowAdditional && !isShowAdditionalList && !isNoFacilities">
            <div class="form-container">
                <div class="basket-container">
                    <a href="#" class="btn btn--gray basket" :class="{ disabled: !canDelete }" @click.prevent="showDelete">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32.696" height="45.954" viewBox="0 0 32.696 45.954">
                                <g id="rubbish-bin" transform="translate(1.5 2.5)">
                                  <g id="Group_202" data-name="Group 202" transform="translate(0 0)">
                                    <path id="Path_550" data-name="Path 550" d="M80.453,2.058H71.818V.421A.421.421,0,0,0,71.4,0H62.33a.42.42,0,0,0-.42.421V2.058H53.274A1.26,1.26,0,0,0,52.016,3.32V7.284h29.7V3.32A1.26,1.26,0,0,0,80.453,2.058Z" transform="translate(-52.016 -1)" fill="none" stroke="#fff" stroke-width="3"/>
                                    <path id="Path_1978" data-name="Path 1978" d="M75.379,127.766a2.007,2.007,0,0,0,2,1.927h18.71a2.007,2.007,0,0,0,2-1.927l.988-20.925.348-7.373H74.043Z" transform="translate(-71.888 -87.739)" fill="none" stroke="#fff" stroke-width="3"/>
                                  </g>
                                </g>
                          </svg>
                    </a>
                </div>
                <div class="content-container">
                    <header class="header">
                        <div class="container">
                            <div class="row">
                                <div class="header__left">
                                    <a href="#" class="arrow-left" :title="prevPageTitle" @click.prevent="curPageDec" :class="{ disabled: !hasPrevPage }"></a>
                                    <span>{{ $t('barcodes.page', {'page': curPage}) }}</span>
                                    <a href="#" class="arrow-right" :title="nextPageTitle" @click.prevent="curPageInc" :class="{ disabled: !hasNextPage }"></a>
                                </div>
                                <div class="header__right">
                                    <a href="#" class="arrow-left" :title="prevBarcodeTitle" @click.prevent="curBarcodeDec" :class="{ disabled: !hasPrevBarcode }"></a>
                                    <span>{{ $t('barcodes.barcode_of', {'start': curBarcodeOnPage, 'count': curPageBarcodesCount, 'page': curPage}) }}</span>
                                    <a href="#" class="arrow-right" :title="nextBarcodeTitle" @click.prevent="curBarcodeInc" :class="{ disabled: !hasNextBarcode }"></a>
                                </div>
                            </div>
                        </div>
                    </header>

                    <div class="content">
                        <div class="container">
                            <form action="">
                                <div class="row">
                                    <div class="content__left">
                                        <div class="qr-item">
                                            <table cellpadding="0" cellspacing="0">
                                                <tbody>
                                                    <tr style="height:20%;">
                                                        <td style="line-height:0;"><img src="/images/qr/logo.svg" /></td>
                                                    </tr>
                                                    <tr>
                                                        <td><img :src="'/qr/' + curBarcodeImg" /></td>
                                                    </tr>
                                                    <tr style="height:8.5%;">
                                                        <td style="vertical-align: bottom;"><div style="height: 0; border-top: 1.5px solid #000;margin: 0 6%;"></div></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="height: 100%; text-align: left; vertical-align: middle;">
                                                            <table  class="qr-item__info">
                                                                <tbody>
                                                                    <tr>
                                                                        <td width="15mm" style="text-align: center; vertical-align: top; line-height: 0; padding-top: 4%;">
                                                                            <img src="/images/qr/icon-1.svg" alt=""/>
                                                                        </td>
                                                                        <td style="vertical-align: top;padding-top: 4%;"><div class="two-lines">{{ curFacilityName }}</div></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td width="15mm" style="text-align: center; vertical-align: top; line-height: 0;">
                                                                            <img src="/images/qr/icon-2.svg" alt="" v-if="curBarcodeNameInfo!=''"/>
                                                                        </td>
                                                                        <td style="vertical-align: top; padding-bottom: 4%; line-height: 1;"><div class="two-lines">{{ curBarcodeNameInfo }}</div></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td width="15mm" style="text-align: center; vertical-align: top; line-height: 0; padding-top: 2%">
                                                                            <img src="/images/qr/icon-3.svg" alt="" v-if="curBarcodeLocationInfo!=''"/>
                                                                        </td>
                                                                        <td style="vertical-align: top;line-height: 1; padding-top: 2%"><div class="two-lines">{{ curBarcodeLocationInfo }}</div></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="content__right">
                                        <div class="form__elem">
                                            <v-select
                                                :items="facilities"
                                                :label="$t('barcodes.site_name')"
                                                item-text="name"
                                                item-value="code"
                                                v-model="curFacility.code"
                                                :menu-props="{nudgeTop : '-' + window.height*0.07 + 'px'}"
                                            />
<!--                                            <label for="select" class="label-select"></label>
                                            <select v-model="curFacility.code" id="select" class="select form__input" :class="{wrong: isFacilityError}">
                                                <option value="0">{{ $t('barcodes.site_name')  }}</option>
                                                <option v-for="facility in facilities" :value="facility.code">
                                                    {{ facility.name }}
                                                </option>
                                            </select>-->
                                        </div>
                                        <div class="form__elem">
                                            <input type="text" class="form__input" :class="{wrong: isNameError}" v-model.trim="curBarcodeName" :placeholder="$t('barcodes.barcode_name')" />
                                        </div>
                                        <div class="form__elem">
                                            <input type="text" class="form__input" :class="{wrong: isLocationError}" v-model.trim="curBarcodeLocation" :placeholder="$t('barcodes.location_name')" />
                                        </div>
                                        <div class="form__elem">
                                            <a href="#" class="btn btn--gray" @click.prevent="showAdditional" :class="{ disabled: isAdditionalDisabled }"> + {{ $t('barcodes.buttons.addition') }}<template v-if="haveAdditional"> ({{ additionalCount }})</template></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="row row--bottom">
                                    <div class="content__left">
                                        <div class="btn-col">
                                            <a href="#" class="btn btn--gray" @click.prevent="finish" :class="{ disabled: !isFacilitySelected }">
                                                <span>{{ $t('barcodes.buttons.finish') }}</span>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="30.854" height="23" viewBox="0 0 30.854 23">
                                                <path id="checked_3_" data-name="checked (3)" d="M.356,15.65a1.088,1.088,0,0,1,0-1.61l1.661-1.61a1.173,1.173,0,0,1,1.661,0l.119.115,6.527,6.785a.586.586,0,0,0,.831,0l15.9-15.985h.119a1.173,1.173,0,0,1,1.661,0L30.5,4.955a1.088,1.088,0,0,1,0,1.61h0L11.511,25.655a1.173,1.173,0,0,1-1.661,0L.593,16,.356,15.65Z" transform="translate(0 -3)" fill="#fff"/>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="content__right">
                                        <div class="btn-row row">
                                            <div class="btn-col">
                                                <a href="#" class="btn btn--gray" @click.prevent="curBarcodeDec" :class="{ disabled: !hasPrevBarcode }">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="13.407" height="23.408" viewBox="0 0 13.407 23.408" class="prev-icon">
                                                    <path id="Path_7" data-name="Path 7" d="M11.846,12.313,2.577,21.948a1.469,1.469,0,0,1-2.135,0,1.613,1.613,0,0,1,0-2.219l8.2-8.525L.442,2.679A1.614,1.614,0,0,1,.442.46a1.469,1.469,0,0,1,2.135,0l9.269,9.635a1.613,1.613,0,0,1,0,2.219Z" fill="#fff" stroke="#fff" stroke-width="1"/>
                                                    </svg>
                                                    <span>{{ $t('barcodes.buttons.previous') }}</span>
                                                </a>
                                            </div>
                                            <div class="btn-col">
                                                <a href="#" class="btn btn--gray" @click.prevent="curBarcodeInc" :class="{ disabled: !hasNextBarcode }">
                                                    <span>{{ $t('barcodes.buttons.next') }}</span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="13.407" height="23.408" viewBox="0 0 13.407 23.408" class="next-icon">
                                                    <path id="Path_7" data-name="Path 7" d="M11.846,12.313,2.577,21.948a1.469,1.469,0,0,1-2.135,0,1.613,1.613,0,0,1,0-2.219l8.2-8.525L.442,2.679A1.614,1.614,0,0,1,.442.46a1.469,1.469,0,0,1,2.135,0l9.269,9.635a1.613,1.613,0,0,1,0,2.219Z" fill="#fff" stroke="#fff" stroke-width="1"/>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="popup" v-if="isShowAskGuardName">
                                <div class="popup-block">
                                    <div class="popup-wrapper" style="width: 50vw;">
                                        <div class="popup-content">
                                            <div class="popup-text"><span>{{ $t('barcodes.popups.ask_guard_name') }}</span></div>
                                            <div class="row row--bottom btn-row row-center">
                                                <div class="btn-col btn-cancel">
                                                    <a href="#" class="btn btn--gray" @click.prevent="askGuardsNameNo">
                                                        <span>{{ $t('barcodes.buttons.no') }}</span>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="72.125" height="72.125" viewBox="0 0 72.125 72.125">
                                                                <g id="Group_398" data-name="Group 398" transform="translate(-824 -3330)">
                                                                <rect id="Rectangle_38" data-name="Rectangle 38" width="13" height="89" rx="6.5" transform="translate(886.932 3330) rotate(45)" fill="#e66b6b"/>
                                                                <rect id="Rectangle_39" data-name="Rectangle 39" width="13" height="89" rx="6.5" transform="translate(896.125 3392.933) rotate(135)" fill="#e66b6b"/>
                                                                </g>
                                                        </svg>
                                                    </a>
                                                </div>
                                                <div class="btn-col">
                                                    <a href="#" class="btn btn--gray" @click.prevent="askGuardsNameYes">
                                                        <span>{{ $t('barcodes.buttons.yes') }}</span>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="85.542" height="63.768" viewBox="0 0 85.542 63.768">
                                                                <path id="checked_3_" data-name="checked (3)" d="M.987,38.072a3.017,3.017,0,0,1,0-4.464l4.606-4.464a3.251,3.251,0,0,1,4.606,0l.329.319,18.1,18.812a1.625,1.625,0,0,0,2.3,0L75.014,3.957h.329a3.251,3.251,0,0,1,4.606,0L84.555,8.42a3.017,3.017,0,0,1,0,4.464h0L31.914,65.811a3.251,3.251,0,0,1-4.606,0L1.645,39.029l-.658-.957Z" transform="translate(0 -3)" fill="#75db78"/>
                                                        </svg>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="popup" v-if="isShowDeletePopup">
                                <div class="popup-block">
                                    <div class="popup-wrapper" style="width: 550px; text-align: center;">
                                        <div class="popup-content">
                                            <div class="popup-text"><span>{{ $t('barcodes.popups.sure') }}</span></div>
                                            <div class="row row--bottom btn-row row-center">
                                                <div class="btn-col btn-cancel">
                                                    <a href="#" class="btn btn--gray" @click.prevent="isShowDeletePopup=false">
                                                        <span>{{ $t('barcodes.buttons.no') }}</span>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="72.125" height="72.125" viewBox="0 0 72.125 72.125">
                                                                <g id="Group_398" data-name="Group 398" transform="translate(-824 -3330)">
                                                                <rect id="Rectangle_38" data-name="Rectangle 38" width="13" height="89" rx="6.5" transform="translate(886.932 3330) rotate(45)" fill="#e66b6b"/>
                                                                <rect id="Rectangle_39" data-name="Rectangle 39" width="13" height="89" rx="6.5" transform="translate(896.125 3392.933) rotate(135)" fill="#e66b6b"/>
                                                                </g>
                                                        </svg>
                                                    </a>
                                                </div>
                                                <div class="btn-col">
                                                    <a href="#" class="btn btn--gray" @click.prevent="deleteBarcode">
                                                        <span>{{ $t('barcodes.buttons.yes') }}</span>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="85.542" height="63.768" viewBox="0 0 85.542 63.768">
                                                                <path id="checked_3_" data-name="checked (3)" d="M.987,38.072a3.017,3.017,0,0,1,0-4.464l4.606-4.464a3.251,3.251,0,0,1,4.606,0l.329.319,18.1,18.812a1.625,1.625,0,0,0,2.3,0L75.014,3.957h.329a3.251,3.251,0,0,1,4.606,0L84.555,8.42a3.017,3.017,0,0,1,0,4.464h0L31.914,65.811a3.251,3.251,0,0,1-4.606,0L1.645,39.029l-.658-.957Z" transform="translate(0 -3)" fill="#75db78"/>
                                                        </svg>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>
        <BarcodesAdditional :questionIndex="questionIndex" :component='additionalComponent' :isEdit="isAdditionalEdit" :curBarcode="curBarcode" :validateAllowedSymbols="validateAllowedSymbols" v-if="isShowAdditional" @additional-added="isAdditionAdded=true" @exit="closeAdditional" @red-promt="redPromt" @green-promt="greenPromt" @show-list="showList"></BarcodesAdditional>
        <BarcodesAdditionalList :curBarcode="curBarcode" v-if="isShowAdditionalList" @show-tabs="showTabs($event)"></BarcodesAdditionalList>
        <BarcodesNoFacilities v-if="isNoFacilities"></BarcodesNoFacilities>
        <transition name="slide-fade">
            <div class="prompt prompt--red" v-if="redPromtText!=''">{{ redPromtText }}</div>
            <div class="prompt prompt--green" v-if="greenPromtText!=''">
                <span>{{ greenPromtText }}</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="85.542" height="63.768" viewBox="0 0 85.542 63.768">
                        <path id="checked_3_" data-name="checked (3)" d="M.987,38.072a3.017,3.017,0,0,1,0-4.464l4.606-4.464a3.251,3.251,0,0,1,4.606,0l.329.319,18.1,18.812a1.625,1.625,0,0,0,2.3,0L75.014,3.957h.329a3.251,3.251,0,0,1,4.606,0L84.555,8.42a3.017,3.017,0,0,1,0,4.464h0L31.914,65.811a3.251,3.251,0,0,1-4.606,0L1.645,39.029l-.658-.957Z" transform="translate(0 -3)" fill="#75db78"/>
                </svg>
            </div>
        </transition>
    </v-container>
</template>



<script>

    import { mapActions, mapMutations, mapGetters, mapState } from 'vuex'
    import _ from 'lodash'
    import BarcodesAdditional from './BarcodesAdditional'
    import BarcodesAdditionalList from './BarcodesAdditionalList'
    import BarcodesNoFacilities from './BarcodesNoFacilities'

    export default {
        name: "BarcodesForm",
        props: ['barcodeIndex'],
        data: () => ({
                curBarcode: 0,
                curFacility: {
                    code: 0,
                    name: '',
                    is_sayar: false,
                    isChange: true
                },
                isFacilityError: false,
                isNameError: false,
                isLocationError: false,
                isShowAdditional: false,
                isShowAdditionalList: false,
                isShowAskGuardName: false,
                isShowCurrent: false,
                isAdditionAdded: false,
                additionalComponent: null,
                isAdditionalEdit: false,
                isShowDeletePopup: false,
                isNoFacilities: false,
                questionIndex: 0,
                askGuardsName: false,
                redPromtText: '',
                greenPromtText: '',
                window: {
                    width: 0,
                    height: 0
                }
            }),
        components: {
            BarcodesAdditional, BarcodesAdditionalList, BarcodesNoFacilities
        },
        computed: {
            haveAdditional: function () {
                return this.additionalCount>0 || this.isAdditionAdded;
            },
            isAdditionalDisabled: function() {
                return this.curFacility.code==0 ||
                        (this.askGuardsName==true && this.curBarcode==0) ||
                        (this.isLastBarcode && this.curBarcode!=0);
            },
            canDelete: function() {
                return this.isFacilitySelected;
            },
            isFacilitySelected: function() {
                return this.curFacility.code!=0;
            },
            additionalCount: function() {
                if(this.isAdditionAdded) {
                    return this.$store.getters['barcodes/additionalCount'](this.curBarcode);
                } else {
                    return this.$store.getters['barcodes/additionalCount'](this.curBarcode);
                }
            },
            curBarcodeOnPage: function () {
                var result = (this.curBarcode + 1) % 16;
                return result == 0 ? 16 : result;
            },
            curPageBarcodesCount: function () {
                if (this.hasNextPage) {
                    return 16;
                } else if(this.listCount==0) {
                    return 1;
                } else {
                    let count = this.listCount % 16;
                    if (count == 0) {
                        count = 16;
                    }
                    return count;
                }
            },
            nextBarcodeTitle: function () {
                return this.hasNextBarcode ? this.$t('barcodes.next_barcode') : '';
            },
            prevBarcodeTitle: function () {
                return this.hasPrevBarcode ? this.$t('barcodes.prev_barcode') : '';
            },
            nextPageTitle: function () {
                return this.hasNextPage ? this.$t('barcodes.next_page') : '';
            },
            prevPageTitle: function () {
                return this.hasPrevPage ? this.$t('barcodes.prev_page') : '';
            },
            hasNextPage: function () {
                return (this.listCount > (this.curPage * 16));
            },
            hasPrevPage: function () {
                return (this.curPage > 1);
            },
            curPage: function () {
                return Math.ceil((this.curBarcode + 1) / 16);
            },
            hasNextBarcode: function () {
                return this.isFacilitySelected && (this.curBarcode < (this.maxPages * 16 - 1));
            },
            hasPrevBarcode: function () {
                return (this.curBarcode > 0);
            },
            curBarcodeImg: function() {
                return this.isShowCurrent ? 'current?' + this.changeCount : this.curBarcodeId;
            },
            curBarcodeId: function () {
                if (this.listCount > 0) {
                    return this.list[this.curBarcode].id;
                } else {
                    return 0;
                }

            },
            curBarcodeNameInfo: function () {
                if (this.listCount > 0) {
                    let result = this.list[this.curBarcode].name;
                    if(result!='' && this.isLastBarcode && this.curBarcode!=0) {
                        result+=' (' + this.$t('barcodes.last') + ')';
                    }
                    return result;
                } else {
                    return ''
                }

            },
            curBarcodeLocationInfo: function () {
                if (this.listCount > 0) {
                    let result = this.list[this.curBarcode].location;
                    if(result==null) {
                        result = '';
                    }
                    return result;
                } else {
                    return ''
                }

            },
            curBarcodeName: {
                get() {
                    if (this.listCount > 0) {
                        let result = this.list[this.curBarcode].name;
                        if(result==null) {
                            result = '';
                        }
                        return result;
                    } else {
                        return ''
                    }
                },
                set(value) {

                    this.SET_CURBARCODE_NAME({
                        index: this.curBarcode,
                        value: value
                    });
                    if(this.validate()) {
                        this.barcodeChanged();
                    }
                }
            },
            curBarcodeLocation: {
                get() {
                    if (this.listCount > 0) {
                        return this.list[this.curBarcode].location
                    } else {
                        return ''
                    }
                },
                set(value) {
                    this.SET_CURBARCODE_LOCATION({
                        index: this.curBarcode,
                        value: value
                    });
                    this.validate();
                }
            },
            curBarcodeFacilityCode: {
                get() {
                    if (this.listCount > 0) {
                        return this.list[this.curBarcode].facility_id;
                    } else {
                        return '';
                    }
                },
                set(value) {
                    if (value != '') {
                        this.SET_CURBARCODE_FACILITY({
                            barcodeIndex: this.curBarcode,
                            facilityCode: value
                        });
                    }
                }
            },
            curFacilityName: function () {
                if (this.listCount > 0) {
                    return this.list[this.curBarcode].facility.facility_name
                } else {
                    return '---'
                }

            },
            isLastBarcode: function() {
                return this.list[this.curBarcode + 1] == undefined;
            },
            isNotEmptyBarcode: function() {
                return this.list.length>0 && this.list[this.curBarcode].name!='';
            },
            ...mapState('barcodes', ['list', 'maxPages', 'changeCount', 'dataSizeError']),
            ...mapGetters('barcodes', ['listCount', 'facilities', 'isBarcodeChanged'])
        },
        watch: {
            'curFacility.code': function(facilityId, prevFacilityId) {
                if(facilityId==0) {
                    this.CLEAR_LIST();
                    this.curBarcode = 0;
                    this.curFacility.name = '';
                    this.curFacility.is_sayar = false;
                    this.currentBarcodeInit();
                } else {
                    if(this.curFacility.isChange) {
                        if(prevFacilityId!=0) {
                            this.saveCurBarcodeIfChanged();
                        }
                        this.listInit(facilityId).then(() => {
                            this.curBarcode = 0;
                            let facility = this.facilities.find(item => item.code == facilityId, facilityId);
                            this.curFacility.name = facility.name;
                            this.curFacility.is_sayar = facility.is_sayar;
                            this.isShowAskGuardName = true;
                            this.currentBarcodeInit();
                        });

                    } else {
                        this.isShowAskGuardName = false;
                        this.curFacility.isChange = true;
                    }
                }
            },
            facilities: function(facilities) {
                if(facilities.length==0) {
                    this.isNoFacilities = true;
                }
            },
            dataSizeError: function(status) {
                if(status) {
                    this.redPromt(this.$t('barcodes.popups.toolong'));
                    this.commit('DATA_SIZE_ERROR', false);
                }
            }
        },
        created() {
            window.addEventListener('resize', this.handleResize);
            this.handleResize();
            if(this.barcodeIndex>=0) {
                this.curBarcode = this.barcodeIndex;
                this.curFacility.isChange = false;
                this.curFacility.code = this.list[this.curBarcode].facility_id;
                this.curFacility.name = this.list[this.curBarcode].facility.facility_name;
                this.curFacility.is_sayar = this.list[this.curBarcode].facility.is_sayar;
                this.askGuardsName = (this.list[0].start_patrol_name==1);
            } else {
                this.facilitiesInit();
            }
        },
        destroyed() {
            window.removeEventListener('resize', this.handleResize);
        },
        methods: {
            askGuardsNameNo: function() {
                this.askGuardsName = false;
                this.isShowAskGuardName = false;
                this.SET_START_PATROL_NAME(false);
               this.barcodeChanged();
            },
            askGuardsNameYes: function() {
                this.askGuardsName = true;
                this.isShowAskGuardName = false;
                this.SET_START_PATROL_NAME(true);
               this.barcodeChanged();
            },
            showTabs: function(data) {
                if(data!=undefined) {
                    this.additionalComponent = data.component;
                    this.isAdditionalEdit = data.isEdit;
                    if(data.index!=undefined) {
                        this.questionIndex = data.index;
                    }
                }
                this.isShowAdditionalList = false;
                if(this.list[this.curBarcode].additional.reminder==undefined) {
                    this.isShowAdditional = true;
                } else {
                    if(data!=undefined) {
                        this.isShowAdditional = true;
                    }
                }
            },
            showList: function() {
                this.isShowAdditional = false;
                this.isShowAdditionalList = true;
            },
            closeAdditional: function() {
                if (this.isBarcodeChanged(this.curBarcode) && this.curBarcodeId!=0) {
                    this.barcodeChanged();
                    this.updateBarcode(this.curBarcode);
                }
                this.isShowAdditional = false;
            },
            showAdditional: function() {
                if(!this.isAdditionalDisabled) {
                    if(this.additionalCount>0) {
                        this.isShowAdditionalList = true;
                    } else {
                        this.isShowAdditional = true;
                    }
                }
            },
            greenPromt: function (text) {
                this.greenPromtText = text;
                this.isAdditionalEdit = false;
                setTimeout(function (context) {
                    context.greenPromtText = '';
                }, 3000, this);
            },
            redPromt: function (text) {
                this.redPromtText = text;
                setTimeout(function (context) {
                    context.redPromtText = '';
                }, 3000, this);
            },
            validateAllowedSymbols: function (str) {
                var notAllowSymbolsAll = ['.', '---', '_', '[', ']', '{', '}', '*SYR*', '*syr*', '$$$', '&-&', '*END*', '*end*', ';'];
                var notAllowSymbols = [];

                if(str!=null) {
                    for (let i = 0; i < notAllowSymbolsAll.length; i++) {
                        if (str.indexOf(notAllowSymbolsAll[i]) >= 0) {
                            notAllowSymbols.push(notAllowSymbolsAll[i]);
                        }
                    }
                }

                return notAllowSymbols;
            },
            validate: function () {

//                if(this.$store.state.qr.list[this.curBarcode].facility_id==0) {
//                    this.isFacilityError = true;
//                    this.redPromt(this.$t('barcodes.facility_required'));
//                    return false;
//
//                } else {
//                    this.isFacilityError = false;
//                }

                if(this.curBarcodeName=='') {
                    this.isNameError = true;
                    this.redPromt(this.$t('barcodes.popups.barcode_name_required'));
                    return false;
                }

                var notAllowNameSymbols = this.validateAllowedSymbols(this.curBarcodeName);
                var notAllowLocationSymbols = this.validateAllowedSymbols(this.curBarcodeLocation);

                this.isNameError = (notAllowNameSymbols.length != 0);
                this.isLocationError = (notAllowLocationSymbols.length != 0);

                var notAllowSymbols = _.uniq(notAllowNameSymbols.concat(notAllowLocationSymbols));

                if (this.isNameError || this.isLocationError) {
                    this.redPromt(this.$t('barcodes.wrong_symbols') + " '" + notAllowSymbols.join("', '") + "'");
                    return false;
                }

                if(this.list.find((item, index) => index!=this.curBarcode && item.name == this.curBarcodeName.trim())!=undefined) {
                    this.redPromt(this.$t('barcodes.popups.barcode_name_used'));
                    this.isNameError = true;
                    return false;
                }

                return true;
            },
            saveCurBarcodeIfChanged: function () {

                if(this.curBarcode==0) {
                    this.SET_START_PATROL_NAME(this.askGuardsName);
                }
                if (this.curBarcodeId == 0) {
                    if(this.isNotEmptyBarcode) {
                        this.addBarcode(this.curBarcode);
                        this.savePoints();
                    }
//                } else if (this.$store.state.qr.listChanged[this.curBarcode] != undefined) {
                } else if (this.isBarcodeChanged(this.curBarcode)) {
                    this.updateBarcode(this.curBarcode);
                    this.savePoints();
                }
            },
            finish: async function() {
                let showList = false;
                if(this.curFacility.code!=0) {
                    if(this.curBarcodeName!='') {
                        if(this.validate()) {
                            await this.saveCurBarcodeIfChanged();
                            showList = true;
                        }
                    } else {
                        await this.deleteBarcode();
                        showList = true;
                    }
                }
                if(showList) {
                    this.$emit('show-list');

                    await this.listInit(this.curFacility.code).then( () => {
                        this.curBarcode = 0;
                        let facility = this.facilities.find(item => item.code == this.curFacility.code, this.curFacility.code);                        this.curFacility.name = facility.name;
                        this.curFacility.is_sayar = facility.is_sayar;
                        this.isShowAskGuardName = true;
                        // this.currentBarcodeInit();
                    });
                }

            },
            curPageInc: function () {
                if (this.hasNextPage) {
                    if (this.validate()) {
                        this.saveCurBarcodeIfChanged();
                        var modulo = this.curBarcode % 16;
                        this.curBarcode -= modulo;
                        this.curBarcode += 16;
                        this.currentBarcodeInit();
                    }
                }
            },
            curPageDec: function () {
                if (this.hasPrevPage) {
                    if (this.validate()) {
                        this.saveCurBarcodeIfChanged();
                        var modulo = this.curBarcode % 16;
                        this.curBarcode -= modulo;
                        this.curBarcode -= 16;
                        this.currentBarcodeInit();
                    }
                }

            },
            curBarcodeInc: function () {
                if (this.hasNextBarcode) {
                    if (this.validate()) {
                        this.saveCurBarcodeIfChanged();
                        if (this.isLastBarcode) {
                            this.ADD_EMPTY_BARCODE(this.curFacility);
                        }
                        this.curBarcode++;
                        this.currentBarcodeInit();
                    }
                }
            },
            curBarcodeDec: function () {
                if (this.hasPrevBarcode) {
                    if(this.curBarcodeName!='') {
                        if (this.validate()) {
                            this.saveCurBarcodeIfChanged();
                            this.curBarcode--;
                        }
                    } else {
                        this.curBarcode--;
                        this.validate();
                    }
                    this.currentBarcodeInit();
                }

            },
            showDelete: function () {
                if(this.canDelete) {
                    this.isShowDeletePopup=true;
                }
            },
            deleteBarcode: function() {
                let curBarcodeDec = this.list[this.curBarcode+1]==undefined && this.list[this.curBarcode-1]!=undefined;
                if (!curBarcodeDec && this.isLastBarcode) {
                    this.ADD_EMPTY_BARCODE(this.curFacility);
                }
                this.delBarcode(this.curBarcode);
                if(curBarcodeDec) {
                    this.curBarcode--;
                }
                this.isShowDeletePopup = false;
            },
            barcodeChanged: function() {
                this.updateCurrentBarcode(this.curBarcode).then(() => {
                    this.isShowCurrent = true;
                })
            },
            currentBarcodeInit: function() {
                if(this.isNotEmptyBarcode) {
                   this.updateCurrentBarcode(this.curBarcode).then(() => {
                        this.isShowCurrent = false;
                    })
                } else {
                    this.isShowCurrent = false;
                }
            },
            handleResize() {
                this.window.width = window.innerWidth;
                this.window.height = window.innerHeight;
            },
            ...mapActions('barcodes', ['listInit', 'facilitiesInit', 'updateBarcode', 'updateCurrentBarcode', 'addBarcode', 'delBarcode', 'savePoints']),
            ...mapMutations('barcodes', ['SET_CURBARCODE_NAME', 'SET_CURBARCODE_LOCATION', 'SET_CURBARCODE_FACILITY', 'ADD_EMPTY_BARCODE', 'CLEAR_LIST', 'SET_START_PATROL_NAME', 'DATA_SIZE_ERROR']),
//            ...mapGetters('barcodes', ['listCount']),
        }
    }
</script>

<style>

</style>
