<template>
    <v-container class="align-self-stretch align-content-start" fluid id="qr-list">
        <div class="container container--qr">
            <div class="qr-buttons content-qr">
                <div class="row row--bottom btn-row">
                    <div class="btn-col">
                        <a href="#" class="btn btn--gray" @click.prevent="printByPage('all')" v-show="pagesCount>1">
                            <span>{{ $t('barcodes.buttons.print_all') }}</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="18.065" height="18.065" viewBox="0 0 18.065 18.065"><g transform="translate(0.1 0.1)"><path d="M16.818,6.371V4.71a1.572,1.572,0,0,0-1.57-1.57h-.83L11.431.154l0,0A.525.525,0,0,0,11.069,0H3.664A.523.523,0,0,0,3.14.523V3.14H2.617a1.572,1.572,0,0,0-1.57,1.57v1.66A1.573,1.573,0,0,0,0,7.851V14.2a1.572,1.572,0,0,0,1.57,1.57H3.14v1.57a.523.523,0,0,0,.523.523H14.2a.523.523,0,0,0,.523-.523v-1.57h1.57a1.572,1.572,0,0,0,1.57-1.57V7.851A1.573,1.573,0,0,0,16.818,6.371ZM14.724,4.187h.523a.524.524,0,0,1,.523.523v1.57H14.724Zm-3.14-2.4L12.937,3.14H11.584Zm-7.4-.74h6.35V3.664a.523.523,0,0,0,.523.523h2.617V6.281H4.187ZM2.094,4.71a.524.524,0,0,1,.523-.523H3.14V6.281H2.094ZM13.678,16.818H4.187V11.584h9.491Zm3.14-2.617a.524.524,0,0,1-.523.523h-1.57v-3.14h.523a.523.523,0,1,0,0-1.047H2.617a.523.523,0,1,0,0,1.047H3.14v3.14H1.57a.524.524,0,0,1-.523-.523V7.851a.524.524,0,0,1,.523-.523H16.294a.524.524,0,0,1,.523.523Z" fill="#fff" stroke="#fff" stroke-width="0.2"/></g></svg>
                        </a>
                    </div>
                    <div class="btn-col">
                        <a :href="downloadLinkByPage('all')" class="btn btn--gray" v-show="pagesCount>1">
                            <span>{{ $t('barcodes.buttons.download_all') }}</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="14.601" height="15.574" viewBox="0 0 14.601 15.574"><g transform="translate(3.407)"><g transform="translate(0)"><path d="M135.741,7.1a.485.485,0,0,0-.443-.285h-1.947V.487A.487.487,0,0,0,132.865,0h-1.947a.487.487,0,0,0-.487.487V6.814h-1.947a.486.486,0,0,0-.366.807l3.407,3.894a.486.486,0,0,0,.732,0l3.407-3.894A.485.485,0,0,0,135.741,7.1Z" transform="translate(-127.998)" fill="#fff"/></g></g><g transform="translate(0 10.707)"><path d="M28.654,352v2.92H17.947V352H16v3.894a.973.973,0,0,0,.973.973H29.627a.972.972,0,0,0,.973-.973V352Z" transform="translate(-16 -352)" fill="#fff"/></g></svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="qr" :style="{width: pages.length*595 + 'px', left: -595*curPageDirection + 'px'}">
                <div class="col-qr" v-for="(page, pageIndex) in pages" v-bind:key="pageIndex">
                    <div class="content-qr">
                        <div class="qr-list">
                            <div class="qr-item" v-for="(barcode, index) in listByPage(page)" v-bind:key="index">
                                <table class="qr-table" @click.prevent="$emit('edit-barcode', page*16+index)">
                                    <tbody>
                                        <tr>
                                            <td class="qr-logo"><img src="/images/qr/logo.svg" /></td>
                                        </tr>
                                        <tr>
                                            <td class="qr-img"><img :src="'/qr/' + barcode.id" /></td>
                                        </tr>
                                        <tr>
                                            <td><div class="qr-line"></div></td>
                                        </tr>
                                        <tr>
                                            <td style=" height: 100%; max-height: 100px; text-align: left; vertical-align: middle; padding: 0 10px;">
                                                <table style="padding: 0; margin: 0 auto;border: none; vertical-align: top;">
                                                    <tbody>
                                                        <tr>
                                                                <td class="qr-icon"><img src="/images/qr/icon-1.svg" alt=""/></td>
                                                                <td style="padding-bottom: 5px;"><div class="two-lines">{{ barcode.facility.facility_name }}</div></td>
                                                        </tr>
                                                        <tr>
                                                                <td class="qr-icon"><img src="/images/qr/icon-2.svg" alt=""/></td>
                                                                <td style="padding-bottom: 5px;"><div class="two-lines">{{ barcode.name }}<template v-if="isLastBarcode(page, index)"> ({{ $t('barcodes.last') }})</template></div></td>
                                                        </tr>
                                                        <tr v-if="barcode.location!='' && barcode.location!=undefined">
                                                            <td class="qr-icon">
                                                                <img src="/images/qr/icon-3.svg" alt=""/>
<!--                                                                <svg xmlns="http://www.w3.org/2000/svg" width="17.959" height="25.541" viewBox="0 0 17.959 25.541">
                                                                    <g id="signs" transform="translate(0)">
                                                                      <g id="Group_514" data-name="Group 514">
                                                                        <g id="Group_513" data-name="Group 513">
                                                                          <path id="Path_1972" data-name="Path 1972" d="M84.979,0A8.981,8.981,0,0,0,77.34,13.7l7.128,11.487a.748.748,0,0,0,.636.354h.006a.748.748,0,0,0,.636-.364l6.946-11.6A8.981,8.981,0,0,0,84.979,0Zm6.429,12.812L85.093,23.356l-6.48-10.443a7.488,7.488,0,1,1,12.8-.1Z" transform="translate(-76)"/>
                                                                        </g>
                                                                      </g>
                                                                      <g id="Group_516" data-name="Group 516" transform="translate(4.49 4.49)">
                                                                        <g id="Group_515" data-name="Group 515">
                                                                          <path id="Path_1973" data-name="Path 1973" d="M170.49,90a4.49,4.49,0,1,0,4.49,4.49A4.495,4.495,0,0,0,170.49,90Zm0,7.493a3,3,0,1,1,3-3A3.005,3.005,0,0,1,170.49,97.493Z" transform="translate(-166 -90)"/>
                                                                        </g>
                                                                      </g>
                                                                    </g>
                                                                  </svg>-->
                                                            </td>
                                                                <td style="padding-bottom: 5px;"><div class="two-lines">{{ barcode.location }}</div></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                    </div>
                    <div class="btn-column">
                        <div class="btn-item">
                                <a href="#" class="btn btn--gray" @click.prevent="$emit('edit-barcode', page*16)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="23.18" height="23.181" viewBox="0 0 23.18 23.181">
                                                <g id="edit_1_" data-name="edit (1)" transform="translate(0.5 0.42)">
                                                        <path id="Path_547" data-name="Path 547" d="M20.3,50.836a.549.549,0,0,0-.548.551v4.889a1.649,1.649,0,0,1-1.643,1.652H2.739A1.649,1.649,0,0,1,1.1,56.276V41.926a1.65,1.65,0,0,1,1.643-1.652H7.6a.551.551,0,0,0,0-1.1H2.739A2.749,2.749,0,0,0,0,41.926v14.35a2.749,2.749,0,0,0,2.739,2.753h15.37a2.749,2.749,0,0,0,2.739-2.753v-4.89a.549.549,0,0,0-.548-.551Zm0,0" transform="translate(0 -36.769)" fill="#fff" stroke="#fff" stroke-width="1"/>
                                                        <path id="Path_548" data-name="Path 548" d="M122.973.987a2.478,2.478,0,0,0-3.5,0l-9.824,9.824a.551.551,0,0,0-.141.242l-1.292,4.664a.551.551,0,0,0,.678.678l4.664-1.292a.55.55,0,0,0,.242-.141l9.824-9.825a2.481,2.481,0,0,0,0-3.5ZM110.843,11.169l8.041-8.041,2.593,2.593-8.041,8.041Zm-.518,1.039L112.4,14.28l-2.866.794Zm12.515-7.85-.584.584-2.593-2.593.584-.584a1.377,1.377,0,0,1,1.947,0l.646.646A1.379,1.379,0,0,1,122.84,4.359Zm0,0" transform="translate(-102.343 0)" fill="#fff" stroke="#fff" stroke-width="1"/>
                                                </g>
                                        </svg>
                                </a>
                        </div>
                        <div class="btn-item" @click.prevent="printByPage(page)">
                                <a href="#" class="btn btn--gray">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="27.2" height="27.2" viewBox="0 0 27.2 27.2">
                                            <g id="technology_1_" data-name="technology (1)" transform="translate(0.1 0.1)">
                                              <g id="Group_448" data-name="Group 448">
                                                <g id="Group_447" data-name="Group 447">
                                                  <path id="Path_555" data-name="Path 555" d="M25.418,9.628V7.119a2.376,2.376,0,0,0-2.373-2.373H21.791L17.277.232l0,0A.793.793,0,0,0,16.729,0H5.537a.791.791,0,0,0-.791.791V4.746H3.955A2.376,2.376,0,0,0,1.582,7.119V9.628A2.377,2.377,0,0,0,0,11.865v9.6a2.376,2.376,0,0,0,2.373,2.373H4.746v2.373A.791.791,0,0,0,5.537,27H21.463a.791.791,0,0,0,.791-.791V23.836h2.373A2.376,2.376,0,0,0,27,21.463v-9.6A2.377,2.377,0,0,0,25.418,9.628Zm-3.164-3.3h.791a.792.792,0,0,1,.791.791V9.492H22.254ZM17.508,2.7l2.045,2.045H17.508ZM6.328,1.582h9.6V5.537a.791.791,0,0,0,.791.791h3.955V9.492H6.328ZM3.164,7.119a.792.792,0,0,1,.791-.791h.791V9.492H3.164Zm17.508,18.3H6.328v-7.91H20.672Zm4.746-3.955a.792.792,0,0,1-.791.791H22.254V17.508h.791a.791.791,0,1,0,0-1.582H3.955a.791.791,0,1,0,0,1.582h.791v4.746H2.373a.792.792,0,0,1-.791-.791v-9.6a.792.792,0,0,1,.791-.791H24.627a.792.792,0,0,1,.791.791Z" fill="#fff" stroke="#fff" stroke-width="0.2"/>
                                                </g>
                                              </g>
                                              <g id="Group_450" data-name="Group 450" transform="translate(7.91 19.09)">
                                                <g id="Group_449" data-name="Group 449">
                                                  <path id="Path_556" data-name="Path 556" d="M160.389,362h-9.6a.791.791,0,0,0,0,1.582h9.6a.791.791,0,0,0,0-1.582Z" transform="translate(-150 -362)" fill="#fff" stroke="#fff" stroke-width="0.2"/>
                                                </g>
                                              </g>
                                              <g id="Group_452" data-name="Group 452" transform="translate(7.91 22.254)">
                                                <g id="Group_451" data-name="Group 451">
                                                  <path id="Path_557" data-name="Path 557" d="M160.389,422h-9.6a.791.791,0,0,0,0,1.582h9.6a.791.791,0,0,0,0-1.582Z" transform="translate(-150 -422)" fill="#fff" stroke="#fff" stroke-width="0.2"/>
                                                </g>
                                              </g>
                                              <g id="Group_454" data-name="Group 454" transform="translate(3.164 12.656)">
                                                <g id="Group_453" data-name="Group 453">
                                                  <path id="Path_558" data-name="Path 558" d="M62.373,240H60.791a.791.791,0,0,0,0,1.582h1.582a.791.791,0,0,0,0-1.582Z" transform="translate(-60 -240)" fill="#fff" stroke="#fff" stroke-width="0.2"/>
                                                </g>
                                              </g>
                                            </g>
                                          </svg>
                                </a>
                        </div>
                        <div class="btn-item">
                                <a :href="downloadLinkByPage(page)" class="btn btn--gray">
                                        <svg id="multimedia-option" xmlns="http://www.w3.org/2000/svg" width="23.689" height="25.268" viewBox="0 0 23.689 25.268">
                                            <g id="Group_413" data-name="Group 413" transform="translate(5.527)">
                                              <g id="Group_412" data-name="Group 412" transform="translate(0)">
                                                <path id="Path_552" data-name="Path 552" d="M140.561,11.518a.788.788,0,0,0-.719-.463h-3.159V.79a.79.79,0,0,0-.79-.79h-3.159a.79.79,0,0,0-.79.79V11.055h-3.159a.789.789,0,0,0-.594,1.309l5.527,6.317a.788.788,0,0,0,1.188,0l5.527-6.317A.787.787,0,0,0,140.561,11.518Z" transform="translate(-127.998)" fill="#fff"/>
                                              </g>
                                            </g>
                                            <g id="Group_415" data-name="Group 415" transform="translate(0 17.372)">
                                              <g id="Group_414" data-name="Group 414">
                                                <path id="Path_553" data-name="Path 553" d="M36.531,352v4.738H19.159V352H16v6.317a1.579,1.579,0,0,0,1.579,1.579H38.11a1.578,1.578,0,0,0,1.579-1.579V352Z" transform="translate(-16 -352)" fill="#fff"/>
                                              </g>
                                            </g>
                                        </svg>
                                </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="qr-arrows">
                <a href="#" class="arrow-prev" @click.prevent="leftArrClick" :class="{ disabled: !isLeftActive }">
                    <svg xmlns="http://www.w3.org/2000/svg" width="44.323" height="80" viewBox="0 0 44.323 80">
                            <g id="arrow-point-to-right" transform="translate(140.961 79.5) rotate(180)">
                                    <path id="Path_7" data-name="Path 7" d="M138.9,43.411,106.224,77.379a5.178,5.178,0,0,1-7.527,0,5.688,5.688,0,0,1,0-7.823L127.613,39.5,98.7,9.444a5.689,5.689,0,0,1,0-7.824,5.18,5.18,0,0,1,7.527,0L138.9,35.589a5.687,5.687,0,0,1,0,7.822Z" fill="rgb(42, 49, 64)" stroke="#fff" stroke-width="1"/>
                            </g>
                    </svg>
                </a>
                <a href="#" class="arrow-next" @click.prevent="rightArrClick" :class="{ disabled: !isRightActive }">
                    <svg xmlns="http://www.w3.org/2000/svg" width="44.323" height="80" viewBox="0 0 44.323 80">
                            <g id="arrow-point-to-right" transform="translate(-96.639 0.5)">
                                    <path id="Path_7" data-name="Path 7" d="M138.9,43.411,106.224,77.379a5.178,5.178,0,0,1-7.527,0,5.688,5.688,0,0,1,0-7.823L127.613,39.5,98.7,9.444a5.689,5.689,0,0,1,0-7.824,5.18,5.18,0,0,1,7.527,0L138.9,35.589a5.687,5.687,0,0,1,0,7.822Z" fill="rgb(42, 49, 64)" stroke="#fff" stroke-width="1"/>
                            </g>
                    </svg>
                </a>
            </div>
        </div>
        <iframe :src='printLink' id="printframe" style="display: none;"></iframe>
    </v-container>
</template>

<script>

import { mapState } from 'vuex'

export default {
    name :     "BarcodesList",
    data :     () => ({
        curPage: 0,
        printLink: ''
    }),
    async created() {
    },
    computed: {
        direction: function() {
            return this.$vuetify.rtl ? 'rtl' : 'ltr';
        },
        curPageDirection: function() {
            return this.$vuetify.rtl ? -this.curPage : this.curPage;
        },
        isLeftActive: function() {
            return this.$vuetify.rtl ? this.hasNextPage : this.hasPrevPage;
        },
        isRightActive: function() {
            return this.$vuetify.rtl ? this.hasPrevPage : this.hasNextPage;
        },
        hasPrevPage: function() {
            return this.curPage>0;
        },
        hasNextPage: function() {
            return ((this.pages.length - this.curPage)>2);
        },
        pagesCount: function() {
            return Math.ceil(this.list.length / 16);
        },
        pages: function() {
            let result = [];
//            if(pagesCount==1) {
//                pagesCount = 2;
//            }
            for(let i=0; i<this.pagesCount; i++) {
                result.push(i);
            }
            return result;
        },
        facilityId: function() {
            return this.list[0].facility_id;
        },
        ...mapState('barcodes', ['list', 'maxPages']),
        ...mapState(['lang'])
    },
    methods: {
        leftArrClick: function() {
            if(this.$vuetify.rtl) {
                this.curPageInc();
            } else {
                this.curPageDec();
            }
        },
        rightArrClick: function() {
            if(this.$vuetify.rtl) {
                this.curPageDec();
            } else {
                this.curPageInc();
            }
        },
        curPageDec: function() {
            if(this.hasPrevPage) {
                this.curPage--;
            }
        },
        curPageInc: function() {
            if(this.hasNextPage) {
                this.curPage++;
            }
        },
        listByPage: function(page) {
            return this.list.slice(page*16, page*16+16);
        },
        isLastBarcode: function(page, index) {
            return this.list.length==(page*16+index+1);
        },
        downloadLinkByPage: function(page) {
            if(page!='all') {
                page++;
            }
            return '/barcodes/' + this.lang + '/download?facility_id=' + this.facilityId + '&page=' + page + '&direction=' + this.direction;
        },
        printByPage: function(page) {
            let date = new Date();

            if(page!='all') {
                page++;
            }

            this.printLink = '/barcodes/' + this.lang + '/?facility_id=' + this.facilityId + '&page=' + page + '&direction=' + this.direction + '&' + date.getTime();
        }
    }
}
</script>

<style>
#barcodes #qr-list {
    width: 1235px;
    height: 787px;
    max-width: none;
    max-height: none;
    padding-top: 0px;
}
#barcodes #qr-list > .container {
    height: 100%;
}
#barcodes .content-qr.qr-buttons {
    height: 48px;
}
#barcodes .content-qr.qr-buttons .row--bottom {
    height: 36px;
    margin: 0px auto;
    justify-content: left;
}
#barcodes .qr-buttons .btn-row .btn-col {
    width: 500px;
    /*min-width: 780px;*/
}
.v-application--is-ltr #barcodes .qr-buttons .btn-col {
    /*padding-right: 4%;*/
    /*padding-left: 0px;*/
}
.v-application--is-ltr #barcodes .qr-buttons .btn-row .btn-col:first-child {
    /*width: 500px;*/
}
.v-application--is-ltr #barcodes .qr-buttons .btn-row .btn-col:last-child {
    margin-left: 100px;
}
.v-application--is-rtl #barcodes .qr-buttons .btn-row .btn-col:last-child {
    margin-right: 100px;
}
#barcodes .col-qr .content-qr {
    height: 100%;
    width: 500px;
}
#barcodes #qr-list .btn-col {
    max-width: none;
}
#barcodes .content-qr .btn.btn--gray {
    height: 100%;
    font-size: 16px;
    line-height: 14px;
    padding: 5px 25px;
    margin: auto;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    white-space: nowrap;
    width: 206px;
}
#barcodes .content-qr .row--bottom .btn-col:last-child .btn.btn--gray {
    /*width: 190px;*/
    padding: 5px 20px;
}
.v-application--is-ltr #barcodes #qr-list .row--bottom .btn span {
    padding: 0 15px 0 0;
}
.v-application--is-rtl #barcodes #qr-list .row--bottom .btn span {
    padding: 0 0 0 15px;
}
#barcodes #qr-list .row--bottom .btn svg {
    height: 14px;
}
#barcodes #qr-list .row--bottom .btn-col:last-child .btn svg {
    height: 19px;
}
#barcodes .content-qr .row--bottom {
    margin: 15px auto;
}
#barcodes .content-qr {
    display: block;
}
#barcodes .col-qr {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 24px;
}
#barcodes #qr-list .col-qr {
    padding: 0;
    width: 560px;
    margin-right: 35px;
}
#barcodes .btn-column {
    width: 54px;
    padding-top: 78px;
}
.v-application--is-ltr #barcodes .btn-column {
    margin-left: 10px;
}
.v-application--is-rtl #barcodes .btn-column {
    margin-right: 10px;
}
#barcodes .qr-list{
	width:100%;
        height: calc(100% - 2px);
	padding: 0px 12px;
	margin-bottom: 15px;
	border: 2px solid #707070;
	text-align: center;
	box-sizing: border-box;
	font-size: 10px;
}
#barcodes #qr-list .qr-item{
	width: 25%;
	height: calc(25% - 3px);
	padding: 0px 2.5px;
        margin-top: 2px;
	float: left;
	box-sizing: border-box;
	font-size: 8px;
	line-height: 8px;
        cursor: pointer;
}
#barcodes .qr-table{
	width:100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border: 1.5px solid #000;
}
#barcodes .qr-table td{
	padding: 0;
}
#barcodes .qr-logo img{
	height: 15px;
	margin: 8px auto;
}
#barcodes .qr-img img{
	margin: 0;
}
#barcodes .qr-line{
	height: 0;
	border-top: 1.5px solid #000;
	margin: 12px 10px 4px;
}
#barcodes .qr-icon{
	width: 15px;
	text-align: center;
	vertical-align: top;
}
#barcodes .qr-icon img{
	height: 10px;
	margin: 0;
}
#barcodes .btn-item .btn.btn--gray {
    height: 48px;
    width: 54px;
    padding: 10px 17px;
}
#barcodes .btn-item .btn:hover path {
    stroke: rgb(42, 49, 64);
}
#barcodes .btn-item + .btn-item {
    margin-top: 48px;
}
#barcodes .btn-item .btn svg {
    max-width: none;
    max-height: none;
    width: 18px;
}
#barcodes .qr {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
/*    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;*/
    -webkit-justify-content: left;
    -ms-flex-pack: left;
    justify-content: left;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    position: relative;
    transition: left 1s;
    height: 730px;
    /*overflow: hidden;*/
}
#barcodes .qr-arrows > a {
    position: fixed;
    top: 50%;
}
#barcodes .qr-arrows .disabled {
    cursor: default;
}
#barcodes .qr-arrows .disabled path {
    fill: #8f8f94;
}
#barcodes #qr-list .qr-item > table {
    transition: transform .3s;
    background: #fff;
    z-index: 3;
    position: relative;
}
#barcodes #qr-list .qr-table:hover {
    transform: scale(1.5);
    z-index: 4;
    box-shadow: 0px 3px 5px 0px rgba(51, 51, 51, 0.35);
}
#barcodes #qr-list .qr-item:nth-child(n+13) .qr-table:hover {
    top: -40px;
}
@media (max-width: 1365px) {
    #barcodes #qr-list {
        width: 1000px;
        padding: 0px;
    }
    #barcodes #qr-list > .container {
        padding: 0px;
    }
    #barcodes .content-qr.qr-buttons {
        height: 33px;
    }
    #barcodes .content-qr.qr-buttons .row--bottom {
        height: 27px;
    }
    #barcodes .qr-buttons .btn-row .btn-col {
        width: 355px;
    }
    .v-application--is-ltr #barcodes .qr-buttons .btn-row .btn-col:last-child {
        margin-left: 70px;
    }
    .v-application--is-rtl #barcodes .qr-buttons .btn-row .btn-col:last-child {
        margin-right: 70px;
    }
    #barcodes .col-qr .content-qr {
        width: 355px;
    }
    #barcodes .content-qr .btn.btn--gray {
        font-size: 12px;
        line-height: 10px;
        padding: 5px 19px;
        /*width: 117px;*/
    }
    #barcodes .content-qr .row--bottom .btn-col:last-child .btn.btn--gray {
        width: 135px;
        padding: 5px 11px;
    }
    .v-application--is-ltr #barcodes #qr-list .row--bottom .btn span {
        padding: 0 10px 0 0;
    }
    .v-application--is-rtl #barcodes #qr-list .row--bottom .btn span {
        padding: 0 0 0 10px;
    }
    #barcodes #qr-list .row--bottom .btn svg {
        height: 13px;
    }
    #barcodes #qr-list .row--bottom .btn-col:last-child .btn svg {
        height: 13px;
    }
    #barcodes .col-qr {
        /*padding: 0 24px;*/
    }
    #barcodes #qr-list .col-qr {
        width: 400px;
        margin-right: 25px;
    }
    #barcodes .btn-column {
        width: 38px;
        padding-top: 0px;
    }
    .v-application--is-ltr #barcodes .btn-column {
        margin-left: 8px;
    }
    .v-application--is-rtl #barcodes .btn-column {
        margin-right: 8px;
    }
    #barcodes .qr-list{
            width:100%;
            height: calc(100% - 2px);
            padding: 0px 8px;
            margin-bottom: 10px;
    }
    #barcodes #qr-list .qr-item{
            font-size: 7px;
            line-height: 7px;
    }
    #barcodes .qr-logo img{
            height: 10px;
            margin: 6px auto;
    }
    #barcodes .qr-line{
            margin: 4px 7px;
    }
    #barcodes .qr-icon{
            width: 6px;
    }
    #barcodes .qr-icon img{
            height: 6px;
            margin: 0;
    }
    #barcodes .btn-item .btn.btn--gray {
        height: 34px;
        width: 38px;
        padding: 3px 10px;
    }
    #barcodes .btn-item + .btn-item {
        margin-top: 38px;
    }
    #barcodes .btn-item .btn svg {
        width: 12px;
    }
    #barcodes .qr {
        height: 523px;
    }
    #barcodes #qr-list .qr-item:nth-child(n+13) .qr-table:hover {
        top: -30px;
    }
    .qr-table table tr td:last-child {
        padding-bottom: 3px!important;
    }
    #barcodes #qr-list .qr-item img {
        max-width: none;
    }
    #barcodes #qr-list .qr-item .qr-img img {
        max-width: 61%;
    }
}

@media (max-width: 1599px) {
    nav.v-navigation-drawer--open+header+main.v-main #barcodes #qr-list {
        width: 875px;
        padding: 0px;
    }
    nav.v-navigation-drawer--open+header+main.v-main #barcodes #qr-list > .container {
        padding: 0px;
    }
    nav.v-navigation-drawer--open+header+main.v-main #barcodes .content-qr.qr-buttons {
        height: 33px;
    }
    nav.v-navigation-drawer--open+header+main.v-main #barcodes .content-qr.qr-buttons .row--bottom {
        height: 27px;
    }
    nav.v-navigation-drawer--open+header+main.v-main #barcodes .qr-buttons .btn-row .btn-col {
        width: 355px;
    }
    .v-application--is-ltr nav.v-navigation-drawer--open+header+main.v-main #barcodes .qr-buttons .btn-row .btn-col:last-child {
        margin-left: 70px;
    }
    nav.v-navigation-drawer--open+header+main.v-main #barcodes .col-qr .content-qr {
        width: 355px;
    }
    nav.v-navigation-drawer--open+header+main.v-main #barcodes .content-qr .btn.btn--gray {
        font-size: 12px;
        line-height: 10px;
        padding: 5px 19px;
        /*width: 117px;*/
    }
/*    #barcodes .content-qr .row--bottom .btn-col:last-child .btn.btn--gray {
        width: 135px;
        padding: 5px 11px;
    }*/
    .v-application--is-ltr nav.v-navigation-drawer--open+header+main.v-main #barcodes #qr-list .row--bottom .btn span {
        padding: 0 10px 0 0;
    }
    .v-application--is-rtl nav.v-navigation-drawer--open+header+main.v-main #barcodes #qr-list .row--bottom .btn span {
        padding: 0 0 0 10px;
    }
    nav.v-navigation-drawer--open+header+main.v-main #barcodes #qr-list .row--bottom .btn svg {
        height: 13px;
    }
    nav.v-navigation-drawer--open+header+main.v-main #barcodes #qr-list .row--bottom .btn-col:last-child .btn svg {
        height: 13px;
    }
    nav.v-navigation-drawer--open+header+main.v-main #barcodes .col-qr {
        /*padding: 0 24px;*/
    }
    nav.v-navigation-drawer--open+header+main.v-main #barcodes #qr-list .col-qr {
        width: 400px;
        margin-right: 25px;
    }
    nav.v-navigation-drawer--open+header+main.v-main #barcodes .btn-column {
        width: 38px;
        padding-top: 0px;
    }
    .v-application--is-ltr nav.v-navigation-drawer--open+header+main.v-main #barcodes .btn-column {
        margin-left: 8px;
    }
    .v-application--is-rtl nav.v-navigation-drawer--open+header+main.v-main #barcodes .btn-column {
        margin-right: 8px;
    }
    nav.v-navigation-drawer--open+header+main.v-main #barcodes .qr-list{
            width:100%;
            height: calc(100% - 2px);
            padding: 0px 8px;
            margin-bottom: 10px;
    }
    nav.v-navigation-drawer--open+header+main.v-main #barcodes #qr-list .qr-item{
            font-size: 7px;
            line-height: 7px;
    }
    nav.v-navigation-drawer--open+header+main.v-main #barcodes .qr-logo img{
            height: 10px;
            margin: 6px auto;
    }
    nav.v-navigation-drawer--open+header+main.v-main #barcodes .qr-line{
            margin: 4px 7px;
    }
    nav.v-navigation-drawer--open+header+main.v-main #barcodes .qr-icon{
            width: 10px;
    }
    nav.v-navigation-drawer--open+header+main.v-main #barcodes .qr-icon img{
            height: 6px;
            margin: 0;
    }
    nav.v-navigation-drawer--open+header+main.v-main #barcodes .btn-item .btn.btn--gray {
        height: 34px;
        width: 38px;
        padding: 3px 10px;
    }
    nav.v-navigation-drawer--open+header+main.v-main #barcodes .btn-item + .btn-item {
        margin-top: 38px;
    }
    nav.v-navigation-drawer--open+header+main.v-main #barcodes .btn-item .btn svg {
        width: 12px;
    }
    nav.v-navigation-drawer--open+header+main.v-main #barcodes .qr {
        height: 523px;
    }
    nav.v-navigation-drawer--open+header+main.v-main #barcodes #qr-list .qr-item:nth-child(n+13) .qr-table:hover {
        top: -30px;
    }
    nav.v-navigation-drawer--open+header+main.v-main .qr-table table tr td:last-child {
        padding-bottom: 3px!important;
    }
    nav.v-navigation-drawer--open+header+main.v-main #barcodes #qr-list .qr-item img {
        max-width: none;
    }
    nav.v-navigation-drawer--open+header+main.v-main #barcodes #qr-list .qr-item .qr-img img {
        max-width: 61%;
    }
}
</style>
