<template>
    <v-container class="align-self-stretch align-content-start" fluid id="qr-questionlist">
    <div class="container" style="max-height: unset;">
        <div class="check-list">							
            <div class="form__elem" v-for="(question, index) in questions(curBarcode)" v-bind:key="index">
                <div class="form__input">
                    <div class="row">
                        <div class="col col--input">
                            <input v-model="selectedQuestions" :value="question" type="checkbox" :id="'checkbox-'+question.type+'-'+question.index" class="checkbox"><label :for="'checkbox-'+question.type+'-'+question.index" class="checkbox-label">{{ $t('barcodes.' + question.type) }}</label>
                        </div>
                        <div class="col col--text"><span>{{ question.text }}</span></div>
                        <div class="col col--btn">
                            <div class="row">
                                <div class="input__btn">
                                    <a href="#" class="edit" @click.prevent="editQuestion(question)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="47" height="47" viewBox="0 0 47 47">
                                                <g id="edit_1_" data-name="edit (1)" transform="translate(0.5 0.239)">
                                                        <path id="Path_547" data-name="Path 547" d="M42.444,63.559A1.148,1.148,0,0,0,41.3,64.711V74.934a3.449,3.449,0,0,1-3.436,3.454H5.727a3.449,3.449,0,0,1-3.436-3.454v-30a3.449,3.449,0,0,1,3.436-3.454H15.9a1.151,1.151,0,0,0,0-2.3H5.727A5.748,5.748,0,0,0,0,44.929V74.935a5.748,5.748,0,0,0,5.727,5.757H37.863a5.748,5.748,0,0,0,5.727-5.757V64.711a1.148,1.148,0,0,0-1.145-1.151Zm0,0" transform="translate(0 -34.431)" stroke="#000" stroke-width="1"/>
                                                        <path id="Path_548" data-name="Path 548" d="M139.1,1.778a5.181,5.181,0,0,0-7.328,0L111.229,22.32a1.151,1.151,0,0,0-.3.507l-2.7,9.752A1.151,1.151,0,0,0,109.649,34l9.752-2.7a1.151,1.151,0,0,0,.507-.3L140.45,10.457a5.187,5.187,0,0,0,0-7.328ZM113.738,23.069,130.55,6.256l5.422,5.422L119.159,28.491Zm-1.083,2.173,4.332,4.332-5.992,1.66ZM138.822,8.829,137.6,10.05l-5.422-5.422L133.4,3.407a2.878,2.878,0,0,1,4.07,0l1.352,1.351A2.883,2.883,0,0,1,138.822,8.829Zm0,0" transform="translate(-95.965 0)" stroke="#000" stroke-width="1"/>
                                                </g>
                                        </svg>
                                    </a>
                                </div>
                                <div class="input__btn">
                                    <a href="#" class="remove" @click.prevent="showPopup(question)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="39.596" height="39.596" viewBox="0 0 39.596 39.596">
                                                <path id="close_1_" data-name="close (1)" d="M38.181,2.25,35.932,0,19.091,16.841,2.25,0,0,2.25,16.841,19.091,0,35.932l2.25,2.25L19.091,21.34,35.932,38.181l2.25-2.25L21.34,19.091Z" transform="translate(0.707 0.707)" fill="#f83131" stroke="#f83131" stroke-width="1"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>							
        </div>
    </div>
    <div class="container">
        <div class="row row--bottom btn-row row-center">
            <div class="btn-col">
                <a href="#" class="btn btn--gray" @click.prevent="$emit('show-tabs')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="13.407" height="23.408" viewBox="0 0 13.407 23.408" class="back-icon">
                            <path id="Path_7" data-name="Path 7" d="M11.846,12.313,2.577,21.948a1.469,1.469,0,0,1-2.135,0,1.613,1.613,0,0,1,0-2.219l8.2-8.525L.442,2.679A1.614,1.614,0,0,1,.442.46a1.469,1.469,0,0,1,2.135,0l9.269,9.635a1.613,1.613,0,0,1,0,2.219Z" fill="#fff" stroke="#fff" stroke-width="1"/>
                    </svg>
                    <span>{{ $t('barcodes.buttons.back') }}</span>
                </a>
            </div>
            <div class="btn-col" v-if="selectedQuestions.length>0">
                <a href="#" class="btn btn--gray" @click.prevent="showPopupMulti">
                    <svg xmlns="http://www.w3.org/2000/svg" width="72.125" height="72.125" viewBox="0 0 72.125 72.125">
                            <g id="Group_398" data-name="Group 398" transform="translate(-824 -3330)">
                            <rect id="Rectangle_38" data-name="Rectangle 38" width="13" height="89" rx="6.5" transform="translate(886.932 3330) rotate(45)" fill="#fff"/>
                            <rect id="Rectangle_39" data-name="Rectangle 39" width="13" height="89" rx="6.5" transform="translate(896.125 3392.933) rotate(135)" fill="#fff"/>
                            </g>
                    </svg>
                    <span>{{ $t('barcodes.buttons.delete') }}</span>
                </a>
            </div>
        </div>
    </div>
    <div class="popup" v-if="isShowPopup">
        <div class="popup-block">
            <div class="popup-wrapper" style="width: 550px; text-align: center;">
                <div class="popup-content">
                    <div class="popup-text"><span>{{ $t('barcodes.popups.sure') }}</span></div>
                    <div class="row row--bottom btn-row row-center">
                        <div class="btn-col btn-cancel">
                            <a href="#" class="btn btn--gray" @click.prevent="isShowPopup=false">
                                <span>{{ $t('barcodes.buttons.no') }}</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="72.125" height="72.125" viewBox="0 0 72.125 72.125">
                                        <g id="Group_398" data-name="Group 398" transform="translate(-824 -3330)">
                                        <rect id="Rectangle_38" data-name="Rectangle 38" width="13" height="89" rx="6.5" transform="translate(886.932 3330) rotate(45)" fill="#e66b6b"/>
                                        <rect id="Rectangle_39" data-name="Rectangle 39" width="13" height="89" rx="6.5" transform="translate(896.125 3392.933) rotate(135)" fill="#e66b6b"/>
                                        </g>
                                </svg>
                            </a>
                        </div>	
                        <div class="btn-col">
                            <a href="#" class="btn btn--gray" @click.prevent="deleteQuestions">
                                <span>{{ $t('barcodes.buttons.yes') }}</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="85.542" height="63.768" viewBox="0 0 85.542 63.768">
                                        <path id="checked_3_" data-name="checked (3)" d="M.987,38.072a3.017,3.017,0,0,1,0-4.464l4.606-4.464a3.251,3.251,0,0,1,4.606,0l.329.319,18.1,18.812a1.625,1.625,0,0,0,2.3,0L75.014,3.957h.329a3.251,3.251,0,0,1,4.606,0L84.555,8.42a3.017,3.017,0,0,1,0,4.464h0L31.914,65.811a3.251,3.251,0,0,1-4.606,0L1.645,39.029l-.658-.957Z" transform="translate(0 -3)" fill="#75db78"/>
                                </svg>
                            </a>
                        </div>						
                    </div>
                </div>
            </div>
        </div>
    </div>
    </v-container>
</template>
<script>
    import { mapGetters, mapMutations, mapState } from 'vuex'
    import BarcodesOpenQuestion from './BarcodesOpenQuestion'
    import BarcodesPredefinedQuestion from './BarcodesPredefinedQuestion'
    
    export default {
       name: "BarcodesQuestionsList",
       props: ['curBarcode'],
       data :     () => ({
           isShowPopup: false,
           question: null,
           selectedQuestions: [],
           isMultiDelete: false
        }),
       computed: {
           reminderText: function() {
               return this.list[this.curBarcode].additional.reminder;
           },
           ...mapGetters('barcodes', ['questions'])
       },
       methods: {
           showPopup: function(question) {
               this.isMultiDelete = false;
               this.question = question;
               this.isShowPopup = true;
           },
           showPopupMulti: function() {
               this.isMultiDelete = true;
               this.isShowPopup = true;
           },
           editQuestion: function(question) {
               this.isShowPopup = false;
               let data = {index: question.index, isEdit: true};
               if(question.type=='open_question') {
                   data.component = BarcodesOpenQuestion;
               } else {
                   data.component = BarcodesPredefinedQuestion;
               }
               this.$emit('show-tabs', data);
           },
           deleteQuestions: function() {
               if(this.isMultiDelete) {
                   this.multiDeleteQuestions();
               } else {
                   this.deleteOneQuestion();
               }
               this.isShowPopup = false;
               this.SET_CURBARCODE_CHANGED(this.curBarcode);
           },
           deleteOneQuestion: function() {
               this.DELETE_QUESTION({
                   index: this.curBarcode,
                   question: this.question
               });
           },
           multiDeleteQuestions: function() {
               this.selectedQuestions.forEach(question => {
                   this.DELETE_QUESTION({
                        index: this.curBarcode,
                        question: question
                    });
               }, this);               
           },
           ...mapState('barcodes', ['list']),
           ...mapMutations('barcodes', ['DELETE_QUESTION', 'SET_CURBARCODE_CHANGED'])
        }
    }
</script>
