<template>
    <v-container class="align-self-stretch align-content-start" :class="{predefined: isPredefinedQuestion}" fluid id="qr-additional">
    <header class="header">
        <div class="container">
            <div class="header-text text--center">{{ $t('barcodes.additions') }}<template v-if="haveAdditional"> ({{ $tc('barcodes.additions_count', additionalCount) }})</template></div>
        </div>
    </header>

    <div class="content">
        <div class="container">
            <div class="btn-row row btn-row--top">
                <div class="btn-col"><a href="#" class="btn btn--gray" :class="{ disabled: !haveAdditional }" @click.prevent="showList"><span>{{ $t('barcodes.edit_additions') }}</span></a></div>
                <div class="btn-col"><a href="#" class="btn btn--gray" :class="{active: isOpenQuestion}" @click.prevent="showWarning(showOpenQuestion)"><span>{{ $t('barcodes.open_question') }}</span></a></div>
                <div class="btn-col"><a href="#" class="btn btn--gray" :class="{active: isPredefinedQuestion}" @click.prevent="showWarning(showPredefined)"><span>{{ $t('barcodes.predefined_question') }}</span></a></div>
                <div class="btn-col"><a href="#" class="btn btn--gray" :class="{active: isReminder}" @click.prevent="showWarning(showReminder)"><span>{{ $t('barcodes.notification') }}</span></a></div>
            </div>
            <keep-alive>
                <component v-bind:is="currentComponent" :questionIndex="questionIndex" :isEdit="isEdit" :isEditOff="isEditOff" :curBarcode="curBarcode" :validateAllowedSymbols="validateAllowedSymbols" @added="additionalAdded" @exit="$emit('exit')" @red-promt="$emit('red-promt', $event)" @green-promt="$emit('green-promt', $event)"></component>
            </keep-alive>
            <div class="popup" v-if="isWarning">
                <div class="popup-block">
                    <div class="popup-wrapper">
                        <div class="popup-content">
                            <div class="popup-text">{{ isReminder ? $t('barcodes.popups.reminder_to_questions') : $t('barcodes.popups.questions_to_reminder') }}</div>
                            <div class="row row--bottom btn-row row-center">
                                <div class="btn-col btn-cancel">
                                    <a href="#" class="btn btn--gray" @click.prevent="closeWarning">
                                        <span>{{ $t('barcodes.buttons.no') }}</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="72.125" height="72.125" viewBox="0 0 72.125 72.125">
                                                <g id="Group_398" data-name="Group 398" transform="translate(-824 -3330)">
                                                <rect id="Rectangle_38" data-name="Rectangle 38" width="13" height="89" rx="6.5" transform="translate(886.932 3330) rotate(45)" fill="#e66b6b"/>
                                                <rect id="Rectangle_39" data-name="Rectangle 39" width="13" height="89" rx="6.5" transform="translate(896.125 3392.933) rotate(135)" fill="#e66b6b"/>
                                                </g>
                                        </svg>
                                    </a>
                                </div>	
                                <div class="btn-col">
                                    <a href="#" class="btn btn--gray" @click.prevent="nextComponent">
                                        <span>{{ $t('barcodes.buttons.yes') }}</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="85.542" height="63.768" viewBox="0 0 85.542 63.768">
                                                <path id="checked_3_" data-name="checked (3)" d="M.987,38.072a3.017,3.017,0,0,1,0-4.464l4.606-4.464a3.251,3.251,0,0,1,4.606,0l.329.319,18.1,18.812a1.625,1.625,0,0,0,2.3,0L75.014,3.957h.329a3.251,3.251,0,0,1,4.606,0L84.555,8.42a3.017,3.017,0,0,1,0,4.464h0L31.914,65.811a3.251,3.251,0,0,1-4.606,0L1.645,39.029l-.658-.957Z" transform="translate(0 -3)" fill="#75db78"/>
                                        </svg>
                                    </a>
                                </div>						
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>       
    </div>
    </v-container>
</template>
<script>
    import { mapMutations } from 'vuex'
    import BarcodesOpenQuestion from './BarcodesOpenQuestion'
    import BarcodesPredefinedQuestion from './BarcodesPredefinedQuestion'
    import BarcodesReminder from './BarcodesReminder'
    
    export default {
        name: "BarcodesAdditional",
        props: ['curBarcode', 'validateAllowedSymbols', 'component', 'isEdit', 'questionIndex'],
        data :     () => ({
            currentComponent: BarcodesOpenQuestion,
            nextComponent: null,
            isWarning: false,
            isEditOff: false,
            isAdditionAdded: false
        }),
        created() {
            if(this.component!=null) {
                this.currentComponent = this.component;
            }
        },
        computed: {
            haveAdditional: function () {
                return this.additionalCount>0 || this.isAdditionAdded;
            },
            additionalCount: function() {
//                console.log(this.component);
                return this.$store.getters['barcodes/additionalCount'](this.curBarcode);
            },
            isOpenQuestion: function() { 
                return this.currentComponent==BarcodesOpenQuestion;
            },
            isPredefinedQuestion: function() {
                return this.currentComponent==BarcodesPredefinedQuestion;
            },
            isReminder: function() {
                return this.currentComponent==BarcodesReminder;
            },
        },
        methods: {
            showList: function() {
                if(this.haveAdditional) {
                    this.$emit('show-list');
                }
            },
            closeWarning: function() {
                this.isWarning = false;
            },
            showWarning: function(changeFunction) {
                this.isEditOff = true;
                if(changeFunction==this.showReminder || this.currentComponent==BarcodesReminder) {
                    this.isWarning = true;
                    this.nextComponent = changeFunction;
                } else {
                    changeFunction();
                }                   
            },
            showOpenQuestion: function() {
                if(this.currentComponent==BarcodesReminder) {
                    this.CLEAR_ADDITIONAL(this.curBarcode);
                    this.OQ_INIT(this.curBarcode);
                }
                this.currentComponent = BarcodesOpenQuestion;
                this.closeWarning();
            },
            showPredefined: function() {
                if(this.currentComponent==BarcodesReminder) {
                    this.CLEAR_ADDITIONAL(this.curBarcode);
                    this.PQ_INIT(this.curBarcode);
                }
                this.currentComponent = BarcodesPredefinedQuestion;
                this.closeWarning();
            },
            showReminder: function() {
                if(this.currentComponent==BarcodesOpenQuestion || this.currentComponent==BarcodesPredefinedQuestion) {
                    this.CLEAR_ADDITIONAL(this.curBarcode);
                    this.REMINDER_INIT(this.curBarcode);
                }
                this.currentComponent = BarcodesReminder;
                this.closeWarning();
            },
            additionalAdded: function() {
                this.isAdditionAdded=true;
                this.$emit('additional-added');
            },
            ...mapMutations('barcodes', ['CLEAR_ADDITIONAL', 'REMINDER_INIT', 'OQ_INIT', 'PQ_INIT']),
        }
    }
</script>