<template>
    <v-container class="align-self-stretch align-content-start" fluid id="qr-openquestion">
    <form action="">							
        <div class="form__elem">
                <textarea v-model.trim="question" rows="3" class="form__input" :class="{wrong: isQuestionError}" :placeholder="$t('barcodes.open_question_placeholder')"></textarea>
        </div>
        <div class="form__elem">
                <input v-model.trim="hint" type="text" class="form__input" :class="{wrong: isHintError}" :placeholder="$t('barcodes.open_question_hint_placeholder')"/>
        </div>
    </form>

    <div class="row row--bottom btn-row row-center">
        <div class="btn-col">
                <a href="#" class="btn btn--gray btn--additional" @click="saveExit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="33.529" height="33.53" viewBox="0 0 33.529 33.53">
                            <g id="technology" transform="translate(0 0.001)">
                              <g id="Group_23" data-name="Group 23" transform="translate(0 -0.001)">
                                <g id="Group_22" data-name="Group 22" transform="translate(0 0)">
                                  <path id="Path_8" data-name="Path 8" d="M256.763,30.479h3.048a.762.762,0,0,0,.762-.762V22.1a.762.762,0,0,0-.762-.762h-3.048A.762.762,0,0,0,256,22.1v7.62A.762.762,0,0,0,256.763,30.479Z" transform="translate(-237.712 -19.811)" fill="#fff"/>
                                  <path id="Path_9" data-name="Path 9" d="M33.306,6.319l-6.1-6.1a.762.762,0,0,0-1.3.539v9.906a3.052,3.052,0,0,1-3.048,3.048H9.144A3.052,3.052,0,0,1,6.1,10.668V.762A.762.762,0,0,0,5.334,0H3.048A3.052,3.052,0,0,0,0,3.048V30.481a3.052,3.052,0,0,0,3.048,3.048H30.481a3.052,3.052,0,0,0,3.048-3.048V6.858A.761.761,0,0,0,33.306,6.319ZM28.957,31.243a.762.762,0,0,1-.762.762H5.334a.762.762,0,0,1-.762-.762V17.526a.762.762,0,0,1,.762-.762H28.2a.762.762,0,0,1,.762.762Z" transform="translate(0 0.001)" fill="#fff"/>
                                </g>
                              </g>
                            </g>
                          </svg>
                        <span>{{ $t('barcodes.buttons.save_all') }}</span>
                </a>
        </div>
        <div class="btn-col">
                <a href="#" class="btn btn--gray btn--additional" @click.prevent="addOrSave">								
                        <b>+</b><span>{{ isEdit && !isEditOff ? $t('barcodes.buttons.save') : $t('barcodes.buttons.add') }}</span>
                </a>
        </div>
    </div>
    </v-container>
</template>
<script>
    import { mapMutations, mapGetters, mapState } from 'vuex'
    import _ from 'lodash'
    
    export default {
        name: "BarcodesOpenQuestion",
        props: ['curBarcode', 'validateAllowedSymbols', 'isEdit', 'isEditOff', 'questionIndex'],
        data :     () => ({
            question: '',
            hint: '',
            isQuestionError: false,
            isHintError: false,
//            currentQuestion : 0
        }),
        created: function() {
            if(this.isEdit && !this.isEditOff) {
                this.question = this.list[this.curBarcode].additional.open_questions[this.questionIndex].question;
                this.hint = this.list[this.curBarcode].additional.open_questions[this.questionIndex].hint;
            } else {
                this.OQ_INIT(this.curBarcode);
            }           
        },
        computed: {
//            curQuestion: {
//                get() {
//                    if (this.hasOpenQuestions(this.curBarcode)) {
//                        return this.$store.state.qr.list[this.curBarcode].additional.open_questions[this.currentQuestion].question;
//                    } else {
//                        return ''
//                    }
//                },
//                set(value) {
//                    this.SET_CURBARCODE_OQ_QUESTION({
//                        curBarcode: this.curBarcode,
//                        currentQuestion: this.currentQuestion,
//                        value: value
//                    });
//                    console.log(this.$store.state.qr.list[this.curBarcode]);
//                }
//            },
//            curHint: {
//                get() {
//                    if (this.hasOpenQuestions(this.curBarcode)) {
//                        return this.$store.state.qr.list[this.curBarcode].additional.open_questions[this.currentQuestion].hint;
//                    } else {
//                        return ''
//                    }
//                },
//                set(value) {
//                    this.SET_CURBARCODE_OQ_HINT({
//                        curBarcode: this.curBarcode,
//                        currentQuestion: this.currentQuestion,
//                        value: value
//                    })
//                }
//            },
            ...mapState('barcodes', ['list']),
            ...mapGetters('barcodes', ['hasOpenQuestions', 'isQuestionExist'])
        },
        methods: {
            validate: function() {
                if(this.question=='') {
                    this.$emit('red-promt', this.$t('barcodes.popups.question_text_required'));
                    this.isQuestionError = true;
                    return false;
                }
                
                var notAllowQuestionSymbols = this.validateAllowedSymbols(this.question);
                var notAllowHintSymbols = this.validateAllowedSymbols(this.hint);

                this.isQuestionError = (notAllowQuestionSymbols.length != 0);
                this.isHintError = (notAllowHintSymbols.length != 0);

                var notAllowSymbols = _.uniq(notAllowQuestionSymbols.concat(notAllowHintSymbols));

                if (this.isQuestionError || this.isHintError) {
                    this.$emit('red-promt', this.$t('barcodes.wrong_symbols') + " '" + notAllowSymbols.join("', '") + "'");
                    return false;
                }
                
                let existCheckData = {index: this.curBarcode, question: this.question};
                if(this.isEdit && !this.isEditOff) {
                    existCheckData.exclude = {
                        type: 'open_question',
                        index: this.questionIndex
                    };
                }
                if(this.isQuestionExist(existCheckData)) {
//                if(this.$store.state.qr.list[this.curBarcode].additional.open_questions.find(item => item.question == this.question.trim())!=undefined) {
                    this.$emit('red-promt', this.$t('barcodes.popups.question_text_used'));
                    this.isQuestionError = true;
                    return false;
                }
                
                this.isQuestionError = false;
                this.isHintError = false;
                return true;
            },
            addOrSave: function() {
                if(this.validate()) {
                    let data = {
                            curBarcode: this.curBarcode,
                            question: this.question,
                            hint: this.hint
                        };
                    if(this.isEdit && !this.isEditOff) {
                        data.index = this.questionIndex;
                        this.EDIT_OPEN_QUESTION(data);
                        this.$emit('green-promt', this.$t('barcodes.popups.open_question_saved'));
                    } else {
                        this.ADD_OPEN_QUESTION(data);                       
                        this.$emit('green-promt', this.$t('barcodes.popups.open_question_added'));
                        this.$emit('added');
                    }
                    this.SET_CURBARCODE_CHANGED(this.curBarcode);
                    this.question = '';
                    this.hint = '';
                    
                }              
            },
            saveExit: function() {
                if(this.question!=='') {
                    if(this.validate()) {
                        this.addOrSave();
                        this.$emit('exit');
                    }
                } else {
                    this.$emit('exit');
                }
                              
            },
//            ...mapActions('qr', ['addEmptyOQ']),
            ...mapMutations('barcodes', ['SET_CURBARCODE_OQ_QUESTION', 'SET_CURBARCODE_OQ_HINT', 'ADD_OPEN_QUESTION', 'EDIT_OPEN_QUESTION', 'OQ_INIT', 'SET_CURBARCODE_CHANGED']),
        }
    }
</script>