<template>
    <v-container class="align-self-stretch align-content-start" fluid id="barcodes-nofacilities">
    <div class="container">
        <svg xmlns="http://www.w3.org/2000/svg" width="138.424" height="92.564" viewBox="0 0 138.424 92.564">
            <g id="Group_559" data-name="Group 559" transform="translate(-908 -538)">
              <path id="iconmonstr-qr-code-2" d="M73.28,7.714A11.585,11.585,0,0,1,84.851,19.284v54A11.585,11.585,0,0,1,73.28,84.851h-54A11.585,11.585,0,0,1,7.714,73.28v-54A11.585,11.585,0,0,1,19.284,7.714ZM73.28,0h-54A19.286,19.286,0,0,0,0,19.284v54A19.286,19.286,0,0,0,19.284,92.564h54A19.284,19.284,0,0,0,92.564,73.28v-54A19.284,19.284,0,0,0,73.28,0ZM42.425,30.855H38.569V23.141h3.857V27h7.714v3.857H46.282v3.857H42.425Zm7.714,46.282V73.28H46.282v3.857ZM46.282,19.284V15.427H38.569v3.857h3.857v3.857h3.857Zm30.855-3.857V38.569H73.28V34.712H57.853V15.427ZM73.28,30.855V19.284H61.71V30.855Zm-54,7.714H15.427v3.857h7.714V38.569Zm0,11.571h3.857V54H27V42.425H23.141v3.857H15.427V54h3.857ZM38.569,54V61.71h3.857V54ZM54,15.427H50.139V27H54Zm0,19.284V30.855H50.139v3.857ZM65.566,27h3.857V23.141H65.566ZM27,23.141H23.141V27H27Zm7.714-7.714V34.712H15.427V15.427Zm-3.857,3.857H19.284V30.855H30.855ZM65.566,38.569v3.857H61.71V38.569H54v3.857H50.139V38.569H38.569V34.712H34.712v3.857H30.855v3.857h3.857v7.714h3.857V46.282h3.857V54h3.857V46.282H57.853v3.857H50.139V54h7.714v3.857H61.71V46.282h3.857v3.857h3.857v7.714H73.28V54h3.857V50.139H73.28V46.282H69.423V42.425H73.28V38.569ZM23.141,69.423H27V65.566H23.141ZM15.427,57.853H34.712V77.137H15.427ZM19.284,73.28H30.855V61.71H19.284ZM65.566,61.71V57.853H61.71V61.71Zm0,3.857H61.71v3.857H57.853V65.566H54V61.71h3.857V57.853H50.139V54H46.282V61.71H42.425v3.857H38.569V77.137h3.857V73.28h3.857V69.423H54v7.714h3.857V73.28H61.71v3.857h7.714V73.28H73.28V69.423H65.566ZM30.855,54h3.857V50.139H30.855ZM69.423,61.71v3.857H73.28v3.857h3.857V57.853H73.28V61.71Zm7.714,15.427V73.28H73.28v3.857Zm0-30.855V42.425H73.28v3.857Z" transform="translate(930.76 538)" fill="#161616"/>
              <g id="Rectangle_289" data-name="Rectangle 289" transform="translate(910.121 543.015) rotate(30)" fill="#2a3140" stroke="#161616" stroke-width="1">
                <rect width="157.389" height="4.243" stroke="none"/>
                <rect x="0.5" y="0.5" width="156.389" height="3.243" fill="none"/>
              </g>
            </g>
        </svg>
        <div class="nofacilites-message">{{ $t('barcodes.nofacilities') }}</div>
    </div>
    </v-container>
</template>
<script>   
    export default {
       name: "BarcodesNoFacilities"
    }
</script>
<style>
#barcodes-nofacilities > .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.nofacilites-message {
    margin-top:50px;
    font-size: 28px;
}
</style>
